<div layout="row" layout="center start" class="cnpContentWrapper">
	<div class="cnpContent" layout="column">
		<div layout="row" layout-align="end center" class="md-default-theme cnpActionBar">
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'commentsList_title' | translate}}
				</label>
			</div>
		</div>
		<div layout="column" layout-align="start start" class="cnpSection">
			<div>
				<table ng-table="tableParams" class="cnpNgTable" id="commentsList" show-filter="false">
					<thead>
					</thead>
					<tr ng-repeat="comment in aDisplayedComments">
						<td data-title="'global_avatar' | translate">
							<div layout="row" layout-align="start center">
								<div layout="column" layout-align="center start">
									<img ng-src="{{comment.sAvatarUrl}}" style="width:34px; height:34px;"/>
								</div>
								<div layout="column" layout-align="center start" class="cnpNgTableCommentInfo1">
									<div>
										<span class="cnpNgTableCommentAuthor">
											{{comment.sAuthor}}{{comment._username}}
										</span>
									</div>
									<div>
										<span class="cnpNgTableCommentCreationDate">
											{{comment.sCreatedAt}}
										</span>
									</div>
								</div>
								
							</div>
						</td>
						<td data-title="'global_text' | translate">
							<div layout="row" layout-align="start center" >
								<div ng-if="!comment._editMode" class="cnpNgTableComment">
									{{comment.sText}}
								</div>
								<textarea ng-if="comment._editMode" ng-model="comment.sText" style="width: 50%;" class="cnpCommentTextArea"></textarea>
							</div>
						</td>
						<td data-title="'global_actions' | translate">
							<div layout="row" layout-align="center center">
								<div class="cnpInputIcon cnpEditDetailsIcon cnpEditDetailsIcon" ng-if="!comment._editMode && comment._allowEditMode" ng-click="onEdit(comment)">
								</div>
								<div class="cnpInputIcon cnpSaveIcon" ng-if="comment._editMode" ng-click="onSaveUpdate(comment)">
								</div>
								<div class="cnpInputIcon cnpDeleteIcon" ng-if="comment._editMode" ng-click="onDelete(comment)">
								</div>
							</div>
						</td>
					</tr>
					<tr ng-hide="aDisplayedComments.length > 0">
						<td colspan="{{$columns.length}}">
							<div layout="row" layout-align="start center">
								<div>
									{{'global_noTableData' | translate}}
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div layout="row" flex style="width: 100%">
				<div class="cnpSubSection" layout="row" flex>
					<textarea class="cnpCommentTextArea" ng-model="oComment.sText">
					</textarea>
					<div class="cnpCommentPostArea">
						<md-button class="md-button md-primary md-raised cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_post' | translate}}</md-button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>