<table style="width:100%">
	<tr>
		<td>
		</td>
		<td>
			<div class="pxViewTitle">{{viewTitleTE}}</div>			
		</td>
	</tr>
</table>	


<div static-include="apps/conspector/views/fragments/listTableSubHeader.html"></div>
 

<table id="accountsListTable" ng-table="oListTable" class="table pxListTable" style="margin-bottom: 1em; table-layout: fixed;" show-filter="bShowFilters">

    <tbody ng-repeat="group in $groups">
        <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong>{{ group.value }}</strong>
                </a>
            </td>
        </tr>


	<tr ng-hide="group.$hideRows" ng-repeat="account in group.data">

		<td data-title="actionTE">
			<i class="fa fa-eye" style="margin-right:0.5em; cursor: pointer;" ng-click="goToDisplayDetails(account)"></i>			
			<i class="fa fa-pencil-square-o" style="cursor: pointer;" ng-click="goToEditDetails(account)"></i>
		</td>
		<td data-title="nameTE" ng-bind-html="account.trHtmlFirstName| highlight:filter.$" sortable="'firstName'" filter ="{ 'firstName': 'text' }"></td>

		<td data-title="tagsTE" ng-bind-html="account.trHtmlTags| highlight:filter.$" sortable="'tags'" filter="{ 'tags': 'text' }"></td>		
		<td data-title="primaryPhoneTE" ng-bind-html="account.trHtmlPhone| highlight:filter.$" sortable="'phone'" filter="{ 'phone': 'text' }"></td>
		<td data-title="addressTE" ng-bind-html="account.trHtmlAddress| highlight:filter.$" sortable="'addres'" filter="{ 'addres': 'text' }"></td>
	</tr>

	</tbody>
	<tr ng-hide="oTableData.aDisplayedListItems.length > 0"><td colspan="6" >{{noDataSelectedTE}}</td></tr>	
</table>



