<div class="pxViewTitle">{{viewTitleTE}}</div>

	<div id="subheader" class="ng-scope">
		<button ng-click="onBackClick()" class="pxButton ng-scope back">{{goBackTE}}</button>

		<div class="icons">
			<button ng-click="onEdit()" ng-hide="!bAccountDisplayMode" class="pxButton ng-hide edit">{{editTE}}</button>
			<button ng-click="onSave()" ng-hide="bAccountDisplayMode" class="pxButton save">{{saveTE}}</button>
			<button ng-click="onSaveAndNew()" ng-hide="!bNewAccountCreation" class="pxButton">{{saveAndNewTE}}</button>		
			<button ng-click="onDelete()" ng-hide="bNewAccountCreation" class="pxButton">{{deleteTE}}</button>		
<!-- 	<button ng-click="onCancel()" ng-hide="bAccountDisplayMode || bNewAccountCreation" class="pxButton pxButtonSecondary">Cancel</button> -->
	</div>
</div> 

<tabset>
<tab heading="{{accountDetailsTabTE}}">
	   <table id="accountAttributeTable" class="cnpVerticalAfterSpacingX4" style="width:100%;">
	   	<tr>
	   		<td style="width: 50%; vertical-align: top; padding-right: 2em;">
	   			<table>
	   				<tr>
	   					<td>
	   						<span class="pxInputLabel">{{accountTypeTE}}</span>
	   						<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.accountType.name}}</label>
	   						<select ng-hide="bAccountDisplayMode" ng-model="oAccount.accountType" required-reference class="pxSelect form-control" ng-options="accountType.name for accountType in aAccountTypes">				
	   						</td>
	   					</tr>
	   					<tr>
	   						<td>
	   							<span class="pxInputLabel cnpVerticalBeforeSpacingX4">{{nameTE}}</span>
	   							<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.firstName}}</label>		
	   							<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.firstName" required class="pxFld form-control">		
	   						</td>				
	   					</tr>


	   					<tr>
	   						<td> 
	   							<span class="pxInputLabel cnpVerticalBeforeSpacingX4">{{primaryPhoneTE}}</span>
	   							<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.phone}}</label>		
	   							<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.phone"  class="pxFld form-control">		
	   						</td>				
	   					</tr>
	   					<tr>
	   						<td>
	   							<span class="pxInputLabel cnpVerticalBeforeSpacingX4">{{addressTE}}</span>
	   							<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.addres}}</label>		
	   							<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.addres" class="pxFld form-control">		
	   						</td>				
	   					</tr>		

	   					<tr>
		   					<td>
		   						<span class="pxInputLabel cnpVerticalBeforeSpacingX4">User</span>
		   						<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.user.userName}}</label>
		   						<select ng-hide="bAccountDisplayMode" ng-model="oAccount.user" required-reference class="pxSelect form-control" ng-options="user.userName for user in aUsers">		
		   					</td>			
	   					</tr>		   					   			
	   			</table>
	   		</td>
	   		<td style="width: 50%; vertical-align: top; padding-right: 2em;">
	   			<table>		   		
	   				<tr>
	   					<td>
	   						<span class="pxInputLabel">{{postalCodeTE}}</span>
	   						<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.postalCode}}</label>		
	   						<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.postalCode" class="pxFld form-control">		
	   					</td>				
	   				</tr>
	   				<tr>
	   					<td>
	   						<span class="pxInputLabel cnpVerticalBeforeSpacingX4">{{cityTE}}</span>
	   						<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.city}}</label>		
	   						<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.city"  class="pxFld form-control">		
	   					</td>				
	   				</tr>
	   				<tr>
	   					<td>
	   						<span class="pxInputLabel cnpVerticalBeforeSpacingX4">{{emailTE}}</span>
	   						<label ng-hide="!bAccountDisplayMode" class="pxDisabledFld">{{oAccount.email}}</label>		
	   						<input ng-hide="bAccountDisplayMode" type=text ng-model="oAccount.email"  class="pxFld form-control">		
	   					</td>				
	   				</tr>	

	   				<tr>
	   					<td>
	   						<span class="pxInputLabel cnpVerticalBeforeSpacingX4" ng-hide="bAccountDisplayMode && !oAccount.aTags.length">{{tagsTE}}</span>
	   						<tags-input ng-model="oAccount.aTags" placeholder="{{addATagTE}}" ng-hide="bAccountDisplayMode" on-tag-added="onTagAdded($tag)" on-tag-removed="	onTagRemoved($tag)"> 
	   							<auto-complete source="getAccountTags($query)"></auto-complete> 
	   						</tags-input>
	   						<div class="tags-wrapper" ng-hide="!bAccountDisplayMode || !oAccount.aTags.length" class="form-control">
	   							<ul class="tags-list">
	   								<li class="tag-item" ng-repeat="tag in oAccount.aTags">
	   									<span style="padding: 2px;">{{tag.text}}</span>
	   								</li>
	   							</ul>
	   						</div>
	   					</td>
	   				</tr>
	   			</table>			   			
	   		</td>		   		
	   	</tr>
		</table> 
</tab>	

<!-- <tab heading="Attachments" ng-hide="bNewAccountCreation">
<div class="container">
	<div class="row">

		<div class="col-md-3">

			<h3 class="pxMainHeader">Select files</h3>

			<div ng-show="uploader.isHTML5">
				<div class="well my-drop-zone pxMainTE" ng-file-drop="{ url: '/foo' }" ng-file-over="another-file-over-class" style="height: 125px;">
					File drop zone
				</div>
			</div>

			
			<input ng-file-select type="file" multiple />

		</div>

		<div class="col-md-9" >
			
			<h3 class="pxMainHeader">The queue</h3>
			<p class="pxMainTE">Queue length: {{ uploader.queue.length }}</p>

			<table class="table">
				<thead>
					<tr>
						<th width="50%" class="pxMainHeader">Name</th>
						<th ng-show="uploader.isHTML5" class="pxMainHeader">Size</th>
						<th ng-show="uploader.isHTML5" class="pxMainHeader">Progress</th>
						<th class="pxMainHeader">Status</th>
						<th class="pxMainHeader">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in uploader.queue">
						<td>
							<strong class="pxMainTE">{{ item.file.name }}</strong>

							<div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>

						</td>
						<td ng-show="uploader.isHTML5" nowrap class="pxMainTE">{{ item.file.size/1024/1024|number:2 }} MB</td>
						<td ng-show="uploader.isHTML5">
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						<td class="text-center">
							<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
								<span class="glyphicon glyphicon-upload pxMainTE"></span> Upload
							</button>
							<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
								<span class="glyphicon glyphicon-ban-circle pxMainTE"></span> Cancel
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
								<span class="glyphicon glyphicon-trash pxMainTE"></span> Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<p class="pxMainTE">
					Queue progress:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</p>
				<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
					<span class="glyphicon glyphicon-upload" class="pxMainTE"></span> Upload all
				</button>
				<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
					<span class="glyphicon glyphicon-ban-circle" class="pxMainTE"></span> Cancel all
				</button>
				<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
					<span class="glyphicon glyphicon-trash" class="pxMainTE"></span> Remove all
				</button>
			</div>

		</div>

	</div>

</div>
</tab>

<tab heading="Action Log">

</tab> -->						   

</tabset>	





