<table style="width: 100%;">
	<tr>
		<td></td>
		<td>
			<div class="pxViewTitle">{{viewTitleTE}}</div>				
		</td>
	</tr>
</table>

<div static-include="apps/conspector/views/fragments/listTableSubHeader.html"></div>

<table id="deficienciesListEndUserTable" ng-table="oListTable" class="table pxListTable" style="margin-bottom: 1em; table-layout: fixed;">


	<tr ng-repeat="deficiency in oTableData.aAllListItems" ng-style="{ 'color' : deficiency._associatedColor}">

		<td data-title="actionTE" ng-style="{ 'border-left-color' : deficiency._associatedColor}">
			<i class="fa fa-pencil-square-o" style="cursor: pointer;" ng-click="goToEditDetails(deficiency)"></i>
		</td>

		<td data-title="unitTE" ng-bind-html="deficiency.trHtmlUnitName| highlight:filter.$"></td>	

		<td data-title="statusTE"><div popover-placement="top" popover="{{deficiency._associatedStatusName}}" popover-trigger="mouseenter" ng-class="deficiency._associatedStatusIcon" style="left: 0; bottom: -4px; margin-left: 3rem"></div></td>

		<td data-title="tagsTE" ng-bind-html="deficiency.trHtmlLabels | highlight:filter.$"></td>

		<td data-title="locationsTE" ng-bind-html="deficiency.trHtmlEnvironment | highlight:filter.$"></td>		

<!-- 		<td data-title="accountTE" ng-bind-html="deficiency.trHtmlAccountFirstName | highlight:filter.$" sortable="'accountFirstName'" filter="{ 'accountFirstName': 'text' }" ></td>	 -->

		<td data-title="noteTE" ng-bind-html="deficiency.trHtmlNote | highlight:filter.$"></td>			

		<td data-title="imagesTE"><a class="pxLink"	ng-click="showDeficiencyPhotos($event, deficiency)">{{deficiency._attachmentsNumber}}</a></td>			

	</tr>
<!-- 	</tbody> -->
	<tr ng-hide="oTableData.aDisplayedListItems.length > 0"><td colspan="7" >No data selected</td></tr>
</table>