<div class="modal-header">
   <h3 class="pxPopupHeader">Select a report</h3>
</div>
<div class="modal-body">

 <table class="pxDoubleVerticalAfterSpacing">
   <tr>
     <td>
       <input id="deficineciesListReport" type="radio" ng-model="selectedReportType" name="selectedReportType" value="deficineciesList" class="pxRadioButton">
     </td>
     <td>
       <label class="pxRadioButtonLabel" for="deficineciesListReport">Deficiencies List</label>
     </td>
   </tr>
   <tr>
     <td>
       <input id="deficineciesListWithPhotosReport" type="radio" ng-model="selectedReportType" name="selectedReportType" value="deficineciesListWithPhotos" class="pxRadioButton" ng-click="onRBClick($event)">
     </td>
     <td>
       <label class="pxRadioButtonLabel" for="deficineciesListWithPhotosReport">Deficiencies List with Photos</label>
     </td>
   </tr>           
 </table> 

</div>
<div class="modal-footer">
   <button class="pxButton" ng-click="ok()" autofocus>{{okTE}}</button>
   <button class="pxButton" ng-click="no()">NO</button>   
</div>