<div id="spinnerBox" ng-show="$root.showSpinner">
	<div id="floatingBarsG">
		<div class="blockG" id="rotateG_01">
		</div>
		<div class="blockG" id="rotateG_02">
		</div>
		<div class="blockG" id="rotateG_03">
		</div>
		<div class="blockG" id="rotateG_04">
		</div>
		<div class="blockG" id="rotateG_05">
		</div>
		<div class="blockG" id="rotateG_06">
		</div>
		<div class="blockG" id="rotateG_07">
		</div>
		<div class="blockG" id="rotateG_08">
		</div>
	</div>
</div>
<div id="generalWrapper">
	<div id="header">
		<table id="logo">
			<tbody>
				<tr>
					<td>
						<img id="headerLogo" ng-src="{{sLogoUrl}}" />
					</td>
				</tr>
			</tbody>
		</table>
<!-- 		<table id="projectSelection">
			<tbody>
				<tr>
					<td>
						<span class="pxInputLabel">{{projectsAndPhasesSelectionTE}}</span>
						<div
							multi-select
							input-model="$root.oGlobalSelections.aProjects"
							button-label="parentName name"
							item-label="name"
							tick-property="ticked"
							orientation="vertical"
							group-property="multiSelectGroup"
							helper-elements=""
							on-close="$root.onSelectProjects()">
						</div>
					</td>
				</tr>
			</tbody>
		</table> -->
		<table id="headerLbs">
			<tbody>
				<tr><td><label id="languageBtnLb" ng-click="onLanguageBtnLbClick()">{{currentLanguageLb}}</label>
			</td></tr>
			<tr>
				<td>
					<label id="signInLb" ng-click="onSignInLbClick()"></label>
					<label id="welcomeLb">{{welcomeMessageTE}}</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="navigationPanel">
	<a ng-repeat="link in aMainNavigationLinks" ng-class="link.classes" ng-click="onMainNavigationLinkClick(aMainNavigationLinks, link)">{{link.linkTE}}</a>
</div>
<div id="contentArea">
	<div ui-view class=fadeInAnimation></div>
</div>
</div>
<div id="footer">
<a id="conspactorLnk" ui-sref="about" class="footerLink  conspector" href="#/about">{{poweredByConspectorTE}}</a>
<a id="aboutUsLnk" ui-sref="about" class="footerLink " href="#/about">{{aboutTE}}</a>
<a id="contactUsLnk" ng-click="onContactUpClick()" class="footerLink ">{{contactUsTE}}</a>
<span class="copyright">&copy; {{allRightsReservedTE}}</span>