<div id="formWrapper" style="width:97%; height: 100%; padding: 3%; background-color: white; margin-top: 1.5%; margin-left: 1.5%;" >
  <table style="width: 100%; padding-bottom: 1rem; border-bottom: 2px solid;">
  <tr>
    <td>
      <div style="font-weight: bold;">Deficiency Form for Customer</div>
    </td>
    <td>
      <label id="languageBtnLb" ng-click="onLanguageBtnLbClick()" style="float: right; margin-bottom: 10px;">{{currentLanguageLb}}</label>
    </td>
  </tr>
  </table>

  <table style="width: 100%; margin-top: 3rem; border: 2px solid;">
  <tr style="border-bottom: 1px solid;">
    <td style="padding: 2rem;">
            <span class="pxInputLabel">Please provide the name, email and phone number of the person in charge </span>
            <textarea ng-model="oDeficiency.description" style="height: 100px !important; margin-bottom: 0px !important; width: 100%;" class="form-control"></textarea>     
    </td>
  </tr>

  <tr style="border-bottom: 1px solid;">
    <td style="padding: 2rem;">
            <span class="pxInputLabel">1. Enter your condo unit#:</span>
            <input type=text ng-model="oDeficiency.unit" class="pxFld form-control">     
    </td>
  
  </tr>  

  <tr style="border-bottom: 1px solid;">
    <td style="padding: 2rem;">
            <span class="pxInputLabel">2. Descibe the issue with tags:</span>
            <input type=text ng-model="oDeficiency.unit" class="pxFld form-control">     
    </td>
  
  </tr> 

  <tr style="border-bottom: 1px solid;">
    <td style="padding: 2rem;">
            <span class="pxInputLabel">3. Tell us where the issue is located with location-tags:</span>
            <input type=text ng-model="oDeficiency.unit" class="pxFld form-control">     
    </td>
</tr> 
<tr style="border-bottom: 1px solid;">
    <td style="padding: 2rem;">
            <span class="pxInputLabel">4. Attach photos associated with the issue:</span>
            <input type=text ng-model="oDeficiency.unit" class="pxFld form-control">     
    </td>    
  
  </tr>  

<tr>
    <td style="padding: 2rem;">
      <button ng-click="onSubmitClick()" class="pxButton">Submit this issue</button>  
    </td>    
  
  </tr>       
  </table>  
</div>