<div class="modal-header">
   <h3 class="pxPopupHeader">Unsaved data</h3>
</div>
<div class="modal-body">

 <table class="pxDoubleVerticalAfterSpacing">
   <tr>
     <td>
       <label class="pxLabel">Deficiency has been modified. Do you want to save changes before leaving?</label>
     </td>
   </tr>
          
 </table> 

</div>
<div class="modal-footer">
   <button class="pxButton" ng-click="ok()" autofocus>{{okTE}}</button>
   <button class="pxButton" ng-click="no()">NO</button>   
</div>