<form name="companySelectionForm">
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>
	<label>{{'companySelection_heagerLabel' | translate}}</label>
	<md-radio-group ng-model="sSelectedCompanyName">
		<md-radio-button ng-repeat="company in aUserCompanies" ng-value="company.CompanyName">{{company.CompanyName}} ({{sLanguage === "en" ? company.DescriptionEN : company.DescriptionFR}})</md-radio-button>
	</md-radio-group>
	<md-button class="md-primary md-raised" ng-click="onContinue()" md-theme="orange">{{'global_continue' | translate}}</md-button>
</form>