<div class="cnpUserGlobalManagementWrapper" layout="column" layout-align="start center">
	<section class="cnpUserManagementWrapper">
	<form name="oForms.forgotPasswordForm" class="cnpUserManagementForm md-whiteframe-z1">
		<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center center">
			<div layout="row" layout-align="space-between center" style="width: 100%">
				<div ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
				<label ng-click="onChangeLanguage()" class="cnpLink cnpLinkMobileLanguage">
					<div class="notSelectable">
						{{'signIn_languageCode' | translate}}
					</div>
				</label>
			</div>
		</div>
		<!-- No log for now, takes too much space -->
		<!-- <div layout="row" layout-align="center center">
						<img src="apps/conspector/img/conspectorLogo.svg" class="cnpConspectorLogo cnpConspectorLogoSmaller">
		</div> -->
		<div layout="column" layout-align="center center" >
			<div class="cnpInstructionsWrapper notSelectable">
				<label>
					{{'forgotPassword_heagerLabel' | translate}}
				</label>
			</div>
			<md-radio-group ng-model="sSelectedResetType" ng-change="onResetTypeChange()" class="cnpInputWrapper cnpInputWrapperNoMargin notSelectable">
			<md-radio-button value="userName">
			{{'forgotPassword_userName' | translate}}
			</md-radio-button>
			<md-radio-button value="email">
			{{'forgotPassword_email' | translate}}
			</md-radio-button>
			</md-radio-group>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin" ng-if="sSelectedResetType === 'userName'">
				<input type="text" class="md-whiteframe-z1 cnpTextInputField cnpLessLeftPadding" autocapitalize="off" autocorrect="off"  ng-model="resetData.sUserName" placeholder="{{'forgotPassword_userName' | translate}}">
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin" ng-if="sSelectedResetType === 'email'" >
				<input type="email" class="md-whiteframe-z1 cnpTextInputField cnpLessLeftPadding" ng-model="resetData.sEmail" placeholder="{{'forgotPassword_email' | translate}}" name="email">
				<div class="cnpWarningMessageValidation" ng-messages="oForms.forgotPasswordForm.email.$error" ng-if="oForms.forgotPasswordForm.email.$invalid && sMode != 'display'" >
					<div class="cnpErrorMessageValidationMessage" ng-message="email">
						{{'global_emailValidationWarning' | translate}}
					</div>
				</div>
			</div>
			<div class="cnpInputWrapper">
				<md-button type="submit" class="md-button cnpLargeButton md-primary md-raised" ng-click="onReset()">
				{{'forgotPassword_reset' | translate}}
				</md-button>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperNoMargin">
				<label class="cnpUserManagementBottomLabel cnpUserManagementBottomLabelNoMargin">
					<div class="angular-with-newlines">
						{{'forgotPassword_footerLabel' | translate}}<a class="cnpLink" href="mailto:support@conspector.com">support@conspector.com</a>
					</div>
				</label>
			</div>
		</div>
	</form>
	</section>
</div>