<form name="forgotPasswordForm">
	<label  class="cnpLink">
		<div ng-click="onBack()">{{'global_back' | translate}}
		</div>
	</label>
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>
	<label>{{'forgotPassword_heagerLabel' | translate}}</label>
	<md-radio-group ng-model="sSelectedResetType" ng-change="onResetTypeChange()">
	<md-radio-button value="userName">{{'forgotPassword_userName' | translate}}</md-radio-button>
	<md-radio-button value="email">{{'forgotPassword_email' | translate}}</md-radio-button>
	</md-radio-group>
	<input type="text" ng-if="sSelectedResetType === 'userName'" ng-model="resetData.sUserName" placeholder="{{'forgotPassword_userName' | translate}}" required>
	<input type="email" ng-if="sSelectedResetType === 'email'" ng-model="resetData.sEmail" placeholder="{{'forgotPassword_email' | translate}}" required>
	<md-button type="submit" class="md-primary md-raised" ng-click="onReset()" md-theme="orange" ng-disabled='!forgotPasswordForm.$valid'>{{'forgotPassword_reset' | translate}}</md-button>
	<label>{{'forgotPassword_footerLabel' | translate}}</label>
</form>