<form name="initialPasswordResetForm">  <!-- novalidate  to prevent standard validation popups-->
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>	
	<label>{{'initialPasswordReset_headerLabel' | translate}}</label>
	<input type="password" ng-model="resetPasswordData.sNewPassword" placeholder="{{'initialPasswordReset_newPassword' | translate}}" required>
	<input type="password" ng-model="resetPasswordData.sNewPasswordConfirmation" placeholder="{{'initialPasswordReset_newPasswordConfirmation' | translate}}" required>	
	<button type="submit" ng-click="resetPassword()" ng-disabled='!initialPasswordResetForm.$valid'>{{'initialPasswordReset_reset' | translate}}</button>
</form>