<form name="initialPasswordResetForm">  <!-- novalidate  to prevent standard validation popups-->
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>	
	<label>{{'initialPasswordReset_headerLabel' | translate}}</label>
	<input type="password" ng-model="resetPasswordData.sNewPassword" placeholder="{{'initialPasswordReset_newPassword' | translate}}" required>
	<input type="password" ng-model="resetPasswordData.sNewPasswordConfirmation" placeholder="{{'initialPasswordReset_newPasswordConfirmation' | translate}}" required>	

	<md-button type="submit" class="md-primary md-raised" ng-click="resetPassword()" md-theme="orange" ng-disabled='!initialPasswordResetForm.$valid'>{{'initialPasswordReset_reset' | translate}}</md-button>	
</form>