<div class="cnpUserManagementWrapper" layout="column" layout-align="center center">
	<form name="initialPasswordResetForm" class="cnpUserManagementForm md-whiteframe-z1">
		<!-- novalidate  to prevent standard validation popups-->
		<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
			<div layout="row" layout-align="space-between end" style="width: 100%">
				<div ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
				<label ng-click="onChangeLanguage()" class="cnpLink">
					<div class="notSelectable">
						{{'signIn_languageCode' | translate}}
					</div>
				</label>
			</div>
		</div>
		<div layout="column" layout-align="center center" >
			<div class="cnpInstructionsWrapper notSelectable">
				<label>
					{{'initialPasswordReset_headerLabel' | translate}}
				</label>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="password" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpPasswordTextInputIcon" ng-model="resetPasswordData.sNewPassword" placeholder="{{'initialPasswordReset_newPassword' | translate}}" required>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="password" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpPasswordTextInputIcon" ng-model="resetPasswordData.sNewPasswordConfirmation" placeholder="{{'initialPasswordReset_newPasswordConfirmation' | translate}}" required>
			</div>
			<div class="cnpInputWrapper">
				<md-button type="submit" class="md-button cnpLargeButton md-primary md-raised" ng-click="resetPassword()">
				{{'initialPasswordReset_reset' | translate}}
				</md-button>
			</div>
		</div>
	</form>
</div>