<section layout="column" style="padding: 1rem;">
	<form name="oForms.initialPasswordResetForm" novalidate>
		<!-- novalidate  to prevent standard validation popups-->
		<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
			<div layout="row" layout-align="space-between center" style="width: 100%">
				<div ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton ">
					{{'global_back' | translate}}
				</div>
				<label ng-click="onChangeLanguage()" class="cnpLink cnpLinkMobileLanguage">
					<div class="notSelectable">
						{{'signIn_languageCode' | translate}}
					</div>
				</label>
			</div>
		</div>
		<div layout="column" layout-align="center center" >
			<div class="cnpInstructionsWrapper notSelectable">
				<label>
					{{'initialPasswordReset_headerLabel' | translate}}
				</label>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="password" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpPasswordTextInputIcon" autocapitalize="off" autocorrect="off" ng-model="resetPasswordData.sNewPassword" placeholder="{{'initialPasswordReset_newPassword' | translate}}" required ng-minlength="8" name="password">
				<div class="cnpErrorMessageValidation" ng-messages="oForms.initialPasswordResetForm.password.$error" ng-if="!oForms.initialPasswordResetForm.password.$valid && !oForms.initialPasswordResetForm.password.$pristine">
					<div class="cnpErrorMessageValidationMessage" ng-message="required">
						{{'global_emptyFieldError' | translate}}
					</div>
					<div class="cnpErrorMessageValidationMessage" ng-message="minlength">
						{{'global_minPasswordLength' | translate}}
					</div>
				</div>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="password" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpPasswordTextInputIcon" autocapitalize="off" autocorrect="off" ng-model="resetPasswordData.sNewPasswordConfirmation" placeholder="{{'initialPasswordReset_newPasswordConfirmation' | translate}}" required required ng-minlength="8" name="passwordConfirmation">
				<div class="cnpErrorMessageValidation" ng-messages="oForms.initialPasswordResetForm.passwordConfirmation.$error" ng-if="!oForms.initialPasswordResetForm.passwordConfirmation.$valid && !oForms.initialPasswordResetForm.passwordConfirmation.$pristine">
					<div class="cnpErrorMessageValidationMessage" ng-message="required">
						{{'global_emptyFieldError' | translate}}
					</div>
					<div class="cnpErrorMessageValidationMessage" ng-message="minlength">
						{{'global_minPasswordLength' | translate}}
					</div>
				</div>
			</div>
			<div class="cnpInputWrapper">
				<md-button type="submit" class="md-button cnpLargeButton md-primary md-raised" ng-click="resetPassword()">
				{{'initialPasswordReset_reset' | translate}}
				</md-button>
			</div>
		</div>
	</form>
</section>
