<form name="passwordResetForm">  <!-- novalidate  to prevent standard validation popups-->
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>	
	<label>{{'passwordReset_headerLabel' | translate}}</label>
	<input type="password" ng-model="resetPasswordData.sNewPassword" placeholder="{{'passwordReset_newPassword' | translate}}" required>
	<input type="password" ng-model="resetPasswordData.sNewPasswordConfirmation" placeholder="{{'passwordReset_newPasswordConfirmation' | translate}}" required>	

	<md-button type="submit" class="md-primary md-raised" ng-click="resetPassword()" md-theme="orange" ng-disabled='!passwordResetForm.$valid'>{{'passwordReset_reset' | translate}}</md-button>	
</form>