<form name="signInForm">
	<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>
	<input type="text" ng-model="logInData.sUserName" placeholder="{{'signIn_userName' | translate}}" required>
	<input type="password" ng-model="logInData.sPassword" placeholder="{{'signIn_password' | translate}}" required>
	<md-button type="submit" class="md-primary md-raised" ng-click="login()" md-theme="orange" ng-disabled='!signInForm.$valid'>{{'signIn_logIn' | translate}}</md-button>
	<md-checkbox ng-model="logInData.bRememberUserName">
	{{'signIn_rememberUserName' | translate}}
	</md-checkbox>
	<label ng-click="onForgotPassword()">{{'signIn_forgotPassword' | translate}}</label>
</form>