<section layout="column" style="padding: 1rem;">
	<form name="oForms.signInForm" novalidate ng-submit="login()" >
		<div ng-init="setForm(signInForm)"></div>
		<input type="password" style="display:none"/>	<!-- needed to bypass autocomplit-->
		<div layout="row" layout-align="end start">
			<label ng-click="onChangeLanguage()" class="cnpLink cnpLinkMobileLanguage"><div class="notSelectable">{{'signIn_languageCode' | translate}}</div></label>
		</div>
		<div layout="row" layout-align="center center" >
			<img src="apps/conspector/img/conspectorLogo.svg" class="cnpConspectorLogo">
		</div>
		<div layout="column" layout-align="center center" >
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="text" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpUsernameTextInputIcon" autocapitalize="off" autocorrect="off" ng-model="$storage.sUserName" placeholder="{{'signIn_userName' | translate}}" name="userName" required>
				<div class="cnpErrorMessageValidation" ng-messages="oForms.signInForm.userName.$error" ng-if="oForms.signInForm.userName.$dirty || submitted">
					<div class="cnpErrorMessageValidationMessage" ng-message="required">
						{{'global_emptyFieldError' | translate}}
					</div>
				</div>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperLessMargin">
				<input type="password" class="md-whiteframe-z1 cnpTextInputField cnpWithAnimation cnpInputIcon cnpPasswordTextInputIcon" autocapitalize="off" autocorrect="off" ng-model="$storage.sPassword" placeholder="{{'signIn_password' | translate}}" name="password" required>
				<div class="cnpErrorMessageValidation" ng-messages="oForms.signInForm.password.$error" ng-if="oForms.signInForm.password.$dirty || submitted">
					<div class="cnpErrorMessageValidationMessage" ng-message="required">
						{{'global_emptyFieldError' | translate}}
					</div>
				</div>
			</div>
			<div class="cnpInputWrapper">
				<md-button type="submit" class="md-button cnpLargeButton md-primary md-raised">{{'signIn_logIn' | translate}}</md-button>
			</div>
			<div class="cnpInputWrapper">
				<md-switch class="md-checkbox" ng-model="bRememberUserName">
				<div class="notSelectable cnpCursorDefault minus2pxMarginTop">
					{{'signIn_rememberUserName' | translate}}
				</div>
				</md-switch>
			</div>
			<div class="cnpInputWrapper cnpInputWrapperNoMargin">
				<label class="cnpUserManagementBottomLabel cnpLink" ng-click="onForgotPassword()">
					<div class="notSelectable">
						{{'signIn_forgotPassword' | translate}}
					</div>
				</label>
			</div>
		</div>
	</form>
</section>