<md-content layout="row" layout="center start" class="cnpContentWrapper">
<!-- SIDENAV -->
<!-- 	<md-sidenav class="md-sidenav-left cnpSidenavLeft" md-component-id="left">
<md-toolbar class="md-default-theme" layout="column" layout-align="center start">
<label class="cnpSidebarTitle">
		Just a sidenav
</label>
</md-toolbar>
<div class="cnpSidenavElements">
	Content of the sidenav
</div>
</md-sidenav> -->
<!-- END OF SIDENAV -->
<!-- CONTENT SECTION WITH TITLE AND BUTTON FOR SIDE BAR -->
<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<!-- <div>
													<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()" hide-gt-md>
													Open Sidenav
													</md-button>
			</div> -->
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		
		<div flex layout="row" layout-align="start center">
			<div flex-order="1">
				<md-button  ng-if="bDisplayAddButton" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon  cnpButtonMarginRight notSelectable" ng-click="onAddNew()">
				{{'contractorsList_addNew' | translate}}
				</md-button>
				<md-button class="md-button md-primary md-raised cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpEraseIcon cnpButtonMarginRight notSelectable" ng-click="onClearFiltering()">{{'global_clearFiltering' | translate}}</md-button>
			</div>
			<div flex flex-order="2" layout="row" layout-align="start center">
				<md-switch  class="md-checkbox md-checkboxForList" ng-model="oListSettings.bGroupListByProjectAndPhase" ng-change="onGroupingChange()" style="margin-left: 24px;">
				<div class="notSelectable cnpCursorDefault minus2pxMarginTop">
					{{'global_groupByProjectAndPhase' | translate}}
				</div>
				</md-switch>
			</div>
			
		</div>
		<!-- 		<div>
			<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onGenerateReport()">{{'global_generateReport' | translate}}</md-button>
		</div> -->
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'contractorsList_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="contractorsList" show-filter="true">
			<tbody ng-repeat="group in $groups">
				<tr class="ng-table-group notSelectable" >
					<td colspan="{{$columns.length}}" style="overflow: visible; padding-left: 0; padding-right: 0">
						<div class="ng-table-group-cell notSelectable" ng-click="group.$hideRows = !group.$hideRows" ng-class="{ 'ng-table-group-cell-collapsed': group.$hideRows, 'ng-table-group-cell': !group.$hideRows }">{{ group.value }}
							<!-- <div class="glyphicon notSelectable" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">{{ group.value }}</div> -->
						</div>
					</td>
				</tr>
				<tr ng-hide="group.$hideRows" ng-repeat="contractor in group.data">
					<td data-title="'global_actions' | translate">
						<div layout="row" layout-align="center center">
							<div class="cnpInputIcon cnpViewDetailsIcon" ng-click="onDisplay(contractor)">
							</div>
							<div ng-if="bDisplayEditButtons" class="cnpInputIcon cnpEditDetailsIcon"  ng-click="onEdit(contractor)">
							</div>
						</div>
					</td>
					<td data-title="'global_contractorName' | translate" sortable="'sContractorName'" filter="{'sContractorName': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>
								{{contractor.sContractorName}}
								</span>
							</div>
						</div>
					</td>
					<td data-title="'global_phone' | translate" sortable="'sPhone'" filter="{'sPhone': 'text'}">
						<div layout="row" layout-align="center center">
							<div><a href="tel:+{{contractor.sPhone | phoneFormatter}}">
							<span>{{contractor.sPhone | phoneFormatter}}</span></a>
						</div>
					</td>
					
					<td data-title="'global_email' | translate" sortable="'sEmail'" filter="{'sEmail': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<a href="mailto:{{contractor.sEmail}}">
									<span>
									{{contractor.sEmail}}
									</span>
								</a>
							</div>
						</div>
					</td>
					<td data-title="'global_tags' | translate" sortable="'sTags'" filter="{'sTags': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{contractor.sTags}}</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tr ng-if="$groups.length == 0">
				<td td colspan="5">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- END OF NG TABLE -->
<!-- END OF CONTENT VIEW -->
</md-content>