<div layout="row" layout="center start" class="cnpContentWrapper">
<div ui-view="contractorDetails" style="width: 100%;"></div>
<div id="embeddedContactsList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayContactsList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayContactsList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayContactsList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayContactsList">{{'global_showContactsListContractor' | translate}}</span>
		<span ng-show="bDisplayContactsList">{{'global_hideContactsListContractor' | translate}}</span>
	</div>
	</button>
</div>
<div ng-if="bDisplayContactsList" ui-view="contractorContacts"></div>
<div id="embeddedDeficienciesList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayDeficienciesList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayDeficienciesList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayDeficienciesList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayDeficienciesList">{{'global_showDeficienciesListContractor' | translate}}</span>
		<span ng-show="bDisplayDeficienciesList">{{'global_hideDeficienciesListContractor' | translate}}</span>
	</div>
	</button>
</div>
<div ng-if="bDisplayDeficienciesList" ui-view="contractorDeficiencies"></div>
<div id="embeddedActivitiesList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayActivitiesList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayActivitiesList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayActivitiesList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayActivitiesList">{{'global_showActivitiesListContractor' | translate}}</span>
		<span ng-show="bDisplayActivitiesList">{{'global_hideActivitiesListContractor' | translate}}</span>
	</div>
	</button>
</div>
<div ng-if="bDisplayActivitiesList" ui-view="contractorActivities"></div>
<div style="height: 400px;"></div>
</div>