<div>{{'contractorsList_title' | translate}}</div>
<md-button type="submit" class="md-primary md-raised" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button>
<table ng-table="tableParams" style="width: 100%; border:1px solid black;" show-filter="true">
	<tbody ng-repeat="group in $groups">
		<tr class="ng-table-group">
			<td colspan="{{$columns.length}}">
				<a href="" ng-click="group.$hideRows = !group.$hideRows">
					<span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
					<strong>{{ group.value }}</strong>
				</a>
			</td>
		</tr>
		<tr ng-hide="group.$hideRows" ng-repeat="contractor in group.data">
			<td data-title="actionsTE" style="width: 10%;">
				<span ng-click="onDisplay(contractor)">Display</span>
				<span ng-click="onEdit(contractor)">Edit</span>
			</td>
			<td data-title="contractorNameTE" sortable="'sContractorName'" filter="{'sContractorName': 'text'}" style="width: 20%;">
				<span>{{contractor.sContractorName}}</span>
			</td>
			<td data-title="phoneTE" sortable="'sPhone'" filter="{'sPhone': 'text'}" style="width: 20%;">
				<span>{{contractor.sPhone}}</span>
			</td>
			<td data-title="emailTE" sortable="'sEmail'" filter="{'sEmail': 'text'}" style="width: 20%;">
				<span>{{contractor.sEmail}}</span>
			</td>
			<td data-title="tagsTE" sortable="'sTags'" filter="{'sTags': 'text'}" style="width: 30%;">
				<span>{{contractor.sTags}}</span>
			</td>
		</tr>
	</tbody>
	<tr ng-hide="$groups.length > 0">
		<td colspan="5" >{{'global_noTableData' | translate}}</td>
	</tr>
</table>