<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
		</div>
	</div>
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-warn md-hue-2 md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
			<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<form name="oForms.contractorDetailsForm" novalidate>
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contractorDetails_name' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oContractor.sName}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sName" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'contractorDetails_namePlaceholder' | translate}}" name="contractorName" required>
					<div class="cnpErrorMessageValidation" ng-messages="oForms.contractorDetailsForm.contractorName.$error" ng-if="(oForms.contractorDetailsForm.contractorName.$dirty || submitted) && sMode != 'display'">
						<div class="cnpErrorMessageValidationMessage" ng-message="required">
							{{'global_emptyFieldError' | translate}}
						</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contractorDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aUserProjectsPhasesForMultiselect"
						button-label="fullName"
						default-label="{{'global_selectedProjectsAndPhases' | translate }}"
						item-label="name"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						output-model="aSelectedPhases"
						
						>
					</div>
					<!-- <input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.contractorDetailsForm.selectedPhases.$error" ng-if="(oForms.contractorDetailsForm.selectedPhases.$dirty && !oForms.contractorDetailsForm.selectedPhases.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div> -->
				</div>
			</div>
			<div layout="column" layout-gt-md="row" style="width: 100%" flex>
				<div layout="row" style="width: 100%" flex>
					<div class="cnpSubSection" flex>
						<div layout="row">
							<div flex="70">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'contractorDetails_phone' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oContractor.sPhone | phoneFormatter}}">{{oContractor.sPhone | phoneFormatter}}</a></div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sPhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
							</div>
							<div flex="30">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'global_phoneExtension' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sPhoneExtension}}</div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sPhoneExtension" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phoneExtensionPlaceholder' | translate}}">
							</div>
						</div>
						<div layout="row">
							<div flex="70">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'contractorDetails_secondaryPhone' | translate}}
									</label>
								</div>
								<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oContractor.sSecondaryPhone | phoneFormatter}}">{{oContractor.sSecondaryPhone | phoneFormatter}}</a></div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sSecondaryPhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
							</div>
							<div flex="30">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'global_phoneExtension' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sSecondaryPhoneExtension}}</div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sSecondaryPhoneExtension" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phoneExtensionPlaceholder' | translate}}">
							</div>
						</div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_website' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="http://{{oContractor.sWebsite}}" target="_blank">{{oContractor.sWebsite}}</a></div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sWebsite" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_websitePlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_email' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="mailto:{{oContractor.sEmail}}">{{oContractor.sEmail}}</a></div>
						<input type="email" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sEmail" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_emailPlaceholder' | translate}}" name="contractorEmail">
						<div class="cnpWarningMessageValidation" ng-messages="oForms.contractorDetailsForm.contractorEmail.$error" ng-if="oForms.contractorDetailsForm.contractorEmail.$invalid && sMode != 'display'" >
							<div class="cnpErrorMessageValidationMessage" ng-message="email">
								{{'global_emailValidationWarning' | translate}}
							</div>
						</div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_fax' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sFax | phoneFormatter}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sFax" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
					</div>
					<div class="cnpSubSection" flex>
						<div class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_descriptionTags' | translate}}
							</label>
						</div>
						<!-- TO DO -->
						<tags-input
						name="contractorDescriptionTags"
						ng-model="oContractor.aTags"
						ng-hide="sMode == 'display'"
						replace-spaces-with-dashes="false"
						placeholder="{{'global_addTag' | translate}}"
						max-length="25"
						on-tag-added="onDataModified()"
						on-tag-removed="onDataModified()">
						</tags-input>
						<div class="cnpWarningMessageForTagsLength" ng-if="oForms.contractorDetailsForm.contractorDescriptionTags.$invalid">
							<div class="cnpErrorMessageValidationMessage">{{'global_minimunTagsLength' | translate}}</div>
						</div>
						<div class="tags-wrapper form-control"  ng-show="sMode == 'display'">
							<ul class="tags-list">
								<li class="tag-item" ng-repeat="tag in oContractor.aTags">
									<span style="padding: 2px;">{{tag.text}}</span>
								</li>
							</ul>
						</div>
						<!-- 	<div class="tags-wrapper" ng-hide="!bDeficiencyDisplayMode || !oDeficiency.aTags.length" class="form-control">
									<ul class="tags-list">
																<li class="tag-item" ng-repeat="tag in oDeficiency.aTags">
																							<span style="padding: 2px;">{{tag.text}}</span>
																</li>
									</ul>
						</div>	 -->
					</div>
				</div>
				<div layout="row" flex style="width: 100%">
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_billingStreet' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sBillingStreet}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sBillingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingStreetPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_billingCity' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sBillingCity}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sBillingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingCityPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_billingPostalCode' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sBillingPostalCode}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sBillingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingPostalCodePlaceholder' | translate}}">
						
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_billingCountry' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor._billingCountryCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aBillingCountries"
							button-label="name"
							default-label="{{'global_selectCountry' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onBillingCountryChanged()"
							helper-elements="filter"
							>
						</div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_billingProvince' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor._billingProvinceCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aBillingProvinces"
							button-label="name"
							default-label="{{'global_selectState' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onDataModified()"
							helper-elements="filter"
							>
						</div>
					</div>
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_shippingStreet' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sShippingStreet}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sShippingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingStreetPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_shippingCity' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sShippingCity}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sShippingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingCityPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_shippingPostalCode' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor.sShippingPostalCode}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContractor.sShippingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingPostalCodePlaceholder' | translate}}">
						
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_shippingCountry' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor._shippingCountryCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aShippingCountries"
							button-label="name"
							default-label="{{'global_selectCountry' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onShippingCountryChanged()"
							helper-elements="filter"
							>
						</div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'contractorDetails_shippingProvince' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContractor._shippingProvinceCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aShippingProvinces"
							button-label="name"
							default-label="{{'global_selectState' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onDataModified()"
							helper-elements="filter"
							>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</form>
</div>