<table style="width: 100%;">
  <tr>
    <td>
    </td>
    <td>
      <div class="pxViewTitle">{{viewTitleTE}}</div>
    </td>
  </tr>
  <tr>
    <td>
      </td>
    <td style="float: right; padding-top: 1rem;">
      <button ng-click="onSavePasswordClick()" class="pxButton">{{saveTE}}</button>
    </td>
  </tr>
</table>
<tabset>
<tab heading="{{viewTitleTE}}">
<table style="width:40%;">
  <tr>
    <td>
      <span class="pxInputLabel">{{oldPasswordTE}}</span>
      <input type=password ng-model="oPasswordData.oldPassword" required class="pxInputTextField pxVerticalAfterSpacing">
      <span class="pxInputLabel">{{newPasswordTE}}</span>
      <input type=password ng-model="oPasswordData.newPassword" required class="pxInputTextField pxVerticalAfterSpacing">
      <span class="pxInputLabel">{{confirmNewPasswordTE}}</span>
      <input type=password ng-model="oPasswordData.confirmedNewPassword" required class="pxInputTextField pxVerticalAfterSpacing">
    </td>
  </tr>
</table>
</tabset>