<div class=pxViewContent>
	<table class="pxViewContentTable">
		<tr>
			<td class="pxViewContentTableLeftPanel">
				<ul>
					<div ng-repeat-start="link in aLeftSideNavigationLinks" ng-class="link.arrowClasses" ng-click="onLeftSideNavigationLinkClick(aLeftSideNavigationLinks, link)"></div>
					<li ng-repeat-end="" class="cnpSideNav">
						<a ng-class="pxSubNavigationItem" ng-click="onLeftSideNavigationLinkClick(aLeftSideNavigationLinks, link)">{{link.linkTE}}</a>
					</li>
				</ul>
			</td>
			<td>
				<div ui-view class=fadeInAnimation></div>
			</td>
		</tr>
	</table>
</div>