<div class="cnpContentWrapper" layout="column" layout-align="start center">
	<!-- <img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1166.JPG">
	<div style="height: 300px;">PHOTO</div>
	-->
	<div class="cnpPromoLangingPageDiv">
		<div class="cnpPromoBigTitle" layout="row" layout-align="center center">COMING SOON</div>
		<img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1223.png">
	</div>
	<!-- <div layout="row" layout-align="center center" class="cnpPromoTitle">{{ 'global_bigPunch' | translate }}
	</div>
	<div layout="row" layout-align="center center" class="cnpPromoTitle cnpPromoTitleH2">{{ 'global_anAppFor' | translate }}
	</div>
	<div class="cnpPromoLangingPageDiv" layout-sm="column" layout-align-sm="start center" layout="row" layout-align="center start">
		<div class="cnpPromoLangingPageSubDiv"><div>{{ 'global_licenseGenEntr' | translate }}</div>
		</div>
		<div class="cnpPromoLangingPageSubDiv"><div>{{ 'global_licenseSousT' | translate }}</div>
		</div>
				<div class="cnpPromoLangingPageSubDiv"><div>{{ 'global_licensePromo' | translate }}</div>
		</div>
		
	</div> -->
	<!-- <div class="cnpPromoLangingPageDiv">
			<div class="cnpPromoBigTitle " layout="row" layout-align="center center">Gestion des déficiences sur mobile</div>
			<img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1255.png">
	</div> -->
	<!-- <div style="height: 300px;">PHOTO</div>
	<img class="cnpPromoLangingPageImagePortrait" src="apps/conspector/img/DSC_1270.png"> -->
</div>