<md-content class="cnpContentWrapper" layout="column" layout-align="start center">
<div style="height: 300px;">PHOTO</div>
<div style="height: 300px;">PHOTO</div>
<div style="height: 300px;">PHOTO</div>
<footer class="cnpFooter" layout="column" layout-align="start center">
<div layout-sm="column" layout-align-sm="start start" layout-gt-sm="row"  layout-align-gt-sm="start start" class="cnpFooterBlock" flex>
	<div>
		<ul>About Us
			<li>Team
			</li>
		</ul>
	</div>
	<div>
		<ul>About Us
			<li>Team
			</li>
		</ul>
	</div>
</div>
</footer>
</md-content>