<div class="cnpContentWrapper" layout="column" layout-align="start center">
<!-- <img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1166.JPG">
<div style="height: 300px;">PHOTO</div>
 -->

<div class="cnpPromoLangingPageDiv">
	<div class="cnpPromoBigTitle" layout="row" layout-align="center center">Applications web et mobile pour le chantier</div>
	<img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1223.png">
</div>
<div style="height: 300px;">PHOTO</div>
<div class="cnpPromoLangingPageDiv">
	<div class="cnpPromoBigTitle " layout="row" layout-align="center center">Gestion des déficiences sur mobile</div>
	<img class="cnpPromoLangingPageImage" src="apps/conspector/img/DSC_1255.png">
</div>
<!-- <div style="height: 300px;">PHOTO</div>
<img class="cnpPromoLangingPageImagePortrait" src="apps/conspector/img/DSC_1270.png"> -->
<footer class="cnpFooter" layout="column" layout-align="start center">
<div layout-sm="column" layout-align-sm="start start" layout-gt-sm="row"  layout-align-gt-sm="start start" class="cnpFooterBlock" flex>
	<div>
		<ul>About Us
			<li>Team
			</li>
		</ul>
	</div>
	<div>
		<ul>About Us
			<li>Team
			</li>
		</ul>
	</div>
</div>
</footer>
</div>