<section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
	<div layout="row" class="cnpMobileHeader" layout-align="start center">
		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
			<img src="apps/conspector/img/mobileMenuIcon_tiny.svg"/>
		</div>
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
		</div>
		<div class="cnpMobileTitle" flex>
				{{'deficiencyDetails_deficiencyQuickAdd' | translate}}
		</div>
	</div>
	
	<div class="cnpMobileListWrapper">
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onPhaseAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_associatedProjectsAndPhases' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oPhase.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onUnitAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_unit' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oUnit.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onStatusAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_status' | translate}}
			</div>
			<div layout="row" layout-align="start center" style="margin-top: 12px;">
				<img ng-src="{{oDeficiencyAttributes.oStatus.sIconUrl}}" class="cnpMobileStatusIcon">
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" ng-cloak>
					{{$root.oDeficiencyAttributes.oStatus.sValue}}
				</label>
			</div>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onContractorsAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_contractors' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oContractors.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onDescriptionTagsAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_descriptionTags' | translate}}
			</div>
			<label class="cnpMobileItemValue cnpMobileItemValueTags" ng-cloak>
				{{$root.oDeficiencyAttributes.oDescriptionTags.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onLocationTagsAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_locationTags' | translate}}
			</div>
			<label class="cnpMobileItemValue cnpMobileItemValueTags" ng-cloak>
				{{$root.oDeficiencyAttributes.oLocationTags.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onPriorityAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_deficiencyPriority' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oPriority.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onUserAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_assignedUser' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oUser.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onImagesAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'global_images' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oDeficiencyAttributes.oImages.iValue}}
			</label>
		</div>
		</button>
		<div layout="column" layout-align="start center">
			<md-button type="submit" class="md-button md-primary md-raised cnpMobileLargeButton cnpInputIcon cnpSaveIconWhiteMobile notSelectable" ng-click="onSave()" ng-cloak>
			{{'global_mobileSave' | translate}}
			</button>
		</div>
	</div>
</section>