<section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
	<div layout="row" class="cnpMobileHeader" layout-align="space-between start">
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
		</div>
		<div ng-click="onMainMenu()">Menu</div>
	</div>

	<div ng-click="onSearch()">Search</div>

	<div class="cnpMobileListWrapper">
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectPhaseSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_associatedProjectsAndPhases' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oPhase.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectUnitSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_unit' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oUnit.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectStatusSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_status' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oStatus.sValue}}
			</label>
		</div>
		</button>				
	</div>	
</section>	