<div layout="row" layout="center start" class="cnpContentWrapper">
	<div class="cnpMobileContent" layout="column">
		<div class="cnpMobileSubHeaderText" layout="column" layout-align="center center">
			{{::'hybrid_selectSearchCriterias' | translate}}
		</div>
		<md-button class="md-button cnpMobileListButton" ng-click="onSelectPhaseSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{::'deficiencyDetails_associatedProjectsAndPhases' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oPhase.sValue}}
			</label>
		</div>
		</md-button>
		<md-divider></md-divider>
		<md-button class="md-button cnpMobileListButton" ng-click="onSelectUnitSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{::'deficiencyDetails_unit' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oUnit.sValue}}
			</label>
		</div>
		</md-button>
		<md-divider></md-divider>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectStatusSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{::'deficiencyDetails_status' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oStatus.sValue}}
			</label>
		</div>
		</button>
		<button ng-show="sCurrentRole != 'contractor'" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectContractorSearchCriteria()" style="border-bottom-width: 2px;">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{::'deficiencyDetails_contractors' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oContractor.sValue}}
			</label>
		</div>
		</button>
		<div layout="column" layout-align="start center">
			<md-button type="submit" class="md-button md-primary md-raised cnpMobileLargeButton notSelectable" ng-click="onSearch()" ng-cloak>
			{{::'hybrid_searchDeficiencies' | translate}}
			</button>
		</div>
	</div>
	
	<md-divider></md-divider>

	<button ng-repeat="deficiency in $root.aDeficiencies"class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectDeficiency(deficiency)">
	<div layout="column" layout-align="center start">
		<div class="cnpMobileListItem" layout="row" layout-align="space-between center" ng-cloak style="height: 38px; width: 100%;">
			<div layout="row" layout-align="start center">
				<div layout="row" layout-align="start center">
					<img ng-src="{{deficiency.sStatuseIconUrl}}" class="cnpMobileStatusIcon">
				</div>
				<div style="font-size: 18px;">{{deficiency.sUnit}}
				</div>
			</div>
			<!-- 				<div>
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" ng-cloak>
					{{deficiency.sStatusDescription}}
				</label>
			</div> -->
			<div layout="row" layout-align="start center">
				<div layout="row" layout-align="center center" ng-show="deficiency.iImagesNumber || deficiency.iImagesNumber == 0"
					ng-class="{ 'cnpInputIcon cnpImagesIcon cnpImagesIconInMobileAppInList notSelectable': deficiency.iImagesNumber>0, 'cnpInputIcon cnpImagesIcon cnpImagesIconInMobileAppInList cnpImagesIconWithOpacity notSelectable': deficiency.iImagesNumber==0 }" >
					
					<a>
						({{deficiency.iImagesNumber}})
					</a>
				</div>
				<div layout="row" layout-align="center center" ng-show="deficiency.iCommentsNumber || deficiency.iCommentsNumber == 0"
					ng-class="{ 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList notSelectable': deficiency.iCommentsNumber>0, 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList cnpCommentsIconWithOpacity notSelectable': deficiency.iCommentsNumber==0 }" >
					
					<a>
						({{deficiency.iCommentsNumber}})
					</a>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between start" style="width: 100%;">
			<div layout="column" layout-align="start start" flex>
				<div class="cnpMobileListItem cnpMobileContractorLabel" ng-if="deficiency.sContractors != '' && sCurrentRole != 'contractor'" ng-cloak>
					{{deficiency.sContractors}}
				</div>
				<div class="cnpMobileListItem cnpMobileTagsInList" ng-cloak ng-if="deficiency.sTags != ''"style="margin-bottom: 8px;">
					{{deficiency.sTags}}
				</div>
				<div class="cnpMobileListItem cnpMobileLocationTagsInList" ng-if="deficiency.sLocationTags != ''" ng-cloak>
					{{deficiency.sLocationTags}}
				</div>
				
			</div>
		</div>
		
	</div>
	</button>

	
	
</div>
<!-- <div id="scrollableArea" style="webkit-overflow-scrolling: touch;"> -->
<!-- </section> -->
<!-- <section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }"> -->
<!-- 		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
	<img ng-src="{{$root.sMenuIconUrl}}"/>
</div>
<div layout="row" layout-align="start center">
	<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
</div>
<div class="cnpMobileTitle">
	{{'hybrid_deficienciesListItem' | translate}}
</div> -->
<!-- <section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
						
</section> -->