<section layout="column" class="cnpMobileContentWrapperWithTouch" style="background-color: white;">
	<div layout="row" class="cnpMobileHeader" layout-align="space-between center">
		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
			<img ng-src="{{$root.sMenuIconUrl}}"/>
		</div>
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
		</div>
		<div class="cnpMobileTitle">
			{{'deficiencyDetails_title' | translate}}
		</div>
	</div>
	<div class="cnpMobileListWrapper">
		<div ng-click="onClose()" class="notSelectable cnpInputIcon cnpMobileBackIcon" layout-margin layout="column" layout-align="center start" style="margin-left: 16px;">
			<div class="notSelectable cnpLink cnpLinkBackButton">
				{{'global_backToList' | translate}}
			</div>
		</div>
		<div class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton" layout="row" layout-align="space-between center" ng-click="onImagesAttribute()">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'global_images' | translate}}
			</div>
			<div layout="row" layout-align="center center" ng-show="$root.oSelectedDeficiency.iImagesNumber || $root.oSelectedDeficiency.iImagesNumber == 0"
				ng-class="{ 'cnpInputIcon cnpImagesIcon cnpImagesIconInMobileApp notSelectable': $root.oSelectedDeficiency.iImagesNumber>0, 'cnpInputIcon cnpImagesIcon cnpImagesIconInMobileApp cnpImagesIconWithOpacity notSelectable': $root.oSelectedDeficiency.iImagesNumber==0 }" >
				
				<a>
					({{$root.oSelectedDeficiency.iImagesNumber}})
				</a>
			</div>
		</div>

		<div class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton" layout="row" layout-align="space-between center" ng-click="onCommentsAttribute()">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'commentsList_title' | translate}}
			</div>
			<div layout="row" layout-align="center center" ng-show="$root.oSelectedDeficiency.iCommentsNumber || $root.oSelectedDeficiency.iCommentsNumber == 0"
				ng-class="{ 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileApp notSelectable': $root.oSelectedDeficiency.iCommentsNumber>0, 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileApp cnpCommentsIconWithOpacity notSelectable': $root.oSelectedDeficiency.iCommentsNumber==0 }" >
				
				<a>
					({{$root.oSelectedDeficiency.iCommentsNumber}})
				</a>
			</div>
		</div>
		<button id="cnpButtonHighlightedMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onStatusAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_status' | translate}}
			</div>
			<div layout="row" layout-align="start center" style="margin-top: 12px;">
				<img ng-src="{{$root.oSelectedDeficiency.sStatuseIconUrl}}" class="cnpMobileStatusIcon">
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" ng-cloak>
					{{$root.oSelectedDeficiency.sStatusDescription}}
				</label>
			</div>
		</div>
		</button>
		
<!-- 		<button id="cnpButtonHighlightedMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onCommentsAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'global_comments' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSelectedDeficiency.iCommentsNumber}}
			</label>
		</div>
		</button> -->
		<!-- 		<button id="cnpButtonHighlightedMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onImagesAttribute()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
					{{'global_images' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
					{{$root.oSelectedDeficiency.iImagesNumber}}
			</label>
		</div>
		</button> -->
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_associatedProjectsAndPhases' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSelectedDeficiency.sProjectPhase}}
			</label>
		</div>
		</button>
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton ">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_unit' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSelectedDeficiency.sUnit}}
			</label>
		</div>
		</button>
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton ">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_contractors' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSelectedDeficiency.sContractors}}
			</label>
		</div>
		</button>
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_descriptionTags' | translate}}
			</div>
			<label class="cnpMobileListItem cnpMobileTagsInList" style="margin-top: 8px;" ng-cloak>
				{{$root.oSelectedDeficiency.sTags}}
			</label>
		</div>
		</button>
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton ">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_locationTags' | translate}}
			</div>
			<label class="cnpMobileListItem cnpMobileLocationTagsInList" style="margin-top: 8px;" ng-cloak>
				{{$root.oSelectedDeficiency.sLocationTags}}
			</label>
		</div>
		</button>
		<!-- 	<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton ">
		<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription" ng-cloak>
								{{'deficiencyDetails_deficiencyPriority' | translate}}
				</div>
				<label class="cnpMobileItemValue" ng-cloak>
								{{$root.oSelectedDeficiency.sPriorityDescription}}
				</label>
		</div>
		</button> -->
		<button id="cnpDisabledButtonMobile" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton ">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_assignedUser' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSelectedDeficiency.sAssignedUserName}}
			</label>
		</div>
		</button>
		
		<div layout="column" layout-align="start center">
			<md-button type="submit" ng-if="$root.oSelectedDeficiency.bDataHasBeenModified" class="md-button md-primary md-raised cnpMobileLargeButton cnpInputIcon cnpSaveIconWhiteMobile notSelectable" ng-click="onSave()" ng-cloak>
			{{'global_mobileSave' | translate}}
			</button>
		</div>
	</div>
</section>