<section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
	<div layout="row" class="cnpMobileHeader" layout-align="space-between center">
		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
			<img src="apps/conspector/img/mobileMenuIcon_tiny.svg"/>
		</div>
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
		</div>
		<div class="cnpMobileTitle">
			{{'hybrid_deficienciesListItem' | translate}}
		</div>
	</div>
	<div class="cnpMobileSubHeaderText" layout="column" layout-align="center start">
		{{'hybrid_selectSearchCriterias' | translate}}
	</div>
	<div class="cnpMobileListWrapper">
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectPhaseSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_associatedProjectsAndPhases' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oPhase.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectUnitSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_unit' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oUnit.sValue}}
			</label>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectStatusSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" ng-cloak>
				{{'deficiencyDetails_status' | translate}}
			</div>
			<label class="cnpMobileItemValue" ng-cloak>
				{{$root.oSearchCriterias.oStatus.sValue}}
			</label>
		</div>
		</button>
		<div layout="column" layout-align="start center">
			<md-button type="submit" class="md-button md-primary md-raised cnpMobileLargeButton notSelectable" ng-click="onSearch()" ng-cloak>
			{{'hybrid_searchDeficiencies' | translate}}
			</button>
		</div>
		
	</div>
</section>