<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<form name="oForms.deficiencyDetailsForm" novalidate>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div layout="row" layout-align="start center">
				<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-warn md-hue-2 md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
				<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
				<div layout="row" layout-align="center center"
					ng-class="{ 'cnpInputIcon cnpImagesIcon cnpImagesIconInActionBar notSelectable': oDeficiency.iImagesNumber>0, 'cnpInputIcon cnpImagesIcon cnpImagesIconInActionBar cnpImagesIconWithOpacity notSelectable': oDeficiency.iImagesNumber==0 }" ng-click="onDisplayPhotoGallery($event)">
					<a>
						({{oDeficiency.iImagesNumber}})
					</a>
				</div>
			</div>
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'deficiencyDetails_title' | translate}}
				</label>
			</div>
		</div>
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div layout="column" layout-gt-md="row" flex>
						<div flex="100" flex-gt-md="60" class="cnpDeficiencyPrNPhWrapper">
							<div  class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_associatedProjectsAndPhases' | translate}}
								</label>
							</div>
							<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oDeficiency._ProjectAndPhaseName}}</div>
							<div ng-show="sMode != 'display'">
								<div
									multi-select
									input-model="aUserProjectsPhasesForMultiselect"
									button-label="fullName"
									default-label="{{'global_selectProjectandPhase' | translate }}"
									item-label="name"
									tick-property="ticked"
									group-property="multiSelectGroup"
									is-disabled="sMode == 'display' || sCurrentRole == 'contractor'"
									on-item-click="onSelectedPhasesModified()"
									selection-mode="single"
									helper-elements=""
									output-model="aSelectedPhases"
									on-close="onCloseCheckSelectedPhasesLength()"
									>
								</div>
							</div>
							<input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
							<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedPhases.$error" ng-if="(oForms.deficiencyDetailsForm.selectedPhases.$dirty && !oForms.deficiencyDetailsForm.selectedPhases.$valid) || submitted">
								<div class="cnpErrorMessageValidationMessage" ng-message="min">
									{{'global_emptyFieldError' | translate}}
								</div>
							</div>
						</div>
						<div flex="100" flex-gt-md="auto">
							<div  class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_unit' | translate}}
								</label>
							</div>
							<div class="cnpSubSectionData" ng-if="sMode == 'display'">
								<a ng-click="onNavigateToUnitDetails()">{{oDeficiency._unitName}}</a>
							</div>
							<div ng-show="sMode != 'display'">
								<div
									multi-select
									input-model="aUnits"
									button-label="name"
									default-label="{{'global_selectUnit' | translate }}"
									item-label="name"
									selection-mode="single"
									tick-property="ticked"
									group-property="multiSelectGroup"
									is-disabled="sMode == 'display' || sCurrentRole == 'contractor'"
									on-item-click="onDataModified()"
									output-model="aSelectedUnits"
									helper-elements="filter"
									>
								</div>
							</div>
							<input ng-model="aSelectedUnits.length" type="number" ng-show="false" name="selectedUnits" min="1">
							<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedUnits.$error" ng-if="(oForms.deficiencyDetailsForm.selectedUnits.$dirty && !oForms.deficiencyDetailsForm.selectedUnits.$valid) || submitted">
								<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'deficiencyDetails_status' | translate}}
							</label>
						</div>
						<div
							multi-select
							input-model="aDeficiencyStatuses"
							default-label="{{'deficiencyDetails_deficiencyStatusDefaultLabel' | translate }}"
							button-label="icon name"
							item-label="icon name"
							is-disabled="sMode == 'display'"
							tick-property="ticked"
							selection-mode="single"
							on-item-click="onSelectedStatusesModified()"
							output-model="aSelectedStatuses"
							on-close="onCloseCheckSelectedStatusesLength()"
							helper-elements=""
							>
						</div>
						<input ng-model="aSelectedStatuses.length" type="number" ng-show="false" name="selectedStatuses" min="1">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedStatuses.$error" ng-if="(oForms.deficiencyDetailsForm.selectedStatuses.$dirty && !oForms.deficiencyDetailsForm.selectedStatuses.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div layout="column">
						<div>
							<div class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_descriptionTags' | translate}}
								</label>
							</div>
							<tags-input
							name="deficiencyDescriptionTags"
							ng-model="oDeficiency.aDescriptionTags"
							ng-hide="sMode == 'display' || sCurrentRole == 'contractor'"
							replace-spaces-with-dashes="false"
							placeholder="{{'global_addTag' | translate}}"
							max-length="25"
							on-tag-added="onDataModified()"
							on-tag-removed="onDataModified()">
							</tags-input>
							<div class="cnpWarningMessageForTagsLength" ng-if="oForms.deficiencyDetailsForm.deficiencyDescriptionTags.$invalid">
								<div class="cnpErrorMessageValidationMessage">{{'global_minimunTagsLength' | translate}}</div>
							</div>
							<div class="tags-wrapper form-control"  ng-show="sMode == 'display' || sCurrentRole == 'contractor'">
								<ul class="tags-list">
									<li class="tag-item" ng-repeat="tag in oDeficiency.aDescriptionTags">
										<span style="padding: 2px;">{{tag.text}}</span>
									</li>
								</ul>
							</div>
						</div>
						<div>
							<div class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_locationTags' | translate}}
								</label>
							</div>
							<tags-input
							name="deficiencyLocationTags"
							ng-model="oDeficiency.aLocationTags"
							ng-hide="sMode == 'display' || sCurrentRole == 'contractor'"
							replace-spaces-with-dashes="false"
							placeholder="{{'global_addTag' | translate}}"
							max-length="25"
							on-tag-added="onDataModified()"
							on-tag-removed="onDataModified()">
							</tags-input>
							<div class="cnpWarningMessageForTagsLength" ng-if="oForms.deficiencyDetailsForm.deficiencyLocationTags.$invalid">
								<div class="cnpErrorMessageValidationMessage">{{'global_minimunTagsLength' | translate}}</div>
							</div>
							<div class="tags-wrapper form-control"  ng-show="sMode == 'display' || sCurrentRole == 'contractor'">
								<ul class="tags-list">
									<li class="tag-item" ng-repeat="tag in oDeficiency.aLocationTags">
										<span style="padding: 2px;">{{tag.text}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div layout="column">
						<div>
							<div class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_contractors' | translate}}
								</label>
							</div>
							<div
								multi-select
								input-model="aContractors"
								default-label="{{'deficiencyDetails_deficiencyContractorsDefaultLabel' | translate }}"
								button-label="name"
								item-label="name"
								is-disabled="sMode == 'display' || sCurrentRole == 'contractor'"
								tick-property="ticked"
								on-item-click="onSelectedContractorsModified()"
								output-model="aSelectedContractors"
								on-close="onCloseCheckSelectedContractorsLength()"
								helper-elements="filter"
								>
							</div>
							<!-- <input ng-model="aSelectedContractors.length" type="number" ng-show="false" name="selectedContractors" min="1">
							<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedContractors.$error" ng-if="(oForms.deficiencyDetailsForm.selectedContractors.$dirty && !oForms.deficiencyDetailsForm.selectedContractors.$valid) || submitted">
												<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
							</div> -->
						</div>
						<div style="margin-top: 12px; margin-bottom: 12px;">
							<div  class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_assignedUser' | translate}}
								</label>
							</div>
							<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oDeficiency._assignedUserName}}</div>
							<div ng-show="sMode != 'display'">
								<div
									multi-select
									input-model="aUsers"
									button-label="name"
									default-label="{{'deficiencyDetails_deficiencyAssignedUserDefaultLabel' | translate }}"
									item-label="name"
									selection-mode="single"
									tick-property="ticked"
									group-property="multiSelectGroup"
									is-disabled="sMode == 'display' || sCurrentRole == 'contractor'"
									on-item-click="onDataModified()"
									output-model="aSelectedUser"
									helper-elements=""
									>
								</div>
							</div>
							<input ng-model="aSelectedUser.length" type="number" ng-show="false" name="selectedUser" min="1">
							<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedUser.$error" ng-if="(oForms.deficiencyDetailsForm.selectedUser.$dirty && !oForms.deficiencyDetailsForm.selectedUser.$valid) || submitted">
								<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
							</div>
						</div>
						<div ng-show="false">
							<div  class="cnpSubSectionLabel">
								<label>
									{{'deficiencyDetails_deficiencyPriority' | translate}}
								</label>
							</div>
							<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oDeficiency._deficiencyPriority}}</div>
							<div ng-show="sMode != 'display'">
								<div
									multi-select
									input-model="aTaskPriorities"
									button-label="name"
									default-label="{{'deficiencyDetails_deficiencyPriorityDefaultLabel' | translate }}"
									item-label="name"
									selection-mode="single"
									tick-property="ticked"
									group-property="multiSelectGroup"
									is-disabled="sMode == 'display' || sCurrentRole == 'contractor'"
									on-item-click="onDataModified()"
									output-model="aSelectedTaskPriorities"
									helper-elements=""
									>
								</div>
							</div>
							<input ng-model="aSelectedTaskPriorities.length" type="number" ng-show="false" name="selectedTaskPriorities" min="1">
							<div class="cnpErrorMessageValidation" ng-messages="oForms.deficiencyDetailsForm.selectedTaskPriorities.$error" ng-if="(oForms.deficiencyDetailsForm.selectedTaskPriorities.$dirty && !oForms.deficiencyDetailsForm.selectedTaskPriorities.$valid) || submitted">
								<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'deficiencyDetails_description' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionText" ng-if="sMode == 'display' || sCurrentRole == 'contractor'" ng-bind-html="oDeficiency.sDescription"></div>
					<div text-angular ng-model="oDeficiency.sDescription" ng-if="sMode != 'display' && sCurrentRole != 'contractor'"></div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" layout="row" layout-align="space-between start" flex>
					<div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'deficiencyDetails_dueDate' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData cnpSubSectionDataNoBottomMargin" ng-if="sMode == 'display'|| sCurrentRole == 'contractor'">{{oDeficiency.sDueDate}}</div>
						<quick-datepicker ng-if="sMode != 'display' && sCurrentRole != 'contractor'" ng-model='oDeficiency.dDueDate' width="100%"></quick-datepicker>
					</div>
					<div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'deficiencyDetails_creationDate' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData cnpSubSectionDataNoBottomMargin" ng-if="sMode == 'display' || sMode == 'edit'">{{oDeficiency.sCreatedAt}}</div>
					</div>
					<div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'deficiencyDetails_lastModificationDate' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData cnpSubSectionDataNoBottomMargin" ng-if="sMode == 'display' || sMode == 'edit'">{{oDeficiency.sLastModifiedAt}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
</div>