<!-- <section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }"> -->
<div style="webkit-overflow-scrolling: touch; margin-top: 15px;">
	<div layout="row" class="cnpMobileHeader" layout-align="space-between center">
		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
			<img ng-src="{{$root.sMenuIconUrl}}"/>
		</div>
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" ng-cloak/>
		</div>
		<div class="cnpMobileTitle">
			{{'hybrid_deficienciesListItem' | translate}}
		</div>
	</div>
	<div ng-click="onBackToSearch()" class="notSelectable cnpInputIcon cnpMobileBackIcon" layout-margin layout="column" layout-align="center start" style="margin-left: 16px;">
		<div class="notSelectable cnpLink cnpLinkBackButton">
			{{'global_backToSearch' | translate}}
		</div>
	</div>
	<button ng-repeat="deficiency in $root.aDeficiencies"class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onSelectDeficiency(deficiency)">
	<div layout="column" layout-align="center start">
		<div class="cnpMobileListItem" layout="row" layout-align="start center" ng-cloak style="height: 43px;">
			<div style="font-size: 20px;">{{deficiency.sUnit}}</div>
			<div layout="row" layout-align="start center">
				<img ng-src="{{deficiency.sStatuseIconUrl}}" class="cnpMobileStatusIcon cnpMobileStatusIconMoreMargin">
			</div>
			<div>
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" ng-cloak>
					{{deficiency.sStatusDescription}}
				</label>
			</div>
		</div>
		<div class="cnpMobileListItem cnpMobileTagsInList" ng-cloak ng-if="deficiency.sTags != ''"style="margin-bottom: 8px;">
			{{deficiency.sTags}}
		</div>
		<div class="cnpMobileListItem cnpMobileLocationTagsInList" ng-if="deficiency.sLocationTags != ''" ng-cloak>
			{{deficiency.sLocationTags}}
		</div>
	</div>
	</button>
</div>
<!-- </section> -->