<section layout="column" class="cnpMobileContentWrapper">
	<div layout="row" class="cnpMobileHeader" layout-align="space-between start">
		<!-- TO replace with sLogoUrl, was not working so I put our logo for the moment -->
		<div layout="row" layout-align="start center">
			<img class="cnpMobileCompanyLogo" ng-src="apps/conspector/img/conspectorSymbol.svg"/>
		</div>
		<div>
			<label ng-click="onLogOut()" class="cnpLink cnpLinkHeader cnpMobileTopLinks notSelectable">
				{{'app_logOut' | translate}}
			</label>
		</div>
	</div>
	
	<div class="cnpMobileListWrapper">
			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onPhaseAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oPhase.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oPhase.sValue}}
				</label>
			</div>
			</button>

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onUnitAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oUnit.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oUnit.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onStatusAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oStatus.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oStatus.sValue}}
				</label>
			</div>
			</button>						

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onPriorityAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oPriority.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oPriority.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onUserAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oUser.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oUser.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onDescriptionTagsAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oDescriptionTags.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oDescriptionTags.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onLocationTagsAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oLocationTags.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oLocationTags.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onContractorsAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oContractors.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oContractors.sValue}}
				</label>
			</div>
			</button>	

			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onImagesAttribute()">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{oDeficiencyAttributes.oImages.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{oDeficiencyAttributes.oImages.iValue}}
				</label>
			</div>
			</button>														

<!-- 		<div ng-repeat="attribute in aDeficiencyAttributes">
			<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onOpenSideNav(attribute)">
			<div layout="column" layout-align="center start">
				<div class="cnpMobileItemDescription">
					{{attribute.sDescription}}:
				</div>
				<label class="cnpMobileItemValue">
					{{attribute.sValue}}
				</label>
			</div>
			</button>
		</div> -->
		<div layout="column" layout-align="start center">
			<md-button type="submit" class="md-button md-primary md-raised cnpMobileLargeButton cnpInputIcon cnpSaveIconWhiteMobile notSelectable" ng-click="onSave()">
			{{'global_mobileSave' | translate}}
			</button>
		</div>
	</div>
	
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="deficiencyQuickAddRigthSideNav">
	<div layout="row" layout-align="start start" ng-click="onCloseRightSideNav()">
		<div class="notSelectable cnpInputIcon cnpBackIcon" layout-margin layout="column" layout-align="center start">
			<div class="notSelectable cnpLink cnpLinkBackButton">
				{{'global_back' | translate}}
			</div>
		</div>
	</div>
	<md-toolbar>
	<h1 class="md-toolbar-tools">{{sSideNavHeader}}</h1>
	</md-toolbar>
	
	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oPhase.sDescription">
		<div layout="column">
			<section ng-repeat="project in aProjectsWithPhases">
				<md-subheader class="md-primary">{{project.sProjectName}}</md-subheader>
				<md-list layout="column">
				<md-item ng-repeat="phase in project.aPhases" ng-click="onSelectPhase(phase)">
				<md-item-content>
				<img ng-if="phase.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
				<div>{{phase.sPhaseName}}</div>
				</md-item-content>
				</md-item>
				</md-list>
			</section>
		</div>
	</div>
	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oUnit.sDescription">
		<div layout="column">
			<md-list layout="column">
			<md-item ng-repeat="unit in aUnits" ng-click="onSelectUnit(unit)">
			<md-item-content>
			<img ng-if="unit.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<div>{{unit.sName}}</div>
			</md-item-content>
			</md-item>
			</md-list>
		</div>
	</div>
	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oStatus.sDescription">
		<div layout="column">
			<md-list layout="column">
			<md-item ng-repeat="status in aStatuses" ng-click="onSelectStatus(status)">
			<md-item-content>
			<img ng-if="status.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<img  ng-src="{{status.sIconUrl}}" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<div>{{status.sName}}</div>
			</md-item-content>
			</md-item>
			</md-list>
		</div>
	</div>

	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oPriority.sDescription">
		<div layout="column">
			<md-list layout="column">
			<md-item ng-repeat="priority in aPriorities" ng-click="onSelectPriority(priority)">
			<md-item-content>
			<img ng-if="priority.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<div>{{priority.sName}}</div>
			</md-item-content>
			</md-item>
			</md-list>
		</div>
	</div>

	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oUser.sDescription">
		<div layout="column">
			<md-list layout="column">
			<md-item ng-repeat="user in aUsers" ng-click="onSelectUser(user)">
			<md-item-content>
			<img ng-if="user.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<div>{{user.sName}}</div>
			</md-item-content>
			</md-item>
			</md-list>
		</div>
	</div>

	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oDescriptionTags.sDescription">
		<div layout="column">
			<tags-input
			ng-model="aDescriptionTags"
			replace-spaces-with-dashes="false"
			placeholder="{{'global_addTag' | translate}}">
			</tags-input>
		</div>
	</div>
	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oLocationTags.sDescription">
		<div layout="column">
			<tags-input
			ng-model="aLocationTags"
			replace-spaces-with-dashes="false"
			placeholder="{{'global_addTag' | translate}}">
			</tags-input>
		</div>
	</div>
	<div layout="row" layout-align="start start" ng-if="sSideNavHeader === oDeficiencyAttributes.oContractors.sDescription">
		<div layout="column">
			<md-list layout="column">
			<md-item ng-repeat="contractor in aContractors" ng-click="onSelectContractor(contractor)">
			<md-item-content>
			<img ng-if="contractor.bTicked" ng-src="apps/conspector/img/backIcon.svg" style="width:20px; height: 20px; -webkit-transform: rotate(180deg);">
			<div>{{contractor.sName}}</div>
			</md-item-content>
			</md-item>
			</md-list>
		</div>
	</div>
	</md-sidenav>
	
</section>