<div layout="row" layout="center start" class="cnpContentWrapper">
	<div class="cnpContent cnpContentDeficienciesList" layout="column">
		<div layout="row" layout-align="space-between start" class="md-default-theme cnpDeficienciesListContentHeader">
			<div layout="row" layout-align="start center" >
				<!-- 			<div class="cnpSubSectionLabel">
					<label>
						{{'deficienciesList_statuses' | translate}}
					</label>
				</div> -->
				<div class="cnpDeficienciesListStatusesWrapper">
					<div
						multi-select
						input-model="aDeficiencyStatuses"
						default-label="{{'deficienciesList_deficiencyStatusesDefaultLabel' | translate }}"
						button-label="icon name"
						item-label="icon name"
						tick-property="ticked"
						output-model="aSelectedStatuses"
						on-close="onCloseCheckSelectedStatusesLength()"
						helper-elements=""
						>
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div flex layout="row" layout-align="start center">
				<div flex-order="1">
					<md-button ng-if="bDisplayAddButton" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon cnpButtonMarginRight notSelectable" ng-click="onAddNew()">
					{{'deficienciesList_addNew' | translate}}
					</md-button>
					<md-button class="md-button md-primary md-hue-2 md-raised cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpEraseIcon cnpButtonMarginRight notSelectable" ng-click="onClearFiltering()">{{'global_clearFiltering' | translate}}</md-button>
					<md-button class="md-button md-primary md-hue-2 md-raised cnpButtonWithIcon cnpInputIcon cnpWordReportIcon cnpButtonMarginRight cnpButtonMoreMorePadding notSelectable" ng-click="onReports()">{{'global_reporting' | translate}}</md-button>
					<md-button ng-show="aDataForMassChanges.length" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onMassSave()">{{'global_massSave' | translate}}</md-button>
					<md-button ng-show="aDataForMassChanges.length" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable cnpDeficienciesMassSaveButton" ng-click="onMassSave()">{{'global_massSave' | translate}}</md-button>
				</div>
				<!-- <div flex flex-order="2" layout="row" layout-align="start center">
												<md-switch  class="md-checkbox md-checkboxForList" ng-model="oListSettings.bGroupListByProjectAndPhase" ng-change="onGroupingChange()" style="margin-left: 24px;">
												<div class="notSelectable cnpCursorDefault minus2pxMarginTop">
																				{{'global_groupByProjectAndPhase' | translate}}
												</div>
												</md-switch>
				</div> -->
				
			</div>
			<div layout="row" layout-align="end start" ng-click="onDisplayDeficienciesList()">
				<label class="cnpContentTitle notSelectable">
					{{'deficienciesList_title' | translate}}
				</label>
			</div>
		</div>
		<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
			<table ng-table="tableParams" class="cnpNgTable" id="deficienciesList" show-filter="true">
				<tbody ng-repeat="group in $groups">
					<tr class="ng-table-group notSelectable" >
						<td colspan="{{$columns.length}}" style="overflow: visible; padding-left: 0; padding-right: 0" >
							<div class="ng-table-group-cell notSelectable" ng-click="group.$hideRows = !group.$hideRows" ng-class="{ 'ng-table-group-cell-collapsed': group.$hideRows, 'ng-table-group-cell': !group.$hideRows }">
								{{ group.value }}
							</div>
							
						</td>
					</tr>
					<tr ng-hide="group.$hideRows" ng-repeat="deficiency in group.data">
						<td data-title="'global_actions' | translate" ng-class="deficiency.sPriorityDescriptionEN=='Severe' ? 'cnpPriorityItem': ''">
							<div layout="row" layout-align="center center" >
								<div class="cnpInputIcon cnpViewDetailsIcon" ng-click="onDisplay(deficiency, $event)">
								</div>
								<div ng-if="bDisplayEditButtons" class="cnpInputIcon cnpEditDetailsIcon"  ng-click="onEdit(deficiency)">
								</div>
							</div>
						</td>
						<td data-title="'global_unit' | translate" sortable="'sUnit'" filter="{'sCleanedUnit': 'text'}">
							<div layout="row" layout-align="center center">
								<div>
									<span>
										<a ng-click="onNavigateToUnitDetails(deficiency)">
											{{deficiency.sUnit}}
										</a>
									</span>
								</div>
							</div>
						</td>
						<td data-title="'global_status' | translate" sortable="'sStatusSortingSequence'">
							<div layout="row" layout-align="center center" ng-click="onStatusChange(deficiency)">
								<img class="cnpDeficiencyStatusIcon" ng-src="{{deficiency.sStatuseIconUrl}}"/>
							</div>
						</td>
						<td data-title="'global_contractors' | translate" sortable="'sContractors'" filter="{'sCleanedContractors': 'text'}">
							<div layout="row" layout-align="start center">
								<span>
									{{deficiency.sContractors}}
								</span>
							</div>
						</td>
						<td data-title="'global_tags' | translate" filter="{'sCleanedTags': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<span>
										{{deficiency.sTags}}
									</span>
								</div>
							</div>
						</td>
						<td data-title="'global_locationTags' | translate" filter="{'sLocationTags': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<span>
										{{deficiency.sLocationTags}}
									</span>
								</div>
							</div>
						</td>
						
						
						<!-- 						<td data-title="'global_dueIn' | translate" sortable="'sDueIn'" filter="{'sDueIn': 'text'}">
								<div layout="row" layout-align="center center">
										<span>
												{{deficiency.sDueIn}}{{deficiency.sDueInLetter}}
										</span>
								</div>
						</td> -->
						<td data-title="'global_comments' | translate" sortable="'iCommentsNumber'" filter="{'iCommentsNumber': 'text'}">
							<div layout="row" layout-align="center center"
								ng-class="{ 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInDefList': deficiency.iCommentsNumber>0, 'cnpInputIcon cnpCommentsIcon cnpCommentsIconWithOpacity': deficiency.iCommentsNumber==0 }" ng-click="onDisplay(deficiency, $event)">
								<a>
									({{deficiency.iCommentsNumber}})
								</a>
							</div>
						</td>
						<td data-title="'global_images' | translate" sortable="'iImagesNumber'" filter="{'iImagesNumber': 'text'}">
							<div layout="row" layout-align="center center"
								ng-class="{ 'cnpInputIcon cnpImagesIcon cnpImagesIconInDefList': deficiency.iImagesNumber>0, 'cnpInputIcon cnpImagesIcon cnpImagesIconWithOpacity': deficiency.iImagesNumber==0 }" ng-click="onDisplayPhotoGallery(deficiency, $event)">
								<a>
									({{deficiency.iImagesNumber}})
								</a>
							</div>
						</td>
					</tr>
				</tbody>
				<tr ng-if="$groups.length == 0">
					<td colspan="{{$columns.length}}">
						<div layout="row" layout-align="start center">
							<div>
								{{'global_noTableData' | translate}}
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>