<md-toolbar class="cnpMobileSideNavHeader">
<div layout="row" layout-align="start start" ng-click="onClose()">
	<div class="notSelectable cnpInputIcon cnpMobileBackIcon" layout-margin layout="column" layout-align="center start">
		<div class="notSelectable cnpLink cnpLinkBackButton">
			{{'global_back' | translate}}
		</div>
	</div>
</div>
</md-toolbar>
<div class="cnpSidePanelWrapper cnpMobileSideNavContent" layout="row" layout-align="start start" ng-show="$root.sCurrentSearhCriteria === 'phase'">
	<div layout="column" layout-align="start start" flex>
		<div ng-repeat="project in $root.oSearchCriterias.aPhases" flex style="width: 100%;">
			<div layout="row" layout-align="start center" class="cnpMobileH1">{{project.sProjectName}}</div>
			<div layout="column" flex>
				<div ng-repeat="phase in project.aPhases" ng-click="onSelectSearchCrireriaPhase(phase)">
					<div>
						<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH2 cnpMobileH2Selected': phase.bTicked, 'cnpMobileH2': !phase.bTicked }" class="cnpMobileH2" ng-click="onCloseRightSideNavWithDelay()">{{phase.sPhaseName}}<span class="cnpMobileTickMark" ng-if="phase.bTicked">✔</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cnpSidePanelWrapper" layout="row" layout-align="start start" ng-show="$root.sCurrentSearhCriteria === 'unit'">
	<div layout="column" layout-align="start start" flex>
		<div class="cnpMobileFilterWrapper" layout="row" layout-align="center center">
			<input class="cnpTextInputField cnpMobileFilter" type="text" placeholder="{{'global_mobileSearchUnits' | translate}}" ng-model="$root.oSearchCriterias.sUnitFilter" ng-change="onChangeSearchCriteriaUnitFilter($root.oSearchCriterias.sUnitFilter)"/>
		</div>
		<div layout="column" flex style="width: 100%;" class="cnpMobileSideNavContentWithFilter">
			<div ng-repeat="unit in $root.oSearchCriterias.aFilteredUnits" ng-click="onSelectSearchCrireriaUnit(unit)" style="width: 100%; min-height: 52px;">
				<div>
					<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH2 cnpMobileH2Selected': unit.bTicked, 'cnpMobileH2': !unit.bTicked }">{{unit.sName}}<span class="cnpMobileTickMark" ng-if="unit.bTicked">✔</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cnpSidePanelWrapper cnpMobileSideNavContent" layout="row" layout-align="start start" ng-show="$root.sCurrentSearhCriteria === 'status'">
	<div layout="column" layout-align="start start" flex>
		<div layout="column" flex style="width: 100%;">
			<div ng-repeat="status in $root.oSearchCriterias.aStatuses" ng-click="onSelectSearchCrireriaStatus(status)" flex style="width: 100%;">
				<div>
					<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH1 cnpMobileH1Selected': status.bTicked, 'cnpMobileH1': !status.bTicked }"><img ng-src="{{status.sIconUrl}}" class="cnpMobileStatusIcon">{{status.sName}}<span class="cnpMobileTickMark" ng-if="status.bTicked">✔</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cnpSidePanelWrapper cnpMobileSideNavContent" layout="row" layout-align="start start" ng-show="$root.sSelectedDeficiencyAttribute == 'statuses'">
	<div layout="column" layout-align="start start" flex>
		<div layout="column" flex style="width: 100%;">
			<div ng-repeat="status in $root.aSelectedDeficiencyStatuses" ng-click="onSelectDeficiencyAttributeStatus(status)" flex style="width: 100%;">
				<div>
					<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH1 cnpMobileH1Selected': status.bTicked, 'cnpMobileH1': !status.bTicked }"><img ng-src="{{status.sIconUrl}}" class="cnpMobileStatusIcon">{{status.sName}}<span class="cnpMobileTickMark" ng-if="status.bTicked">✔</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="$root.sSelectedDeficiencyAttribute === 'images'">
	<div ng-repeat="image in $root.aSelectedDeficiencyImages">
		<img ng-src="{{image.sImgUrl}}" style="width:320px; height: 320px;">
	</div>
</div>
<div ng-show="$root.sSelectedDeficiencyAttribute === 'comments'">
	<div ng-repeat="comment in $root.aSelectedDeficiencyComments">
		<div layout="row" layout-align="start center">
			<div layout="column" layout-align="center start">
				<img ng-src="{{comment.sAvatarUrl}}" style="width:34px; height:34px;"/>
			</div>
			<div layout="column" layout-align="center start" class="cnpNgTableCommentInfo1">
				<div>
					<span class="cnpNgTableCommentAuthor">
						{{comment.sAuthor}}
					</span>
				</div>
				<div>
					<span class="cnpNgTableCommentCreationDate">
						{{comment.sCreatedAt}}
					</span>
				</div>
			</div>
			
		</div>
		<div layout="row" layout-align="start center" >
			<div ng-if="!comment._editMode" class="cnpNgTableComment">
				{{comment.sText}}
			</div>
		</div>
	</div>
	<div layout="row" flex style="width: 100%">
		<div class="cnpSubSection" layout="row" flex>
			<textarea flex placeholder="{{'global_postPlaceholder' | translate}}" class="cnpCommentTextArea" ng-model="$root.oNewComment.sText">
			</textarea>
			<div class="cnpCommentPostArea">
				<md-button class="md-button md-primary md-raised cnpButtonMarginRight notSelectable" ng-click="onSaveNewComment()">{{'global_post' | translate}}</md-button>
			</div>
			
		</div>
	</div>
	
</div>
