<div layout="row" layout="center start" class="cnpContentWrapper" ng-show="sDisplayedView=='details'">
	<md-card class="">
	<div layout="column" layout-align="center start">
		<div class="cnpMobileListItem" layout="row" layout-align="space-between center"  style="height: 38px; width: 100%;">
			<div layout="row" layout-align="start center">
				<div layout="row" layout-align="start center">
					<!-- <img ng-src="{{deficiency.sStatuseIconUrl}}" class="cnpMobileStatusIcon"> -->
				</div>
				<div style="font-size: 18px;">{{oSelectedDeficiency.UnitDetails.Name}}
				</div>
			</div>
			<!-- 				<div>
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" >
					{{deficiency.sStatusDescription}}
				</label>
			</div> -->
			<div layout="row" layout-align="start center">
				<div layout="row" ng-if="::bFadeImagesIcon" layout-align="center center" class="cnpInputIcon cnpImagesIcon cnpImagesIconWithOpacity cnpImagesIconInMobileAppInList notSelectable">
					<a>
						({{oSelectedDeficiency.iImagesNumber}})
					</a>
				</div>
				<div layout="row" ng-if="::(!bFadeImagesIcon)" layout-align="center center" class="cnpInputIcon cnpImagesIcon cnpImagesIconInMobileAppInList notSelectable cnpImagesIconInMobileAppInList">
					<a>
						({{oSelectedDeficiency.iImagesNumber}})
					</a>
				</div>
				<!-- <div layout="row" layout-align="center center" 
					ng-class="::{ 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList notSelectable': deficiency.iCommentsNumber>0, 'cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList cnpCommentsIconWithOpacity notSelectable cnpHide': deficiency.iCommentsNumber==0 }" >
					
					<a>
						({{::oSelectedDeficiency.iCommentsNumber}})
					</a>
				</div> -->
			</div>
		</div>
		<div layout="row" layout-align="space-between start" style="width: 100%;">
			<div layout="column" layout-align="start start" flex>
				<div class="cnpMobileListItem cnpMobileContractorLabel" ng-if="::bShowContractorInList" >
					{{oSelectedDeficiency.sContractors}}
				</div>
				<div class="cnpMobileListItem cnpMobileTagsInList"  ng-if="::deficiency.sTags != ''" style="margin-bottom: 8px;">
					{{oSelectedDeficiency.DescriptionTags}}
				</div>
				<div class="cnpMobileListItem cnpMobileLocationTagsInList" ng-if="::deficiency.sLocationTags != ''" >
					{{oSelectedDeficiency.LocationTags}}
				</div>
				
			</div>
		</div>
		
	</div>
	<md-button ng-click="onDone()">DONE</md-button>
	</md-card>
</div>

<!-- <div layout="row" layout="center start" class="cnpContentWrapper" ng-show="sMode=='list'">
</div> -->

<div layout="row" layout="center start" class="cnpContentWrapper" ng-show="sDisplayedView=='list'">
	<div class="cnpMobileContent" layout="column">
		<div class="cnpMobileSubHeaderText" layout="column" layout-align="center center">
			{{::'hybrid_selectSearchCriterias' | translate}}
		</div>
		
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{::'deficiencyDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<md-select ng-model="selectedPhase" md-on-open="onSelectPhaseSearchCriteria()" placeholder="Select project & phase">
						<md-option ng-value="phase" ng-click="onSelectSearchCriteriaPhase(phase)" ng-repeat="phase in aPhases">{{::phase.sProjectAndPhaseName}}</md-option>
					</md-select>
					<!-- <md-select ng-model="selectedPhase" md-on-open="onSelectPhaseSearchCriteria()" placeholder="Select project & phase">
						<div ng-repeat="project in aProjects">
							<md-optgroup label='{{project.sProjectName}}'>
							<md-option ng-value="phase" ng-repeat="phase in project.aPhases">{{phase.sProjectAndPhaseName}}</md-option>
							</md-optgroup>
						</div>
					</md-select> -->
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{::'deficiencyDetails_units' | translate}}
						</label>
					</div>
					<ui-select id="cnpMobileUiSelect" multiple ng-model="oUnits.aSelectedUnits" on-remove="onDataModified()" on-select="onDataModified()">
					<ui-select-match placeholder="{{::'deficiencyDetails_deficiencyUnitsDefaultLabel' | translate }}">{{$item.sName}}</ui-select-match>
					<ui-select-choices repeat="unit in oUnits.aUnits | searchInMultiSelect: {sName: $select.search, aSelectedItems: oUnits.aSelectedUnits}">
					<div ng-bind-html="unit.sName | highlight: $select.search"></div>
					</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{::'deficiencyDetails_status' | translate}}
						</label>
					</div>
					<md-select multiple="true" ng-model="aStatuses.aSelectedStatuses">
						<md-select-label>
							<span ng-repeat="selectedStatuses in aStatuses.aSelectedStatuses">
								<div layout="row" layout-align="start center">
									<img ng-src="{{selectedStatuses.sIconUrl}}" class="cnpMobileStatusIcon">
									<div class="md-text">
										{{selectedStatuses.sDescription}} 
									</div>
								</div>
							</span>
						</md-select-label>
						<md-option ng-value="status" ng-repeat="status in aStatuses">
							<div layout="row" layout-align="start center">
								<img ng-src="{{::status.sIconUrl}}" class="cnpMobileStatusIcon">
								<div class="md-text">
									{{::status.sDescription}}
								</div>
							</div>
							</md-option>
					</md-select>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{::'deficiencyDetails_contractors' | translate}}
						</label>
					</div>
					<ui-select id="cnpMobileUiSelect" multiple ng-model="oContractors.aSelectedContractors" ng-disabled="oUserProfile.sCurrentRole == 'contractor'" on-remove="onDataModified()" on-select="onDataModified()">
					<ui-select-match placeholder="{{::'deficiencyDetails_deficiencyContractorsDefaultLabel' | translate }}">{{$item.sName}}</ui-select-match>
					<ui-select-choices repeat="contractor in oContractors.aContractors | searchInMultiSelect: {sName: $select.search, aSelectedItems: oContractors.aSelectedContractors}">
					<div ng-bind-html="contractor.sName | highlight: $select.search"></div>
					</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<md-button flex type="submit" class="md-button md-primary md-raised cnpMobileLargeButton notSelectable" ng-click="onSearch()" >
					{{::'hybrid_searchDeficiencies' | translate}}
				</md-button>
			</div>
		</div>

<!-- 		<md-button class="md-button cnpMobileListButton" ng-click="onSelectStatusSearchCriteria()">
		<div layout="column" layout-align="center start">
			<div class="cnpMobileItemDescription" >
				{{::'deficiencyDetails_status' | translate}}
			</div>
			<label class="cnpMobileItemValue" >
				{{sStatuses}}
			</label>
		</div>
		</md-button> -->


	</div>
	
	
	<div ng-repeat="deficiency in aDeficiencies" >
	<md-card class="" ng-click="onSelectDeficiency(deficiency)">
	<div layout="column" layout-align="center start">
		<div class="cnpMobileListItem" layout="row" layout-align="space-between center"  style="height: 38px; width: 100%;">
			<div layout="row" layout-align="start center">
				<div layout="row" layout-align="start center">
					<img ng-src="{{::deficiency.sIconUrl}}" class="cnpMobileStatusIcon">
				</div>
				<div style="font-size: 18px;">{{::deficiency.UnitDetails.Name}}
				</div>
			</div>
			<!-- 				<div>
				<label class="cnpMobileItemValue cnpMobileItemValueStatus" >
					{{deficiency.sStatusDescription}}
				</label>
			</div> -->
			<div layout="row" layout-align="start center">
				<div layout="row" ng-if="::(deficiency.bFadeImagesIcon)" layout-align="center center" class="cnpInputIcon cnpImagesIcon cnpImagesIconWithOpacity cnpImagesIconInMobileAppInList notSelectable">
					<a>
						({{::deficiency.iImagesNumber}})
					</a>
				</div>
				<div layout="row" ng-if="::(!deficiency.bFadeImagesIcon)" layout-align="center center" class="cnpInputIcon cnpImagesIcon cnpImagesIconInMobileAppInList notSelectable cnpImagesIconInMobileAppInList">
					<a>
						({{::deficiency.iImagesNumber}})
					</a>
				</div>
				<div layout="row" ng-if="::(deficiency.bFadeCommentsIcon)" layout-align="center center" class="cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList cnpCommentsIconWithOpacity notSelectable">
					<a>
						({{::deficiency.iCommentsNumber}})
					</a>
				</div>
				<div layout="row" ng-if="::(!deficiency.bFadeCommentsIcon)" layout-align="center center" class="cnpInputIcon cnpCommentsIcon cnpCommentsIconInMobileAppInList notSelectable">
					<a>
						({{::deficiency.iCommentsNumber}})
					</a>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between start" style="width: 100%;">
			<div layout="column" layout-align="start start" flex>
				<div class="cnpMobileListItem cnpMobileContractorLabel" ng-if="::bShowContractorInList" >
					{{::deficiency.sContractors}}
				</div>
				<div class="cnpMobileListItem cnpMobileTagsInList"  ng-if="::deficiency.sTags != ''" style="margin-bottom: 8px;">
					{{::deficiency.DescriptionTags}}
				</div>
				<div class="cnpMobileListItem cnpMobileLocationTagsInList" ng-if="::deficiency.sLocationTags != ''" >
					{{::deficiency.LocationTags}}
				</div>
				
			</div>
		</div>
		
	</div>
	</md-card>
	<!-- <md-divider></md-divider> -->
</div>
	<div layout="row" style="width: 100%; margin-bottom: 30px;" flex>
		<md-button flex ng-show="aDeficiencies.length !== 0" type="submit" class="md-button md-primary cnpMobileLargeButton notSelectable" ng-click="onShowMore()">Load more items ...</md-button>
	</div>
</div>


<!-- <md-sidenav class="md-sidenav-right cnpSideNav" md-component-id="phasesSidenav">
	<md-list>
	<md-toolbar class="md-default-theme" layout="column" layout-align="center center">
	Phase selection
	</md-toolbar>
	<div layout="row" layout-align="start center">
		</div>
		<md-divider></md-divider>
		<md-list-item ng-repeat="project in aProjects">
			<div layout="row" layout-align="start center" class="cnpMobileH1">{{project.sProjectName}}</div>
			<md-divider></md-divider>
			<div layout="column" flex>
				<div ng-repeat="phase in project.aPhases" ng-click="onSelectSearchCriteriaPhase(phase)">
					<div>
						<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH2 cnpMobileH2Selected': phase.bTicked, 'cnpMobileH2': !phase.bTicked }" class="cnpMobileH2" ng-click="onClosePhasesSidenav()">{{phase.sPhaseName}}<span class="cnpMobileTickMark" ng-if="phase.bTicked">✔</span></div>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</div>
			</div>
		</div>
		</md-list-item>
	</md-list>
</md-sidenav> -->
<md-sidenav class="md-sidenav-right cnpSideNav" md-component-id="unitsSidenav">
	<md-list>
	<md-toolbar class="md-default-theme" layout="column" layout-align="center center">
	Units selection
	</md-toolbar>
	<div layout="row" layout-align="start center">
		<!-- <md-button class="md-button cnpSidebarButton cnpSidebarButtonCenter" style="  border-right: 1px rgba(0,0,0,0.12) solid; min-height: 60px;">
			Button
		</md-button>
		<md-button class="md-button cnpSidebarButton cnpSidebarButtonCenter" style="min-height: 60px;">
			Another button
		</md-button> -->
		</div>
		<md-divider></md-divider>
		<md-list-item ng-repeat="project in aProjects">
			<div layout="row" layout-align="start center" class="cnpMobileH1">{{project.sProjectName}}</div>
			<md-divider></md-divider>
			<div layout="column" flex>
				<div ng-repeat="phase in project.aPhases" ng-click="onSelectSearchCriteriaPhase(phase)">
					<div>
						<div layout="row" layout-align="start center"  ng-class="{ 'cnpMobileH2 cnpMobileH2Selected': phase.bTicked, 'cnpMobileH2': !phase.bTicked }" class="cnpMobileH2" ng-click="onClosePhasesSidenav()">{{phase.sPhaseName}}<span class="cnpMobileTickMark" ng-if="phase.bTicked">✔</span></div>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</div>
			</div>
		</div>
		</md-list-item>
	</md-list>
</md-sidenav>




<!-- <div id="scrollableArea" style="webkit-overflow-scrolling: touch;"> -->
<!-- </section> -->
<!-- <section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }"> -->
<!-- 		<div ng-click="onMainMenu()" class="cnpMobileMenuIcon">
	<img ng-src="{{$root.sMenuIconUrl}}"/>
</div>
<div layout="row" layout-align="start center">
	<img class="cnpMobileCompanyLogo" ng-src="{{$root.sLogoUrl}}" />
</div>
<div class="cnpMobileTitle">
	{{'hybrid_deficienciesListItem' | translate}}
</div> -->
<!-- <section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
						
</section> -->