<img ng-src="{{$root.sLogoUrl}}" style="width:200px; height:100px;"/>
<label ng-click="onChangeLanguage()">{{'signIn_languageCode' | translate}}</label>
<label ng-if="bDisplayAdminPanel" ng-click="onAdminPanel()">{{'app_adminPanel' | translate}}</label>
<label ng-if="bDisplayProfileSettings" ng-click="onProfileSettings()">{{'app_profileSettings' | translate}}</label>
<label ng-if="bDisplaySwitchRoles" ng-click="onSwitchRoles()">{{'app_switchRoles' | translate}}</label>
<label ng-click="onLogOut()">{{'app_logOut' | translate}}</label>

<md-tabs md-selected="selectedTabIndex" md-stretch-tabs='no'>
 	 <md-tab ng-repeat="tab in aTabs" md-on-select="onTabSelect(tab)" label="{{tab.sTitle}}"></md-tab>
 	 
<!--  	 <md-tab>
 	   <md-tab-label>
    	<img src="img/logo_conspector.png" style="width:25px; height:25px; float: left"/>
  		</md-tab-label>
  	</md-tab> -->
</md-tabs>

<div ui-view></div>
