<md-toolbar class="cnpMobileSideNavHeader">
<div layout="row" layout-align="end start" ng-click="onBack()">
	<div class="notSelectable cnpMobileMenuBackButton" layout-margin layout="column" layout-align="center start">
		<div class="notSelectable cnpLink cnpLinkBackButton">
			{{'global_back' | translate}}
		</div>
	</div>
	<div class="notSelectable cnpInputIcon cnpReversedMobileBackIcon" style="margin-right: 0px;" layout-margin layout="column" layout-align="center start">
		<div class="notSelectable cnpLink cnpLinkBackButton">
			 
		</div>
	</div>
</div>
</md-toolbar>
<section layout="column" ng-class="{ 'cnpMobileContentWrapperWithTouch': !bIsSideNaveOpen, 'cnpMobileContentWrapper': bIsSideNaveOpen }">
	<div class="cnpMobileListWrapper">
		<button ng-repeat="menuItem in aMenuItems | filter:{bShouldBeDisplayed:true}" class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton" ng-click="onMenuItemSelected(menuItem)">
		<div layout="column" layout-align="center start">
			<div style="padding-bottom: 8px; padding-top: 8px;">
				<label  class="cnpLink cnpLinkHeader cnpMobileTopLinks notSelectable">
					{{menuItem.sMenuLabel | translate}}
				</label>
			</div>
		</div>
		</button>
		<div style="height: 36px; border-top-width: 2px; border-top-style: solid; border-top-color: rgb(225, 226, 227);">
		</div>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton " ng-click="onChangeLanguage()">
		<div layout="column" layout-align="center start">
			<div style="padding-bottom: 8px; padding-top: 8px; margin-top: 4px;">
				<label  class="cnpLink cnpLinkHeader" >
					{{'signIn_languageCode' | translate}}
				</label>
			</div>
		</div>
		</button>
		<button class="md-button md-whiteframe-z1 cnpMobileListButton cnpSidebarButton "ng-click="onLogOut()" style=" border-bottom-width: 2px;">
		<div layout="column" layout-align="center start">
			<div style="padding-bottom: 8px; padding-top: 8px;">
				<label  class="cnpLink cnpLinkHeader cnpMobileTopLinks notSelectable">
					{{'app_logOut' | translate}}
				</label>
			</div>
		</div>
		</button>
	</div>
</section>