<div>{{'changePassword_title' | translate}}</div>

<form name="changePasswordForm">
	<md-button type="submit" class="md-primary md-raised" ng-click="onSave()">{{'global_save' | translate}}</md-button>	
	<input type="password" class="cnpTextInputField" ng-model="oUser.sPassword" placeholder="{{'global_password' | translate}}" ng-change="onDataModified()">
	<input type="password" class="cnpTextInputField" ng-model="oUser.sPasswordConfirmation" placeholder="{{'global_passwordConfirmation' | translate}}" ng-change="onDataModified()">
</form>