<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'profileSettings_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<div>
			<!-- <md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()" hide-gt-md>
			Open Sidenav
			</md-button> -->
			</div>
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<!-- END OF CONTENT VIEW -->
	<!-- ACTION BAR -->
	<form name="oForms.profileSettingsPasswordResetForm" novalidate>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div>
				<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'changePassword_resetPassword' | translate}}</md-button>
			</div>
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'changePassword_title' | translate}}
				</label>
			</div>
		</div>
		<!-- END OF ACTION BAR -->
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex layout="column" layout-gt-md="column">
					<div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'changePassword_newPassword' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUser.sPassword}}</div>
						<input type="password" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUser.sPassword" style="width: 50%" required ng-minlength="8" name="password">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.profileSettingsPasswordResetForm.password.$error" ng-if="!oForms.profileSettingsPasswordResetForm.password.$valid && !oForms.profileSettingsPasswordResetForm.password.$pristine" style="width: 50%">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
							<div class="cnpErrorMessageValidationMessage" ng-message="minlength">
								{{'global_minPasswordLength' | translate}}
						</div>
				</div>
					</div>
					<div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'changePassword_newPasswordConfirmation' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUser.sPasswordConfirmation}}</div>
						<input type="password" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUser.sPasswordConfirmation" ng-change="onDataModified()" style="width: 50%" required ng-minlength="8" name="passwordConfirmation">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.profileSettingsPasswordResetForm.passwordConfirmation.$error" ng-if="!oForms.profileSettingsPasswordResetForm.passwordConfirmation.$valid && !oForms.profileSettingsPasswordResetForm.passwordConfirmation.$pristine" style="width: 50%">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
							<div class="cnpErrorMessageValidationMessage" ng-message="minlength">
								{{'global_minPasswordLength' | translate}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>