<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'profileSettings_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<!-- <div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div> -->
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<!-- END OF CONTENT VIEW -->
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<md-button ng-show="sMode == 'display'" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'profileDetails_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<div class="cnpSection" layout="column" layout-align="start center" flex>
		
		<div layout="row" style="width: 100%" flex>
			<div class="cnpSubSection" flex layout="column" layout-gt-md="column">
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_username' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sUserName}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUser.sUserName" ng-if="sMode == 'create'" ng-change="onDataModified()" required>
				</div>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_email' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="mailto:{{oUser.sEmail}}">{{oUser.sEmail}}</a></div>
					<input type="email" class="cnpTextInputField cnpTextInputFieldSubSection" ng-model="oUser.sEmail" ng-if="sMode == 'edit' || sMode == 'create'" ng-change="onDataModified()" required placeholder="{{'global_emailPlaceholder' | translate}}">
				</div>
			</div>
			<div layout="column" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_associatedCompanies' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sCompanies}}</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_associatedRoles' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sRoles}}</div>
				</div>
			</div>
		</div>
		<div layout="row" style="width: 100%" flex>
			<div class="cnpSubSection" layout="row" flex>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sPhases}}</div>
				</div>
			</div>
		</div>
		<div layout="column" layout-gt-md="row" style="width: 100%" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'userDetails_avatar' | translate}}
						</label>
					</div>
					<img style="width: 200px; height: 200px;" ng-src="{{oUser.sAvatarUrl}}"></img>
					<button ng-if="(sMode == 'edit' || sMode == 'create')" ng-file-select accept="image/*" ng-file-change="onAvatarSelected($files, $event, $index)">{{'global_upload' | translate}}</button>
				</div>
			</div>
		</div>
		<div layout="row" style="width: 100%" flex>
			<div class="cnpSubSection" layout="row" flex>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'global_creationDate' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sCreatedAt}}</div>
				</div>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'global_lastModificationDate' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display' || sMode == 'edit'">{{oUser.sLastModifiedAt}}</div>
				</div>	
			</div>
		</div>
	</div>
</div>