<md-content layout="row" layout="center start" class="cnpContentWrapper">
    <md-sidenav class="md-sidenav-left cnpSidenavLeft" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-toolbar class="md-default-theme" layout="column" layout-align="center center">
            <label class="cnpSidebarTitle">
                {{'profileSettings_menuHeader' | translate}}
            </label>
        </md-toolbar>       
        <div class="cnpSidenavElements">  
            <div ng-repeat="menuItem in aMenuItems | filter:{bShouldBeDisplayed:true}">
                <md-button  layout="row" layout-align="start center" ng-click="onMenuItemSelected(menuItem)" class="md-button cnpSidebarButton"> {{menuItem.sMenuLabel | translate}}</md-button>
            </div>
<!--              <md-button layout="row" layout-align="start center" ng-click="onProfileDetails()" class="md-button cnpSidebarButton">
                      {{'profileSettings_profileDetails' | translate}}
             </md-button>
             <md-button layout="row" layout-align="start center" ng-click="onChangePassword()" class="md-button cnpSidebarButton">
                       {{'profileSettings_changePassword' | translate}}
             </md-button> -->
        </div>
    </md-sidenav>
       <div ui-view style="width: 100%; height: 100%;">
    </div>
</md-content>