
<table style="width:100%" class="cnpVerticalAfterSpacingX4">
	<tr>
		<td>
			<div class="pxViewTitle">{{viewTitleTE}}</div>			
		</td>
	</tr>
</table>	

<div static-include="apps/conspector/views/fragments/listTableSubHeader.html"></div>

<table id="statusesListTable" ng-table="oListTable" class="table pxListTable" style="margin-bottom: 1em; table-layout: fixed;">
	<tr ng-repeat="entity in oTableData.aDisplayedEntities">
		<td data-title="actionTE" style="padding: 1rem; padding-left: 2rem; height: 4.5rem;">
			<i class="fa fa-pencil-square-o" style="cursor: pointer; float: left;" ng-click="onEdit(entity)" ng-if="!entity._editMode"></i>
			<i class="fa fa-floppy-o" style="cursor: pointer; margin-right: 2px; font-size: 1.2rem; color: #1590be; float: left;" ng-click="onSave(entity)" ng-if="entity._editMode"></i>		
			<i class="fa fa-trash-o" ng-click="onRemove(entity)" style="cursor: pointer; margin-left: 0.5em; font-size: 1.2rem; color: #1590be; float: left;"></i> 				
		</td>	
		<td data-title="idTE" sortable="'rowId'">
			<span>{{entity.rowId}}</span>
		</td>
		<td data-title="descriptionTE" sortable="'name'">
         <span ng-if="!entity._editMode">{{entity.name}}</span>
         <div ng-if="entity._editMode"><input class="form-control pxFld" type="text" ng-model="entity.name"/></div>
		</td>

		<td data-title="associatedIconTE">
				<div ng-hide="!entity._editMode" class="wrapper-entity"> 
						<div ng-class="entity._associatedIcon.cssClasses" style="position: absolute; margin-top: 8px; margin-left: 8px;"></div>

						<select 	ng-model="entity._associatedIcon" required-reference class="pxSelect form-control"
						ng-options="entityIcon.iconDescription for entityIcon in aStatusIcons" style="padding-left: 35px;">	</select>									
				</div>			
			<div ng-hide="entity._editMode" ng-class="entity._associatedIcon.cssClasses" style="left: 0; bottom: -4px;"></div>
			<label ng-hide="entity._editMode" class="pxDisabledFld" style="margin-left: 30px;">{{entity._associatedIcon.iconDescription}}</label>	
		</td>

		<td data-title="sortingSequenceTE" sortable="'sortingSequence'">
        <span ng-if="!entity._editMode">{{entity.sortingSequence}}</span>
         <div ng-if="entity._editMode"><input type="number" class="form-control pxFld" ng-model="entity.sortingSequence"></div>	
		</td>		
	</tr>
</table>		
