<div layout="row" layout="center start" class="cnpContentWrapper">
	<div class="cnpContent cnpContentActivitiesList" layout="column">
		<div layout="row" layout-align="space-between start" class="md-default-theme cnpDeficienciesListContentHeader">
			<div layout="row" layout-align="start center" >
				<!-- 			<div class="cnpSubSectionLabel">
						<label>
								{{'deficienciesList_statuses' | translate}}
						</label>
				</div> -->
				<div class="cnpDeficienciesListStatusesWrapper">
					<div
						multi-select
						input-model="aActivityTypes"
						default-label="{{'activitiesList_activityTypesDefaultLabel' | translate }}"
						button-label="icon name"
						item-label="icon name"
						is-disabled="sMode == 'display'"
						tick-property="ticked"
						output-model="aSelectedActivityType"
						on-close="onCloseCheckSelectedTypesLength()"
						helper-elements=""
						>
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div>
				<md-button ng-if="bDisplayAddButton" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon cnpButtonMarginRight notSelectable" ng-click="onAddNew()">{{'activitiesList_addNew' | translate}}</md-button>
				<md-button class="md-button md-primary md-hue-2 md-raised cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpEraseIcon cnpButtonMarginRight notSelectable" ng-click="onClearFiltering()">{{'global_clearFiltering' | translate}}</md-button>
			</div>
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'activitiesList_title' | translate}}
				</label>
			</div>
		</div>
		<!-- NG TABLE -->
		<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
			<table ng-table="tableParams" class="cnpNgTable" id="activitiesList" show-filter="true">
				<tbody ng-repeat="group in $groups">
					<tr class="ng-table-group notSelectable" >
						<td colspan="{{$columns.length}}" style="overflow: visible; padding-left: 0; padding-right: 0" >
							<div class="ng-table-group-cell notSelectable" ng-click="group.$hideRows = !group.$hideRows" ng-class="{ 'ng-table-group-cell-collapsed': group.$hideRows, 'ng-table-group-cell': !group.$hideRows }">{{ group.value }}
								<!-- <div class="glyphicon notSelectable" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">{{ group.value }}</div> -->
							</div>
						</td>
					</tr>
					<tr ng-hide="group.$hideRows" ng-repeat="activity in group.data">
						<td data-title="'global_actions' | translate">
							<div layout="row" layout-align="center center">
								<div class="cnpInputIcon cnpViewDetailsIcon" ng-click="onDisplay(activity)">
								</div>
								<div ng-if="bDisplayEditButtons" class="cnpInputIcon cnpEditDetailsIcon"  ng-click="onEdit(activity)">
								</div>
							</div>
						</td>
						<td data-title="'activitiesList_activityType' | translate" sortable="'sActivityType'" filter="{'sCleanedActivityType': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<img ng-src="{{activity.sTypeIconUrl}}" style="width:24px; height:24px; margin-right: 8px; margin-left: 16px;"/>
								</div>
								<div>
									<span>
									{{activity.sActivityType}}
									</span>
								</div>
							</div>
						</td>
						<td data-title="'activitiesList_object' | translate" filter="{'sCleanedObject': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<span>
									{{activity.sObject}}
									</span>
								</div>
							</div>
						</td>
						<td data-title="'activitiesList_accounts' | translate" filter="{'sCleanedAccounts': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<span>
									{{activity.sAccounts}}
									</span>
								</div>
							</div>
						</td>
						<td data-title="'activitiesList_contacts' | translate" filter="{'sCleanedContacts': 'text'}">
							<div layout="row" layout-align="start center">
								<div>
									<span>
									{{activity.sContacts}}
									</span>
								</div>
							</div>
						</td>
						<td data-title="'activitiesList_createdAt' | translate" sortable="'sDbCreatedAt'">
							<div layout="row" layout-align="center center">
								<div>
									<span>
									{{activity.sCreatedAt}}
									</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tr ng-if="$groups.length == 0">
					<td td colspan="5">
						<div layout="row" layout-align="start center">
							<div>
								{{'global_noTableData' | translate}}
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!-- END OF NG TABLE -->
	</div>
	<!-- END OF CONTENT VIEW -->
</div>