<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<!-- <div>
													<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()" hide-gt-md>
													Open Sidenav
													</md-button>
			</div> -->
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- <label class="cnpContentTitle notSelectable">
													{{'activityDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<!-- END OF CONTENT VIEW -->
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<!-- <md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button> -->
			<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-warn md-hue-2 md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
			<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
			<div layout="row" layout-align="center center"
				ng-class="{ 'cnpInputIcon cnpImagesIcon': oActivity.iImagesNumber>0, 'cnpInputIcon cnpImagesIcon cnpImagesIconWithOpacity': oActivity.iImagesNumber==0 }" ng-click="onDisplayPhotoGallery($event)">
				<a>
					({{oActivity.iImagesNumber}})
				</a>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'activityDetails_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<form name="oForms.activityDetailsForm" novalidate>
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="column" layout-gt-md="row" style="width: 100%" flex>
				<div layout="row" flex="100" flex-gt-md="50">
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_object' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oActivity.sObject}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oActivity.sObject" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'activityDetails_objectPlaceholder' | translate}}" name="activityObject" required>
						<div class="cnpErrorMessageValidation" ng-messages="oForms.activityDetailsForm.activityObject.$error" ng-if="(oForms.activityDetailsForm.activityObject.$dirty || submitted) && sMode != 'display'">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
						</div>
					</div>
				</div>
				<div layout="row" flex="100" flex-gt-md="50">
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_activityType' | translate}}
							</label>
						</div>
						<div
							multi-select
							input-model="aActivityTypes"
							default-label="{{'global_activityType' | translate }}"
							button-label="icon name"
							item-label="icon name"
							is-disabled="sMode == 'display'"
							tick-property="ticked"
							selection-mode="single"
							on-item-click="onSelectedTypesModified()"
							output-model="aSelectedActivityType"
							group-property="multiSelectGroup"
							helper-elements=""
							>
						</div>
						<input ng-model="aSelectedActivityType.length" type="number" ng-show="false" name="selectedActivityType" min="1">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.activityDetailsForm.selectedActivityType.$error" ng-if="(oForms.activityDetailsForm.selectedActivityType.$dirty && !oForms.activityDetailsForm.selectedActivityType.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
						</div>
					</div>
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_assignedUser' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-show="sMode == 'display'">{{oActivity._assignedUserName}}</div>
						<div ng-show="sMode != 'display'">
							<div
								multi-select
								input-model="aUsers"
								button-label="name"
								default-label="{{'global_assignedUser' | translate }}"
								item-label="name"
								selection-mode="single"
								tick-property="ticked"
								group-property="multiSelectGroup"
								is-disabled="sMode == 'display'"
								on-item-click="onDataModified()"
								output-model="aSelectedUser"
								helper-elements=""
								>
							</div>
						</div>
						<input ng-model="aSelectedUser.length" type="number" ng-show="false" name="selectedUser" min="1">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.activityDetailsForm.selectedUser.$error" ng-if="(oForms.activityDetailsForm.selectedUser.$dirty && !oForms.activityDetailsForm.selectedUser.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'activityDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aUserProjectsPhasesForMultiselect"
						button-label="fullName"
						default-label="{{'global_selectedProjectsAndPhases' | translate }}"
						item-label="name"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						output-model="aSelectedPhases"
						max-labels="4"
						on-close="onCloseCheckSelectedPhasesLength()"
						>
					</div>
					<input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.activityDetailsForm.selectedPhases.$error" ng-if="(oForms.activityDetailsForm.selectedPhases.$dirty && !oForms.activityDetailsForm.selectedPhases.$valid) || submitted">
						<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'activityDetails_associatedUnits' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aUnits"
						button-label="fullName"
						default-label="{{'global_selectedUnits' | translate }}"
						item-label="name"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						output-model="aSelectedUnits"
						max-labels="4"
						>
					</div>
					<!-- <input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.activityDetailsForm.selectedPhases.$error" ng-if="(oForms.activityDetailsForm.selectedPhases.$dirty && !oForms.activityDetailsForm.selectedPhases.$valid) || submitted">
										<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div> -->
				</div>
				
				
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'activityDetails_accounts' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aAccounts"
						default-label="{{'activityDetails_activityAccountsDefaultLabel' | translate }}"
						button-label="name"
						item-label="name"
						is-disabled="sMode == 'display'"
						tick-property="ticked"
						on-item-click="onDataModified()"
						max-labels="4"
						output-model="aSelectedAccounts"
						helper-elements="filter">
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'activityDetails_contacts' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aContacts"
						default-label="{{'activityDetails_activityContactsDefaultLabel' | translate }}"
						button-label="name"
						item-label="name"
						is-disabled="sMode == 'display'"
						tick-property="ticked"
						on-item-click="onDataModified()"
						max-labels="4"
						output-model="aSelectedContacts"
						helper-elements="filter"
						>
					</div>
				</div>
				
				
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'activityDetails_description' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionText" ng-if="sMode == 'display'" ng-bind-html="oActivity.sDescription"></div>
					<div text-angular ng-model="oActivity.sDescription" ng-if="sMode != 'display'"></div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" layout="row" layout-align="space-between start" flex>
					<div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_dueDate' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oActivity.sDueDate}}</div>
						<quick-datepicker ng-if="sMode != 'display'" ng-model='oActivity.dDueDate' width="100%"></quick-datepicker>
					</div>
					<div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_creationDate' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData cnpSubSectionDataNoBottomMargin" ng-if="sMode == 'display' || sMode == 'edit'">{{oActivity.sCreatedAt}}</div>
					</div>
					<div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'activityDetails_lastModificationDate' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData cnpSubSectionDataNoBottomMargin" ng-if="sMode == 'display' || sMode == 'edit'">{{oActivity.sLastModifiedAt}}</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!--  -->