<div layout="row" layout="center start" class="cnpContentWrapper">
	<div class="cnpContent cnpContentnotificationsList" layout="column">
		<div layout="row" layout-align="space-between start" class="md-default-theme cnpnotificationsListContentHeader">
			<div layout="row" layout-align="start center" >
				<!-- 			<div class="cnpSubSectionLabel">
						<label>
								{{'notificationsList_statuses' | translate}}
						</label>
				</div> -->
<!-- 				<div class="cnpnotificationsListStatusesWrapper">
					<div
						multi-select
						input-model="anotificationStatuses"
						default-label="{{'notificationsList_notificationStatusesDefaultLabel' | translate }}"
						button-label="icon name"
						item-label="icon name"	
						tick-property="ticked"
						output-model="aSelectedStatuses"
						on-close="onCloseCheckSelectedStatusesLength()"
						helper-elements=""
						>
					</div>
				</div> -->
			</div>
		</div>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div flex layout="row" layout-align="start center">
				<div flex-order="1">
					<md-button ng-if="bDisplayAddButton" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon cnpButtonMarginRight notSelectable" ng-click="onAddNew()">
					{{'notificationsList_addNew' | translate}}
					</md-button>
					<md-button class="md-button md-primary md-hue-2 md-raised cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpEraseIcon cnpButtonMarginRight notSelectable" ng-click="onClearFiltering()">{{'global_clearFiltering' | translate}}</md-button>
					<md-button ng-show="aDataForMassChanges.length" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onMassSave()">{{'global_massSave' | translate}}</md-button> 		
				</div>
			</div>
			<div layout="row" layout-align="end start" ng-click="onDisplaynotificationsList()">
				<label class="cnpContentTitle notSelectable">
					{{'notificationsList_title' | translate}}
				</label>
			</div>
		</div>
		<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
			<table ng-table="tableParams" class="cnpNgTable" id="notificationsList" show-filter="true">
				<tbody ng-repeat="group in $groups">
					<tr class="ng-table-group notSelectable" >
						<td colspan="{{$columns.length}}" style="overflow: visible; padding-left: 0; padding-right: 0" >
							<div class="ng-table-group-cell notSelectable" ng-click="group.$hideRows = !group.$hideRows" ng-class="{ 'ng-table-group-cell-collapsed': group.$hideRows, 'ng-table-group-cell': !group.$hideRows }">
								{{ group.value }}
							</div>
							
						</td>
					</tr>
					<tr ng-hide="group.$hideRows" ng-repeat="notification in group.data">
						<td data-title="'global_actions' | translate">
							<div layout="row" layout-align="center center">
								<div class="cnpInputIcon cnpViewDetailsIcon" ng-click="onDisplay(notification, $event)">
								</div>
<!-- 								<div ng-if="bDisplayEditButtons" class="cnpInputIcon cnpEditDetailsIcon"  ng-click="onEdit(notification)">
								</div> -->
							</div>
						</td>
<!-- 						<td data-title="'global_status' | translate" sortable="'sStatusSortingSequence'">
							<div layout="row" layout-align="center center" ng-click="onStatusChange(notification)">
								<img class="cnpnotificationStatusIcon" ng-src="{{notification.sStatuseIconUrl}}"/>
							</div>
						</td> -->
						<td data-title="'global_contractors' | translate" sortable="'sContractors'" filter="{'sCleanedContractors': 'text'}">
							<div layout="row" layout-align="start center">
								<span>
								{{notification.sStatus}}
								</span>
							</div>
						</td>
						<td data-title="'global_contractors' | translate" sortable="'sContractors'" filter="{'sCleanedContractors': 'text'}">
							<div layout="row" layout-align="start center">
								<span>
								{{notification.sOperationName}}
								</span>
							</div>
						</td>
						<td data-title="'global_contractors' | translate" sortable="'sContractors'" filter="{'sCleanedContractors': 'text'}">
							<div layout="row" layout-align="start center">
								<span>
								{{notification.sEntityName}}
								</span>
							</div>
						</td>
<!-- 						<td data-title="'global_dueIn' | translate" sortable="'sDueIn'" filter="{'sDueIn': 'text'}">
							<div layout="row" layout-align="center center">
								<span>
								{{notification.sDueIn}}{{notification.sDueInLetter}}
								</span>
							</div>
						</td> -->
					</tr>
				</tbody>
				<tr ng-if="$groups.length == 0">
					<td colspan="{{$columns.length}}">
						<div layout="row" layout-align="start center">
							<div>
								{{'global_noTableData' | translate}}
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>