/*
VARIABLE AND SETTINGS
*/

@spacingUnit: 0.5rem;
@fieldHeight: 48px;

//Colors
@lightGreyBackgroundColor: #F8F8F8;
@mediumGreyBackgroundColor: #e1e2e3;
@darkerGreyBackgroundColor: #565A5C;
@blueColor: #0088B8;
@whiteColor: #FFFFFF;
@greyBorderColor: rgba(228, 228, 228, 1);
@greyBorderColorHeader: #c3c9c3;
@greyButtonColor: rgba(230, 230, 230, 1);

//Fonts
@clickableTextColor: #0088B8;
@greyTitleTextColor: rgba(87, 109, 119, 0.2);
@textColor: #424347;
// @textColor: #323f3a;
@placeholderTextColor: rgba(66, 67, 71, 0.5);
@buttonLabelTextColor: rgba(66, 67, 71, 0.5);
@headerTextColor: #88888B;
@ngTableHeaderTextColor: #505054;
@textColorLight: rgba(66, 67, 71, 0.5);
@navbarTextColor: rgba(255, 255, 255, 0.65);
@tagColor: #93E890;
@fontSize: 18px;
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Glyphicons Halflings';

//   src: url('../fonts/glyphicons-halflings-regular.eot');
//   src: url('../../../apps/conspector/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }
//Class for making text unselectable
.notSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//Class for making text unselectable
.cnpCursorDefault {
	cursor: default;
}
//To accept breaklines in angular text
.angular-with-newlines {
  white-space: pre-line;
  line-height: 160%;
}

//For pixel ratio
@pixelRatio2: 2;

//Borders and radius
@borderRadius: 3px;

//Sizes sd (small device), md (medium device)
@sd-width:320px;
@md-width:375px;
@sd-height:480px;
@md-height:568px;

//Padding
@userManagementFormPadding: 43px*0.7;

//Font smoothing trick
//already applied by Material

/*
END OF VARIABLE AND SETTINGS
*/

/*
GLOBAL
*/
a{
	text-decoration: none;
	color: @blueColor;
}
a:hover {
cursor: pointer;
}
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: @fontSize;
	font-style: normal;
	font-weight: 400;
	color: @textColor;
	// background-color: @lightGreyBackgroundColor;
}
.cnpLink{
	color: @clickableTextColor;
	font-size: 16px;
	font-weight: 500;
	&:hover{
		cursor: pointer;
	}
	&.cnpLinkBackButton{
		padding-left: 25px;
		font-size: 18px;
	}
	&.cnpLinkHeader{
		padding-left: 8px;
	}
	&.cnpLinkHeaderCompany{
		padding-left: 30px;
	}
}
.cnpLinkProjectsAndPhases{
		color: @clickableTextColor;
		font-size: 16px;
		font-weight: 500;
		position: relative;

		z-index: 1;
		&:hover{
			cursor: default;
		}
}
//Default Button styling
.md-button{
	height: @fieldHeight;
	padding-top:  8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	text-transform: none;
	margin-top: 4px;
	margin-bottom: 4px;

	&.cnpLargeButton{
		min-width: 100%;
		height: @fieldHeight*1.2;

		//For iPhone 3 and 4 and 5
		@media
		only screen and (max-width: 320px){
		height: @fieldHeight*1;
		}
	}
	&.cnpSidebarButton{
		min-width: 100%;
		height: @fieldHeight*1;
		border-radius: 0px;
		padding-left: 20px;
		font-size: 16px;
		font-weight: 500;
		color: @textColor;
	}
	&.cnpButtonWithIcon{
		padding-left: 37px;
		&.cnpDefaultColor{
			color: @textColor;
		}
		&.cnpButtonMarginRight{
			margin-right: 8px;
		}
	}
}
//Animation
.cnpWithAnimation {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}
//Placeholder styling
::-webkit-input-placeholder {
   color: @placeholderTextColor;
}
:-moz-placeholder { /* Firefox 18- */
   color: @placeholderTextColor;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: @placeholderTextColor;  
}
:-ms-input-placeholder {  
   color: @placeholderTextColor;  
}
/*
END OF GLOBAL
*/

/*
USER MANAGEMENT
*/
.cnpUserManagementWrapper{
	width: 100%;
	.cnpUserManagementForm{
		//For iPhone 3GS
		min-width: @sd-width;
		max-width: @sd-width;
		background-color: @lightGreyBackgroundColor;
		border-radius: @borderRadius;
		padding: 20px;
		padding-left: @userManagementFormPadding*0.8;
		padding-right: @userManagementFormPadding*0.8;
		@media
		only screen and (min-height: @sd-height) and (max-width: @sd-width){
		min-height: @sd-height;
		max-height: @sd-height;
		padding-left: @userManagementFormPadding*0.6;
		padding-right: @userManagementFormPadding*0.6;
			//For iPhone 4 (Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2){
			}
		}
				//For iPhone 5 (Retina Display)
		@media
		only screen and (min-height: @md-height) and (max-width: @sd-width){
		min-height: @md-height;
		max-height: @md-height;
		}
		//For iPhone 6 (Retina Display)
		@media
		only screen and (min-width: 375px){
		max-height: @md-height;
		min-width: @md-width;
		max-width: @md-width;
		margin-top: 25px;
			//For iPhone 6 Plus (1.5 Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 3){
			}
		}
		//For iPad 1/2
		@media
		only screen and (min-width: 600px) and (max-width: 1024px){
		margin-top: 75px;
		//For iPad 3/4 (Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2){
			}
		}
		//For Desktop PC
		@media
		only screen and (min-width: 1025px){
		margin-top: 125px;
		}
	}
}
//Conspector Logo
.cnpConspectorLogo{
	width: 72%;
	margin-top: 20px;
	margin-bottom: 40px;
	//For iPhone 3 and 4
	@media
	only screen and (max-height: @sd-height) and (max-width: @sd-width) {
	margin-top: 0px;
	margin-bottom: 15px;
	width: 65%;
	//For iPhone 5
	@media
	only screen and (min-height: @md-height){
	}
	}
	&.cnpConspectorLogoLessMargin{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&.cnpConspectorLogoSmaller{
		width: 50%;
	}
}

//
.cnpInputWrapper{
	float: left;
	min-width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	&.cnpInputWrapperLessMargin{
	margin-top: 6px;
	margin-bottom: 6px;
	}
	&.cnpInputWrapperNoMargin{
	margin-top: 0px;
	margin-bottom: 0px;
	}
	&.cnpInputWrapperExtraTopMargin{
	margin-top: 60px;
	margin-bottom: 12px;
	}
}
.cnpInstructionsWrapper{
	margin-top: 60px;
	margin-bottom: 12px;
	//For iPhone 3 and 4
	@media
	only screen and (max-width: @sd-width){
		margin-top: 30px;
	}

}

.cnpUserManagementBottomLabel{
	float: left;
	min-width: 100%;
	outline: 0;
	font-size: 16px;
	font-weight: 500;
	margin-top: 11px;
	&.cnpUserManagementBottomLabelNoMargin{
		margin: 0px;
	}
	@media
	only screen and (min-height: @sd-height) and (max-width: @sd-width){
		margin-top: 7px;
  	}
}

.cnpTextInputField{
	height: @fieldHeight;
	width: 100%;
	padding-left: 45px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-width: 0 0 0 0px;
	// margin-top: 6px;
	// margin-bottom: 6px;
	box-shadow: 0 2px 4px 0 rgba(91,91,91,.20);
	border-radius: @borderRadius;
	color: @textColor;

   
	//For iPhone 3 and 4 and 5
	@media
		only screen and (max-width: @sd-width){
		height: @fieldHeight*1;
	}
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}
  	&.cnpLessLeftPadding{
  		padding-left: 16px;
  	}
  	&.cnpTextInputFieldInline{

  	height: @fieldHeight;
	width: 100%;
	padding-left: 8px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
	border-width: 1px 1px 1px 1px;
	border-color: rgba(91,91,91,.20);
	border-style: solid;
	background-color: @whiteColor;
	box-shadow: 0 1px 6px 2px rgba(91,91,91,0.2);
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}
  	}
  	&.cnpTextInputFieldSubSection{

  	height: 40px;
	width: 100%;
	padding-left: 8px;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
	border-width: 1px 1px 1px 1px;
	border-color: rgba(91,91,91,.20);
	border-style: solid;
	font-size: 14px;
	font-weight: 500;
	background-color: @whiteColor;
	box-shadow: none;
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}
  	}
 //  	&.cnpTextInputFieldSubSection[disabled="disabled"]{

 //  	height: 40px;
	// width: 100%;
	// padding-left: 8px;
	// margin-left: 0px;
	// margin-right: 8px;
	// margin-top: 12px;
	// padding-top: 10px;
	// padding-bottom: 10px;
	// padding-right: 8px;
	// border-width: 1px 1px 1px 1px;
	// border-color: rgba(91,91,91,.20);
	// border-style: none;
	// font-size: 14px;
	// font-weight: 500;
	// background-color: transparent;
	// box-shadow: none;
	// &:focus{
 //  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
 //  	}
 //  	}
}


.md-whiteframe-z1{
	min-width: 100%;
}
.cnpInputIcon{
    background-size: 19px;
    background-repeat:no-repeat;
   	background-position:13px;
   	&.cnpUsernameTextInputIcon{
		background-image:url('../../../apps/conspector/img/usernameIcon.svg');
	}
    &.cnpPasswordTextInputIcon{
    	background-position:14px;
    	background-size: 18px;
	    background-image:url('../../../apps/conspector/img/passwordIcon.svg');
	}
	&.cnpBackIcon{
    	background-position: 0px;
    	background-size: 14px;
	    background-image:url('../../../apps/conspector/img/backIcon.svg');
	    height: 26px;
	}
	&.cnpOpenSidenavIcon{
		background-position:14px;
    	background-size: 16px;
	    background-image:url('../../../apps/conspector/img/openRightSidenavIcon.svg');
	}
	&.cnpPlusIcon{
		background-position:12px;
    	background-size: 17px;
	    background-image:url('../../../apps/conspector/img/plusIcon.svg');
	}
	&.cnpSaveIconWhite{
		background-position:12px;
    	background-size: 19px;
	    background-image:url('../../../apps/conspector/img/saveIconWhite.svg');
	}
	&.cnpDeleteIconWhite{
		background-position:12px;
    	background-size: 21px;
	    background-image:url('../../../apps/conspector/img/deleteIconWhite.svg');
	}
	&.cnpViewDetailsIcon{
		background-position:0px;
    	background-size: 19px;
	    background-image:url('../../../apps/conspector/img/viewDetailsIcon.svg');
	    width: 23px;
	    height: 23px;
	    margin-right: 4px;
	    margin-left: 4px;
	    cursor: pointer;
	}
	&.cnpEditDetailsIcon{
		background-position:0px;
    	background-size: 20px;
	    background-image:url('../../../apps/conspector/img/editDetailsIcon.svg');
	    width: 23px;
	    height: 23px;
	    margin-right: -4px;
	    margin-left: 4px;
	    cursor: pointer;
	    &.cnpEditDetailsIconAlone{
	    	margin-left: 12px;
	    }
	}
	&.cnpEditDetailsIconWhite{
		background-position:12px;
    	background-size: 19px;
	    background-image:url('../../../apps/conspector/img/editDetailsIconWhite.svg');
	}
	&.cnpSaveIcon{
		background-position:0px;
    	background-size: 21px;
	    background-image:url('../../../apps/conspector/img/saveIcon.svg');
	    width: 23px;
	    height: 23px;
	    margin-right: 4px;
	    margin-left: 4px;
	    cursor: pointer;
	}
	&.cnpDeleteIcon{
		background-position: 50%;
    	background-size: 22px;
	    background-image:url('../../../apps/conspector/img/deleteIcon.svg');
	    width: 23px;
	    height: 31px;
	    margin-right: 4px;
	    margin-left: 4px;
	    cursor: pointer;
	}
  
}

//For labels in radio buttons and switches
.md-checkbox{
	float: left;
	min-width: 100%;
	color: @placeholderTextColor;
	outline: 0;
	font-size: 16px;
	font-weight: 500;
}
md-switch .md-label{
	border-width: 0px;
}
.md-label{
	// margin-top: 2px;
	color: @textColorLight;
}
.minus2pxMarginTop{
	margin-top: -2px;
}
md-radio-group{
	border-width: 0px;
}
md-radio-button.md-default-theme .md-off{
	border-color: @textColorLight;
}
/*
END OF USER MANAGEMENT
*/

/*
APP VIEW
*/
.cnpAppView{
	width: 100%;
	min-width: 585px;
	height: 100%;
	background-color: @lightGreyBackgroundColor;
}
.cnpHeader{
	width: 100%;	
	max-width: 1280px;
	min-height: 65px;
	max-height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: @whiteColor;
	
}
.cnpHeaderBackground{
	width: 100%;
	min-height: 65px;
	min-width: 585px;
	background-color: @whiteColor;
}
.cnpSubHeader{
	width: 100%;	
	max-width: 1280px;
	min-height: 55px;
	max-height: 55px;
	// padding-top: 5px;
	// padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.cnpSubHeaderBackground{
	width: 100%;
	min-height: 55px;
	min-width: 585px;
	background-color: @lightGreyBackgroundColor;
}
.cnpNavBar{
	width: 100%;
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 48px;
	max-height: 48px;
	
}
.cnpNavBarBackground{
	width: 100%;
	min-width: 585px;
	background-color: @darkerGreyBackgroundColor;
	min-height: 48px;
	
}
.cnpCompanyLogo{
	height: 50px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;

}

.md-header-items-container{
	font-weight: 500;
	font-size: 16px;
}
md-tabs.md-conspectorColorPaletteNavbar-theme md-tab:focus {
	// color: @navbarTextColor;
	// font-size: 14pt;
	background-color: @darkerGreyBackgroundColor;
}
md-tabs.md-conspectorColorPaletteNavbar-theme md-tab:active {
	// color: @navbarTextColor;
	// font-size: 14pt;
	background-color: @darkerGreyBackgroundColor;
}
md-tabs.md-conspectorColorPaletteNavbar-theme md-tab{
	color: @navbarTextColor;
}
md-tabs.md-conspectorColorPaletteNavbar-theme md-tabs-ink-bar{
	color: @lightGreyBackgroundColor;
	background-color: #BFBFBF;
	height: 7px;
}
// md-tabs:not(md-tabs-ink-bar){
// 	// color: @lightGreyBackgroundColor;
// 	background-color: red;
// 	// height: 7px;
// }

// [class="md-header-items"]:first-child {
//     background-color: red;
// }



//MultiSelect Styling

/* 
 * Don't modify things marked with ! - unless you know what you're doing
 */

/* ! vertical layout */
.multiSelect .vertical {
    float: none;
}

/* ! horizontal layout */
.multiSelect .horizontal:not(.multiSelectGroup) {
    float: left;
}

/* ! create a "row" */
.multiSelect .line {
    max-height: none;
    overflow: hidden;
    padding-bottom: 0px;
    padding-right: 0px;
}

/* ! create a "column" */
.multiSelect .acol {
    display: inline-block;    
    min-width: 12px;
}

/* ! */
.multiSelect .inlineBlock {
    display: inline-block;
}

/* the multiselect button */
.multiSelect .button {
    display: block;
    position: relative;
    text-align: left;    
    line-height: 1;
    cursor: pointer;
    border: 0px solid #c6c6c6;
    padding: 1px 10px 1px 10px;
    margin-left: -10px;
   	min-width: 30px;
    font-size: 16px;
    font-weight: 500;
    min-height : 48px !important;
    height: 100%;
    // max-height: 55px;
    border-radius: @borderRadius @borderRadius 0px 0px;
    color: @textColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
    white-space:normal;
    background-color: transparent;
    background-image: none;     
    box-shadow: none;
}

.multiSelectButton{
	// min-width: 100%;
}

.buttonLabel {
	// margin-left: 125px;
	// color: @buttonLabelTextColor;
}

.cnpMultiSelectProjectsAndPhases{
	position: relative;
	z-index: 999;
	// min-width: 300px;
   	// margin-left: -125px;
    color: @buttonLabelTextColor;
    font-size: 16px;
    font-weight: 500;
    height: 55px;
}

cnpMultiSelectProjectsAndPhasesDefaultLabel {
	color: @blueColor;
}

.cnpButtonLabelParent{
	// color: @buttonLabelTextColor;
	float: left;
}

.cnpButtonLabelChild{
	// color: @buttonLabelTextColor;
	float: left;
}

.cnpMultiSelectIcon{
	height: 22px;
	width: 22px;
}
.cnpButtonLabelSeparator{
	float: left;
}

/* button: hover */
.multiSelect .button:hover {    
    background-image: none;
}

/* button: clicked */
.multiSelect .buttonClicked {
 	// box-shadow: none;
 	background-color: @mediumGreyBackgroundColor;
 	border-color: @greyBorderColor;
 	// border-width: 1px;
 	// border-bottom-color: @whiteColor;
 	// box-shadow: 0px 25px 30px 5px rgba(0, 0, 0, 0.19);
 	// margin-left: -1px;
 	color: @textColor;
 	z-index: 998;
}

/* labels on the button */
.multiSelect .buttonLabel {
    display: inline-block;
    padding: 5px 0px 5px 0px; 
}

/* downward pointing arrow */
.multiSelect .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0px 0px 1px 12px  !important;    
    vertical-align: middle;
    border-top: 6px solid @blueColor;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 0 dotted; 
}

/* the main checkboxes and helper layer */
.multiSelect .checkboxLayer {
    background-color: @whiteColor;
    color: @textColor;
    position: absolute;
    z-index: 999;
    border-color: @greyBorderColor;
 	border-width: 0px;
    border-radius: @borderRadius;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0px 3px 17px 3px rgba(0, 0, 0, 0.2);
    max-width: 380px;
    min-width: 375px;
    display: none !important;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: -10px
}

/* container of helper elements */
.multiSelect .helperContainer {
    border-bottom: 1px solid @greyBorderColor;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
    // padding: 8px 8px 0px 8px;
}

/* helper buttons (select all, none, reset); */
.multiSelect .helperButton {
    display: inline;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 0px solid @greyBorderColor;
    height: 48px;
    min-width: 64px;
    font-size: 16px;
    font-weight: 500;
    border-radius: @borderRadius;
    color: @blueColor;    
    background-color: @whiteColor;
    line-height: 1.6;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
	    transition: box-shadow .5s cubic-bezier(0.35,0,.25,1),background-color .5s cubic-bezier(0.35,0,.25,1),transform .5s cubic-bezier(0.35,0,.25,1);
}

/* clear button */
.multiSelect .clearButton {
    position: absolute;
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 0px solid @greyBorderColor;
    height: 36px;
    width: 36px;
    font-size: 16px;
    font-weight: 500;
    border-radius: @borderRadius;
    color: @blueColor;    
    background-color: @whiteColor;
    line-height: 1.4;
    right : 16px;
    top: 6px;
    transition: box-shadow .5s cubic-bezier(0.35,0,.25,1),background-color .5s cubic-bezier(0.35,0,.25,1),transform .5s cubic-bezier(0.35,0,.25,1);

}

/* filter */
.multiSelect .inputFilter {
    // border-radius: @borderRadius;
    // border: 1px solid #ccc;
    // height: 37px;
    // font-size: 18px;
    // font-weight: 400;
    // width:100%;    
    // padding-left:7px;
    // -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    // -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    // box-sizing: border-box;         /* Opera/IE 8+ */    
    // color: #888;
    // margin: 0px 0px 8px 0px;

    height: @fieldHeight;
	width: 330px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-right: 0px;
	border-width: 1px;
	font-size: 18px;
	border-color: @greyBorderColor;
	// margin-top: 6px;
	// margin-bottom: 6px;
	box-shadow: 0 2px 4px 0 rgba(91,91,91,.20);
	border-radius: @borderRadius;
	color: @textColor;
	transition: box-shadow .5s cubic-bezier(0.35,0,.25,1),background-color .5s cubic-bezier(0.35,0,.25,1),transform .5s cubic-bezier(0.35,0,.25,1);

   
	//For iPhone 3 and 4 and 5
	@media
		only screen and (max-width: @sd-width){
		height: @fieldHeight*1;
	}
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}
  	&.cnpLessLeftPadding{
  		padding-left: 16px;
  	}
}

/* helper elements on hover & focus */
.multiSelect .clearButton:hover,
.multiSelect .helperButton:hover {
    border: 0px solid #ccc;
    color: @blueColor;    
    background-color: @mediumGreyBackgroundColor;    
}

// .multiSelect .clearButton:focus,
// .multiSelect .helperButton:focus {
//     border: 0px solid @greyBorderColor !important;
//    	box-shadow: 0 0 5px rgba(50, 159, 198, 1);
// }
// .inputFilter:focus {
//     border: 1px solid @greyBorderColor !important;
//     box-shadow: 0 0 5px rgba(50, 159, 198, 1);
// }

.multiSelect .inputFilter:focus {
    border: 1px solid @greyBorderColor !important;
    box-shadow: 0 0 5px rgba(50, 159, 198, 1) !important;
    
}

.multiSelect .clearButton:focus,
.multiSelect .helperButton:focus {
	border: 0px solid #66AFE9 !important;
    box-shadow: inset 0 0px 1px rgba(0,0,0,0), 0 0 5px rgba(82,168,236,0) !important;

}




/* container of multi select items */
.multiSelect .checkBoxContainer {
    display: inline-block;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;   
    width: 100%;
    overflow-y: auto;
	max-height: 400px;
    // max-height: 400px;
    // overflow-y: scroll;
}

// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(0,0,0,.5);
//     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
// }

/* ! to show / hide the checkbox layer above */
.multiSelect .show {
    display: block !important;
}

/* item labels */
.multiSelect .multiSelectItem {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: @textColor;       
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;      
    border: 1px solid transparent;
    position: relative;
    width: 100%;
    transition: box-shadow .5s cubic-bezier(0.35,0,.25,1),background-color .5s cubic-bezier(0.35,0,.25,1),transform .5s cubic-bezier(0.35,0,.25,1);

}

/* Item labels: selected - Enable this if you want to apply styling on selected items */
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected
{
    background-image: none;
    background-color: @greyButtonColor;
    color: @textColor;        
    cursor: pointer;        
    border-top: 1px solid @whiteColor;
    border: 1px solid transparent;    
    border: 1px solid transparent;
    border: 1px solid transparent;         
}

/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover, 
.multiSelect .multiSelectGroup:hover {
    background-image: none !important;
    color: @textColor !important;   
    cursor: pointer;        
    border: 1px solid transparent !important;
}

/* item labels focus using keyboard */
.multiSelect .multiSelectFocus { 
    background-image: none !important;
    color: @textColor !important; 
    cursor: pointer;        
    border: 1px solid transparent !important;
}

/* change mouse pointer into the pointing finger */
.multiSelect .multiSelectItem span:hover, 
.multiSelect .multiSelectGroup span:hover
{    
    cursor: pointer;  
}

/* ! group labels */
.multiSelect .multiSelectGroup {    
    display: block;
    clear: both;
}

/* right-align the tick mark (&#10004;) */
.multiSelect .tickMark {
    display:inline-block; 
    position: absolute; 
    right: 29px; 
    top: 7px;
    font-size: 18px;          
}

/* hide the original HTML checkbox away */
.multiSelect .checkbox {    
    color: #ddd !important;    
    position: absolute;
    left: -9999px;
    cursor: pointer;    
}

/* checkboxes currently disabled */
.multiSelect .disabled, 
.multiSelect .disabled:hover,
.multiSelect .disabled label input:hover ~ span {
    color: #c4c4c4 !important;
    cursor: not-allowed !important;
}

/* If you use images in button / checkbox label, you might want to change the image style here. */
.multiSelect img {
    vertical-align: middle;
    margin-bottom:0px;
    height: 22px;
    width:22px;
}



/*
END OF APP VIEW
*/

/*
APP VIEW CONTENT
*/

.cnpAppViewContent{
	width: 100%;
	height: 100%;
	max-width: 1280px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-color: @lightGreyBackgroundColor;
}
.cnpContentWrapper{
	min-height: 550px;
	background-color: @lightGreyBackgroundColor;

}
.cnpAppViewContentBackground {
	width: 100%;
	min-width: 585px;
	height: 100%;
	background-color: @lightGreyBackgroundColor;
}

md-content.md-default-theme {
	background-color: @lightGreyBackgroundColor;
	max-width: 100%;
    overflow-x: hidden;
}

/*
END OF APP VIEW CONTENT
*/

/*
ADMIN PANEL
*/

.cnpSidebarTitle{

	font-size: 18px;
	font-weight: 500;
	padding-left: 0px;
	color: @headerTextColor;
}
.cnpSidebarHeader{

}

.cnpContent{
	padding-left: 10px;
	padding-right: 10px;
	background-color: @lightGreyBackgroundColor;
	max-width: 100%;
    overflow-x: hidden;
}
.cnpContentHeader{
	height: 56px;
}
.cnpContentTitle{
	font-size: 35px;
	font-weight: 500;
	color: @greyTitleTextColor;
	// text-transform: uppercase;
	text-align: right;

}

.md-toolbar-tools{
	height: 56px;
	min-height: 56px;
	background-color: @mediumGreyBackgroundColor;
}
md-toolbar.md-default-theme{
	height: 56px;
	min-height: 56px;
	background-color: @mediumGreyBackgroundColor;
	min-height: 56px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
	color: @headerTextColor;
}

.md-sidenav-left{
	margin-right: 20px;
	&.cnpSidenavLeft{
	border-width: 1px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
	color: @textColor;
	}
}
.cnpSidenavElements{
	padding-top: 10px;
	padding-bottom: 10px;
}
/*
END OF ADMIN PANEL
*/
/*
NG TABLE 
*/
.cnpActionBar{
	// height: 56px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	margin-top: 0px;
}
.cnpNgTableWrapper{

	padding-top: 10px;
}
.cnpNgTable{
	width: 100%;
	height: 100%;
	border-top: 2px;
	border-bottom: 1px;
	border-left: 2px;
	border-right: 2px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
	color: @textColor;
	background-color: @mediumGreyBackgroundColor;
	border-spacing: 0px;
	table-layout: fixed;
	// border-collapse: collapse;
	margin-bottom: 40px;

}
.cnpNgTable>thead>tr>th {
	font-weight: 500;
	font-size: 16px;
	color: @ngTableHeaderTextColor;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: @greyBorderColorHeader;
	border-style: solid;

	// border-bottom: 2px solid #99aab5;
}

.cnpNgTable>thead>tr>th[class*="filter"] {
	// font-weight: 500;
	// font-size: 16px;
	// color: @ngTableHeaderTextColor;
	// padding-top: 12px;
	// padding-bottom: 12px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: @greyBorderColorHeader;
	border-style: solid;

	// border-bottom: 2px solid #99aab5;
}


.cnpNgTable[show-filter="true"] tbody tr:nth-child(2n + 1) {
	background-color: @mediumGreyBackgroundColor;
}
.cnpNgTable[show-filter="true"] tbody tr:nth-child(2n) {
	background-color: @whiteColor;
}
.cnpNgTable[show-filter="true"][nogroups] tbody tr:nth-child(2n + 1) {
	background-color: @whiteColor;
}
.cnpNgTable[show-filter="true"][nogroups] tbody tr:nth-child(2n) {
	background-color: @mediumGreyBackgroundColor;
}
.cnpNgTable tbody tr:nth-child(2n) {
	background-color: @mediumGreyBackgroundColor;
}
.cnpNgTable tbody tr:nth-child(2n + 1) {
	background-color: @whiteColor;
}


// .table>tbody>tr>td:first-child {
// 	border-left-width: 0px;
// }
// .table>tbody>tr>td:last-child {
// 	border-right-width: 0px;
// }
.table>tbody>tr:last-child td {
	border-bottom-width: 2px;
}

.cnpNgTable>thead>tr:last-child {

}
// .cnpNgTable>tbody>tr {
// 	border-top: 1px;
// 	border-bottom: 0px;
// 	border-left: 0px;
// 	border-right: 1px;
// 	border-color: @greyBorderColorHeader;
// 	border-style: solid;
// 	padding-left: 8px;
// 	padding-top: 13px;
// 	padding-bottom: 13px;
// 	// white-space: nowrap;
  	
// }
.cnpNgTable>tbody>tr>td {
	border-top: 0px;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 1px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	overflow: hidden;
  	text-overflow: ellipsis !important;
  	// white-space: nowrap;
  	
}
.cnpNgTable>tbody>tr>td:last-of-type {
	// padding-right: 8px;
	// padding-left: 8px;
	border-right-width: 0px;
}
.cnpNgTable>tbody>tr>td:first-of-type[data-title="actionsTE"] {
	// padding-right: 8px;
	padding-left: 0px;
	border-left-width: 0px;
}
.cnpNgTable>tbody>tr:first-of-type:not([class*="ng-table-group"]) {
	border-top: 2px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
	// background-color: @whiteColor;
}

.cnpNgTable>tfoot>tr>td {
	border-color: #2C94C0;
	padding-left: 8px
}
.cnpNgTable>tfoot>tr>td:last-of-type {
	padding-right: 0px;
	padding-left: 8px
}
.ng-table-group{
	background-color: @whiteColor !important;
	padding: 0;
	color: @blueColor;
	border-top: 2px;
	border-bottom: 2px;
	border-left: 2px;
	border-right: 2px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
}

.ng-table-group-cell:before {
    content:"\00a0";
    height:40px;
    width: 100%;
    position:absolute;
    margin-top: -11px;
	left: 0px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    border-top: 2px;
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-color: @greyBorderColorHeader;
	border-style: solid;
}

.ng-table-group-cell-hidden:before {
    content:"\00a0";
    height:40px;
    width: 100%;
    position:absolute;
    margin-top: -11px;
	left: 0px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.ng-table-group-cell{
	// box-shadow: 0 2px 4px 0 rgba(91,91,91,.20);
	background-color: @whiteColor !important;
	text-decoration: none;
	color: @blueColor;
	font-size: 16px;
	font-weight: 500;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	height: 18px;
	&:hover{
		cursor: pointer;
	}
}

.ng-table-group-cell-collapsed{
	background-color: @whiteColor !important;
	text-decoration: none;
	color: #9EC8D6;
	font-size: 16px;
	font-weight: 500;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	&:hover{
		cursor: pointer;
	}
}


.nav>li>a:hover {
	background-color: none;
}



.ng-table th.sortable {
  cursor: pointer;
}
.ng-table th.sortable div {
  padding-right: 0px;
  position: relative;
 
}
.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
  content: "";
  border-width: 0 0px 0px;
  border-style: solid;
  border-color: @blueColor transparent;
  visibility: visible;
  right: 8%;
  top: 30%;
  position: absolute;
  opacity: .3;
  margin-top: -2px;
}
.ng-table th.sortable div:before {
  margin-top: 5px;
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid @blueColor;
  top: 38%;
}
.ng-table th.sortable div:after {
  margin-top: 5px;
  border-top: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid @blueColor;
  top: -7%;
}
.ng-table th.sortable div:hover:after,
.ng-table th.sortable div:hover:before {
  opacity: 1;
  visibility: visible;
}
.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background: none;
  text-shadow: none;
}
.ng-table th.sortable.sort-desc div:after,
.ng-table th.sortable.sort-asc div:after {
  margin-top: -2px;
  top: 38%;
}
.ng-table th.sortable.sort-desc div:before,
.ng-table th.sortable.sort-asc div:before {
  visibility: hidden;
}
.ng-table th.sortable.sort-asc div:after,
.ng-table th.sortable.sort-asc div:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.ng-table th.sortable.sort-desc div:after {
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid @blueColor;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  top: 50%;
}
.ng-table-filters {
	background: @mediumGreyBackgroundColor;
}
.ng-table-filters th:first-child,
.ng-table-filters th:last-child {
	border-left: 0px solid #99aab5;
	border-right: 0px solid #99aab5;
}
.ng-table-filters th:first-child {
	color: #fff;
	vertical-align: middle;

	font-size: 0.750em; /* 12px */
	text-align: center;
	text-transform: uppercase;
}
.ng-table th.filter .input-filter {
	height: 30px;
	width: 90%;
	color: @textColor;
	/*min-height: 25px;*/
	border: 0;
	font-size: 16px; /* 12px */
	font-weight: 400;
	color: @textColor;
	margin-right: 8px;
	margin-left: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: -1px;
	margin-top: -6px;
	display: initial;
	border-radius: @borderRadius;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(91,91,91,.20);
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}

}

//global widths
.cnpNgTable th:nth-of-type(1) {
	width: 12%;
	@media
	only screen and (min-width: 960px){
		width: 100px;
	}
}
//UserList
#usersList th:nth-of-type(2) {
	width: 25%;
	@media
	only screen and (min-width: 1280px){
		width: 25%;
	}
}
#usersList th:nth-of-type(3) {
	width: 25%;
	// &.>div{
	// 	width: 0%;
	// 	visibility: hidden;
	// }
	@media
	only screen and (max-width: 1280px){
		width: 0%;
		visibility: hidden;
		&>div{
		display: none;
	}
		
	}
}
#usersList th:nth-of-type(4) {
	width: 15%;

}
#usersList th:nth-of-type(5) {
	// width: 48%;
	@media
	only screen and (min-width: 1280px){
		width: 25%;
	}
}

.hideAccountContactsList &th:nth-of-type(3), .hideAccountContactsList &td:nth-of-type(3){
	width: 0%;
	visibility: hidden;
	&>div{
		display: none;
	}
	
}
.hideAccountContactsList th:nth-of-type(4), .hideAccountContactsList td:nth-of-type(4){
	width: 125px;
	// &.>div{
	// 	width: 0%;
	// 	visibility: hidden;
	// }
	@media
	only screen and (max-width: 700px){
	width: 0%;
	visibility: hidden;
	&>div{
		display: none;
	}
}
	@media
	only screen and (max-width: 1015px) and (min-width: 700px){
	width: 125px;
	}
	
}
.showAccountContactsList th:nth-of-type(3){
	width: 20%;

}
.showAccountContactsList th:nth-of-type(4), .showAccountContactsList td:nth-of-type(4){
	width: 125px;
	// &.>div{
	// 	width: 0%;
	// 	visibility: hidden;
	// }
	@media
	only screen and (max-width: 1015px){
	width: 0%;
	visibility: hidden;
	&>div{
		display: none;
	}
		
	}
}
#contactsList td:nth-of-type(2) {
	// font-size: 16px;
}
// #contactsList th:nth-of-type(3) {
// 	width: 158px;
// }
// #contactsList th:nth-of-type(4), #contactsList td:nth-of-type(4){
// 	width: 125px;
// 	// &.>div{
// 	// 	width: 0%;
// 	// 	visibility: hidden;
// 	// }
// 	@media
// 	only screen and (max-width: 1015px){
// 	width: 0%;
// 	visibility: hidden;
// 	&>div{
// 		display: none;
// 	}
		
// 	}
// }

#contactsList th:nth-of-type(5) {
	width: 158px;

}
#contactsList>tbody>tr>td {

	@media
	only screen and (max-width: 700px){
	font-size: 13px;
}

}

#operationLog th:nth-of-type(1) {
	width: 200px;
}
#contractorsList td:nth-of-type(2) {
	font-size: 16px;
}
#contractorsList th:nth-of-type(3) {
	width: 158px;
}
#contractorsList th:nth-of-type(5), #contractorsList td:nth-of-type(5){
	// width: 18%;
	// &.>div{
	// 	width: 0%;
	// 	visibility: hidden;
	// }
	@media
	only screen and (max-width: 960px){
	width: 0%;
	visibility: hidden;
	&>div{
		display: none;
	}
		
	}
}
#clientsList td:nth-of-type(2) {
	font-size: 16px;
}
#clientsList th:nth-of-type(3) {
	width: 158px;
}
#clientsList th:nth-of-type(5), #clientsList td:nth-of-type(5){
	// width: 18%;
	// &.>div{
	// 	width: 0%;
	// 	visibility: hidden;
	// }
	@media
	only screen and (max-width: 960px){
	width: 0%;
	visibility: hidden;
	&>div{
		display: none;
	}
		
	}
}
#deficiencyStatusesList th:nth-of-type(2) {
	width: 100px;
}


/*
END OF NG TABLE 
*/

/*
DETAILS VIEW
*/


.cnpSection{
	margin-top: 8px;
	margin-bottom: 60px;
	padding: 4px;
	width: 100%;
	// height: 100%;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-radius: 0;
	border-color: @greyBorderColor;
	border-style: solid;
	color: @textColor;
	background-color: @whiteColor;
	font-size: 16px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

}
.cnpSubSection{
	padding: 16px;
	margin: 4px;
	// width: 50%;
	// height: 100%;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-radius: @borderRadius;
	border-color: @lightGreyBackgroundColor;
	border-style: solid;
	background-color: @lightGreyBackgroundColor;
	// box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.cnpSubSectionTitleWrapper{
	margin-right: 0px;
	@media
	only screen and (max-width: 960px){
		margin-right: 0px;
	}
}

.cnpSubSectionLabel{
	font-size: 15px;
	font-weight: 500;
	color: #8F8F90;
	margin-bottom: 4px;
}

.cnpSubSectionData{
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	// height: 40px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 8px;
	border-width: 1px 1px 1px 1px;
	border-color: @lightGreyBackgroundColor;
	border-style: none;
	font-size: 16px;	
	font-weight: 500;
	background-color: transparent;
	box-shadow: none;
	&.cnpSubSectionDataBigger{
		font-size: 	28px;
		margin-bottom: 8px;
	}
	&.cnpSubSectionDataFaded{
		color: @textColorLight;
	}
}


.tags {
/*	height: 40px;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: @borderRadius;
	box-shadow: none;
	padding: 2px !important;
	margin-top: 8px !important;	
}

.tags input{
	width:11em;
}

tags-input .tags .input,
tags-input .tags .tag-item,
.tag-item {
	height: 32px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: @textColor;
}

tags-input .tags .tag-item{
	line-height: 31px;
}

tags-input .tags.focused{
	box-shadow: none;
}

tags-input .tags .tag-item,
.tag-item {
	background: @tagColor;
	border: 0;
}
tags-input .tags.location .tag-item,
.tags-wrapper.location .tag-item {
	background: @tagColor;

}

.tags-wrapper {
	/*	-moz-appearance: textfield;
	-webkit-appearance: textfield;*/
	padding: 1px;
	overflow: hidden;
	word-wrap: break-word;
	cursor: text;
	background-color: initial;
	border: 0px;
	margin-top: 8px;
}

.tag-item>span {
	font-size: 14px;
}
tags-input .tags .tag-item .remove-button {
	color: @textColor;
	font-size: 14px; /* 14px */
	font-weight: normal;
}
tags-input .tags .tag-item.selected{
	background: none;
	background-color: rgb(248, 149, 149) !important;
}


.tags-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tag-list>input {
	font-family: Calibri;
	font-size: 10pt;
}

.tag-item {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0 5px;
	display: inline-block;
	float: left;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	height: 32px;
	line-height: 31px;
	border: 3px solid transparent;
	border-radius: 3px;
	background: none;
	background-color: @tagColor;
	border: 0;
}

.tag-item>span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

tags-input .host {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*
END OF DETAILS VIEW
*/

// .glyphicon {
//   position: relative;
//   top: 1px;
//   display: inline-block;
//   // font-family: 'Glyphicons Halflings';
//   font-style: normal;
//   font-weight: normal;
//   line-height: 1;

//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .glyphicon-chevron-left:before {
//   content: "\e079";
// }
// .glyphicon-chevron-right:before {
//   content: "\e080";
// }



// #deficienciesListTable th:nth-of-type(7) {
// 	width: 9.5em;
// }
// #deficienciesListTable th:nth-of-type(8) {
// 	width: 8em;
// }

/*
END OF NG TABLE 
*/

/*
DETAILS VIEW
*/

.cnpVerticalAfterSpacing1x{
	margin-bottom: @spacingUnit;
}

.cnpVerticalAfterSpacing2x{
	margin-bottom: @spacingUnit * 2;
}

.cnpVerticalAfterSpacing4x{
	margin-bottom: @spacingUnit * 4;
}



