@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); } */

html{
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
   overflow-y: scroll;   
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

#body{
	width: 100%;
	margin: auto;	
	background-color: #354052; 
	background-image: none;
	font-size: 12pt;	
	background-size: cover;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;	
	color: #323544;		
}
#generalWrapper {
	width: 97%;
	min-width: 1180px;
	max-width: 1600px;
	min-height: 96.5%;
	margin: 1.5% auto 0;
	background: #fff;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
}
#header,
#navigationPanel,
#contentArea {
	padding-right: 40px;
	padding-left: 40px;
}
/* HEADER */
#header {
	height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../img/logo_watermark.png") right center no-repeat;
}
#logo {
	width: auto;
	height: 100%;
	float: left;
}
#logo td {
	vertical-align: middle;
}

#headerLogo{
	width: 60%;
}

#projectSelection {
	float: left;
	width: auto;
	margin-left: 5rem;

}

#headerLbs {
	width: auto;
	float: right;

}
#welcomeLb,
#languageBtnLb,
#signInLb {
	font-family: 'Ubuntu', sans-serif;	
	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #323544;
	float: right;
	cursor: pointer;
}


#welcomeLb {
	margin-top: 5px;
}
#languageBtnLb {
	width: 30px;
	height: 30px;
	padding-top: 6px;
	margin-top: 0;
	margin-bottom: 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #323544;

	float: right;
	cursor: pointer;

	font-size: 0.750em; /* 12px */
	text-align: center;
	color: #fff;
}
#signInLb {
	width: 26px;
	height: 26px;
	padding: 0;
	margin-right: 3px;
	margin-left: 12px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	background: #1590be url("../img/icon_logout.png") center 4px no-repeat;

	text-indent: -9999px;
	overflow: hidden;
}
#languageBtnLb:hover,
#signInLb:hover {
	background-color: #858d99;
}
#navigationPanel {
	height: 40px;
	padding-top: 0;
	background: #323544;
	border: 0;
	border-bottom: 1px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
	/*border-bottom-style: solid;
	border-width: 1px;
	border-color: white;*/
	clear: both;
   	/*padding: .2em;*/  	  
}
.mainNavLnk,
.mainNavLnk:hover,
.mainNavLnk:visited {
	/*cursor: pointer;*/
	min-height: 24px;
	display: block;
	padding-top: 12px;
	padding-right: 15px;
	font-size: 0.875em; /* 14px */
	color: #fff;
	float: left;
	outline: none;
	font-weight:700;
	cursor: pointer;
	background-position: 15px 7px;
	background-repeat: no-repeat;
}
.mainNavLnk.active {
	height: 45px;
	margin-top: -4px;
	padding-top: 12px;
	border-top: 4px solid #323544;
	background-color: #eef3f6;
	color: #323544;
}
.mainNavLnk:hover{
	opacity: .6;
}
.tab-deficiencies,
.tab-deficiencies:hover {
	padding-left: 40px;
	background-image: url('../img/icon_deficiency.png');
/*	background-position: left 7px;*/
}
.tab-deficiencies.active {
/*	padding-left: 41px;*/
	background-image: url('../img/icon_deficiency_active.png');
	background-position: 15px 7px;
	/*background-repeat: no-repeat;*/
}
.tab-units,
.tab-units:hover {
	padding-left: 47px;
	background-image: url('../img/icon_units.png');
}
.tab-units.active {
	background-image: url('../img/icon_units_active.png');
}
.tab-contractors,
.tab-contractors:hover {
	padding-left: 40px;
	background-image: url('../img/icon_contractor.png');
	background-position: 15px 8px;
}
.tab-contractors.active {
	background-image: url('../img/icon_contractor_active.png');
}
.tab-fournisseurs,
.tab-fournisseurs:hover {
	padding-left: 49px;
	background-image: url('../img/icon_fournisseurs.png');
	background-position: 15px 8px;
}
.tab-fournisseurs.active {
	background-image: url('../img/icon_fournisseurs_active.png');
}
.tab-clients,
.tab-clients:hover {
	padding-left: 43px;
	background-image: url('../img/icon_clients.png');
}
.tab-clients.active {
	background-image: url('../img/icon_clients_active.png');
}
.tab-settings,
.tab-settings:hover {
	padding-left: 41px;
	background-image: url('../img/icon_settings.png');
}
.tab-settings.active {
	background-image: url('../img/icon_settings_active.png');
}
.tab-admin,
.tab-admin:hover {
	padding-left: 38px;
	background-image: url('../img/icon_admin.png');
}
.tab-admin.active {
	background-image: url('../img/icon_admin_active.png');
}
.tab-deficiencies.active:hover,
.tab-units.active:hover,
.tab-contractors.active:hover,
.tab-fournisseurs.active:hover,
.tab-clients.active:hover,
.tab-settings.active:hover,
.tab-admin.active:hover {
	opacity: 1;
	cursor: default;
}
/* CONTENT */
#contentArea {
	background-color: #eef3f6;
	border-top: 1px solid #fff;	
	margin: 0;
	padding-top: 20px;
	padding-bottom: 5px;
	/*margin-top: 0.5em;*/
	/*opacity: 0.95;*/
	background-image: none;
	position: relative;
	/*min-height: 30em;	*/
}
.pxViewContent {
	padding: 0;
}

.pxViewContentTable{
	width: 100%;
}

.pxViewContentTableLeftPanel{
	vertical-align: top;
	width: 20%;
}

.pxViewTitle {
	float: right;
	padding: 0;
	border: 0;
/*	position: absolute;
	right: 40px;*/

	font-size: 2.125em; /* 34px */
	text-transform: uppercase;
	text-align: right;
	color: #d2d7db;
	top: 15px;
}
#subheader {
/*	margin-bottom: 5px;
	margin-top: 3rem;*/
	position: relative;
	z-index: 990;
}
/* open clearfix */
#subheader:before,
#subheader:after {
	content: " "; /* 1 */
    display: table; /* 2 */
}
#subheader:after {
	clear: both;
}
/* close clearfix */

#subheader .pxLink {
	float: left;
	clear: left;
}
.pxButton,
.add-new,
.add-new:hover {
	width: auto;
	background-color: #1590be;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 0;

	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
} 
.pxButton {
	height: 25px;
	padding: 0 15px;
/*	margin-left: 10px;*/	
/*	float: left;*/
	background-position: 12px center;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 0.750em; /* 12px */
	font-weight: 700;
	color: #fff;
	line-height: 25px;
	text-transform: uppercase;
}
.add-new,
.add-new:hover,
.back,
.back:hover {
	height: 26px;
	padding: 0 10px 0 22px;
	margin-left: 0;
	background-position: 10px center;
	background-repeat: no-repeat;
	
	font-size: 0.813em; /* 13px */
	line-height: 26px;
}
.add-new,
.add-new:hover {
	background-image: url('../img/icon_new.png');
}
.back,
.back:hover {
	padding-left: 26px;
	background-image: url('../img/icon_back.png');
}
.save,
.save:hover {
	padding-left: 30px;
	background-image: url('../img/icon_save.png');
}
.edit,
.edit:hover {
	padding-left: 34px;
	background-image: url('../img/icon_edit_btn.png');
	background-position: 14px 5px;
}
.pxButtonSecondary {
	background-color: #323544;
}
.pxButton:hover,
.add-new:hover {
	background-color: #858d99;
	text-decoration: none;
}
.subheader-fields {
	max-width: 88%;
	margin-top: 10px;
	float: left;
	clear: left;
}
/* open clearfix */
#subheader-fields:before,
#subheader-fields:after {
	content: " "; /* 1 */
    display: table; /* 2 */
}
#subheader-fields:after {
	clear: both;
}
/* close clearfix */

.subheader-fields > li {
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 35px;
}
.subheader-fields.disabled > li {
	margin-left: 30px;
	padding-left: 30px;
	border-left: 1px solid #c4cad1;
}
.subheader-fields > li:first-child {
	margin-left: 0;
	padding: 0;
	border-left: 0;
}
.subheader-fields .wrapper-status {
	border: 1px solid #c4cad1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	position: relative;
}
.subheader-fields.disabled .wrapper-status {
	border: 0;
	background: transparent;
}
.subheader-fields.disabled .wrapper-status .pxDisabledFld {
	margin-left: 30px;
}
.subheader-fields .icon-status {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 10px;
	bottom: 8px;
	background-position: center;
	background-repeat: no-repeat;
}
.subheader-fields.disabled .icon-status {
	left: 0;
	bottom: -4px;
}
.icon-status.conforme {
	background-image: url('../img/icon_done.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}
.icon-status.no-conforme {
	background-image: url('../img/icon_noconforme.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}

.icon-status.new_status{
	background-image: url('../img/icon_new_status.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}

.icon-status.pending{
	background-image: url('../img/icon_pending.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}

.icon-status.in-progress {
	background-image: url('../img/icon_inprogress.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}
.icon-status.contractor-conforme {
	background-image: url('../img/icon_done_contractor.png');
	height: 24px;
	width: 24px;
	float: left;
	background-repeat: no-repeat;	
}
.icons {
	float: right;
	clear: right;
	margin-top: 55px;
}
.icons {
	float: right;
	clear: right;
	margin-top: 55px;
}
.icons.listing {
	margin-top: 30px;
}

.subheaderFa{
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	margin-left: 10px;
	background-color: #1590be;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#subheader .fa {
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	margin-left: 10px;
	background-color: #1590be;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#subheader .fa.fa-filter {
	width: auto;
	padding: 0 15px 0 30px;
	background: #1590be url('../img/icon_filter.png') 15px center no-repeat;

	font-family: 'Ubuntu', sans-serif;
	font-size: 0.750em; /* 12px */
	font-weight: 700;
	color: #fff;
	line-height: 25px;
	text-transform: uppercase;
}
#subheader .fa.fa-refresh {
	background: #1590be url('../img/icon_refresh.png') center no-repeat;
}
#subheader .fa.fa-info-circle {
	background: #1590be url('../img/icon_info.png') center no-repeat;
}
#subheader .fa:before {
	content: "";
}
#subheader .fa:hover {
	background-color: #858d99;
	cursor: pointer;
}

/* MAIN DATA TABLE */
/* % width*/
/*#deficienciesListTable th:nth-of-type(1) {
	width: 6%;
}
#deficienciesListTable th:nth-of-type(2) {
	width: 9%;
}
#deficienciesListTable th:nth-of-type(3) {
	width: 11%;
}
#deficienciesListTable th:nth-of-type(4) {
	width: 16%;
}
#deficienciesListTable th:nth-of-type(5) {
	width: 15%;
}
#deficienciesListTable th:nth-of-type(6) {
	width: 14%;
}
#deficienciesListTable th:nth-of-type(7) {
	width: 8%;
}
#deficienciesListTable th:nth-of-type(8) {
	width: 13%;
}
#deficienciesListTable th:nth-of-type(9) {
	width: 8%;
}
*/
.pxListTable {
	color: #323544;
	/*border: 2px solid #99aab5;*/
}
.pxListTable th,
.pxListTable td {
	font-family: 'Ubuntu', sans-serif;
}
.pxListTable th {
	font-size: 0.813em; /* 13px */
	font-weight: 700;
}
.pxListTable td {
	font-size: 12px; /* 12px */
}
.pxListTable>tbody>tr>td {
	height: auto;
	vertical-align: middle;
}
.table>tfoot>tr>td:last-of-type {
	padding-left: 0;
}
.table>tbody>tr>td[data-title='unitTE'] {
	font-weight: 700;
}
.table>tbody>tr>td[data-title='actionTE'],
.table>tbody>tr>td[data-title='statusTE'],
.table>tbody>tr>td[data-title='imagesTE'],
.th-action,
.th-status,
.th-images {
	text-align: center;
}
.table>tbody>tr>td[data-title='actionTE'],
.table>tbody>tr>td[data-title='statusTE'],
.table>tbody>tr>td[data-title='imagesTE'] {
	padding-left: 0;
	padding-right: 0;
}
.pxListTable tbody tr:nth-child(2n+1) {
	background-color: #fff;
}
.table>thead>tr>th {
	border-bottom: 2px solid #99aab5;
}
.table>tbody>tr>td {
	border: 1px solid #99aab5;
}
.table>tbody>tr>td:first-child {
	border-left-width: 2px;
}
.table>tbody>tr>td:last-child {
	border-right-width: 2px;
}
.table>tbody>tr:last-child td {
	border-bottom-width: 2px;
}
.table>tbody>tr.priority td:first-child {
	border-left-width: 3px;
	border-left-color: #ff0000;
	background-clip: padding-box;
}
.table>tbody>tr.priority {
	color: #ff0000;
}
.table>tbody>tr>td[data-title='imagesTE'] .pxLink {
	min-width: 22px;
	height: 22px;
	display: inline-block;
	border: 2px solid #323544;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	font-family: 'Arial', sans-serif;
	font-size: 0.917em; /* 11px */
	font-weight: 700;
	color: #323544;
	line-height: 19px;
	text-decoration: none;
	text-align: center;
}
.table>tbody>tr>td[data-title='imagesTE'] .pxLink:hover {
	border-color: #858d99;
	color: #858d99;
}
/* FILTERS */
.ng-table-filters {
	background: #99aab5;
}
.ng-table-filters th:first-child,
.ng-table-filters th:last-child {
	border-left: 2px solid #99aab5;
	border-right: 2px solid #99aab5;
}
.ng-table-filters th:first-child {
	color: #fff;
	vertical-align: middle;

	font-size: 0.750em; /* 12px */
	text-align: center;
	text-transform: uppercase;
}
.ng-table th.filter .input-filter {
	height: 30px;
	/*min-height: 25px;*/
	border: 0;
	font-size: 0.923em; /* 12px */
	font-weight: 700;
}
/* ACTIONS */
.fa-eye,
.fa-pencil-square-o {
	width: 16px;
	height: 15px;
	background: url("../img/icon_view.png") 0 0 no-repeat; 
}
.fa-eye:before,
.fa-pencil-square-o:before {
	content: "";
	display: none;
}
.fa-pencil-square-o {
	background: url("../img/icon_edit.png") 0 0 no-repeat; 
}

/* SORTABLE */
/*.wrapper-sortable {
	width: auto;
	height: 10px;
	margin-left: 12px;
	display: inline-block;
	position: relative;
}
.wrapper-sortable:before {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 4px solid #1590be;
	position: absolute;
	right: 0;
	top: 0;
}
.wrapper-sortable:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #1590be;
	position: absolute;
	right: 0;
	bottom: 0;
}
th.active-sort {
	background-color: #c3ced5;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
th.active-sort .wrapper-sortable:before {
	border: 0;
}
th.active-sort .wrapper-sortable:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #323544;
	bottom: 2px;
	right: -3px;
}
.ng-table th.sortable div {
	padding-right: 0;
}
.ng-table th.sortable div:after, 
.ng-table th.sortable div:before {
	content: "";
	border: 0;
	display: none;
}*/

/* STATUS TABLE */
.conforme span {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url('../img/icon_done.png') center no-repeat;
}
.no-conforme span {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url('../img/icon_noconforme.png') center no-repeat;
}
.in-progress span {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url('../img/icon_inprogress.png') center no-repeat;
}
.contractor-conforme span {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/icon_done_contractor.png') center no-repeat;
}

/* NUMBER ELEMENTS PER PAGE BTNS*/
.ng-table-pager {
	margin-top: 10px;
}
.btn,
.pagination>li>a, 
.pagination>li>span,
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	width: 22px;
	height: 22px;
	display: block;
	padding: 0;
	background: #323544;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 0;

	font-family: 'Arial', sans-serif;
   	font-size: 0.750em; /* 12px */
	font-weight: 700;
	color: #fff;
	text-align: center;
}
.pagination>li>a, 
.pagination>li>span,
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	margin-right: 6px;
	margin-left: 0;
	line-height: 22px;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	font-size: 1.500em; /* 18px */
	font-weight: 300;
	line-height: 19px;
}
.btn:hover,
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default,
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus,
.pagination>.disabled>span, 
.pagination>.disabled>span:hover, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>a, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>a:focus,
.pagination>li.disabled>a, 
.pagination>li.disabled>a:hover, 
.pagination>li.disabled>a:focus
{
	background: #c3ced5;
	box-shadow: none;
	
	font-weight: 700;
	color: #323544;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:last-child:not(:first-child), 
.btn-group>.dropdown-toggle:not(:first-child) {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.btn-group .btn+.btn, 
.btn-group .btn+.btn-group, 
.btn-group .btn-group+.btn, 
.btn-group .btn-group+.btn-group {
	margin-left: 6px;
}

/* TABS DETAILS */
.tabbable {
	clear: both;
}
.tab-content {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #dadfe4;
	border-color: #90949d;

	font-family: 'Ubuntu', sans-serif;
	color: #323544;
	min-height: 350px;
	border-right: 1px solid #90949d;
	border-left: 1px solid #90949d;
	border-bottom: 1px solid #90949d;
	
	font-size: 12pt;
}


.tab-content input{
	width: 100%;
	height: 40px;
	border: 1px solid #9ca0a6;
	-weblit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
}

.tab-content table {
	width: 100%;
}
/*.tab-content table td {
	width: 25%;
	padding-left: 30px;
	padding-top: 15px;
}
.tab-content table tr td:first-child {
	width: 50%;
	padding-left: 0;
}
.tab-content table tr:nth-child(2) td {
	width: 25%;
	padding-left: 30px;
}
.tab-content table tr:first-child td {
	padding-top: 0;
}*/

.quickdate-button,
.quickdate-button:hover {
	width: 55%;
	line-height: 30px;
	color: #1590be;
	background: #fff url("../img/icon_calendar.png") 95% center no-repeat;
}
.quickdate-button:hover {
	color: #323544;
	text-decoration: none;
}
.tab-content textarea {
	height: 121px;
	resize: none; /*aleh*/
}

.pxDisabledTxtArea,
.pxDisabledFld,
.tab-content .pxLink,
.subheader-fields .pxLink,
.subheader-fields.disabled .pxLink {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px; /*0.750em;*/
	color: #323544;
}
.tab-content .pxLink,
.subheader-fields.disabled .pxLink {
	color: #1590be;
}
.tab-content .pxLink:hover,
.subheader-fields .pxLink:hover,
.subheader-fields.disabled .pxLink:hover {
	color: #323544;
	text-decoration: none;
}
#deficiencyAttributeTable>tbody>tr>td {
	/*padding: 0;*/
	height: auto;
	vertical-align: top;
}
.tab-content>.active {
	height: auto;
}

.cnpSideNav{
	margin-bottom: 0.5em;
}

.cnpSideNav>a {
	padding: 3px 15px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.750em;
	text-transform: uppercase;	
	color: #1590be;
	font-weight: 700;
}

.cnpSideNav>a:hover {
	color: #858d99;
	text-decoration: none;
}

.nav>li>a {
	padding: 3px 15px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.750em;
	text-transform: uppercase;
	color: #fff;
}

.nav-tabs {
	border-color: #90949d;
}
.nav-tabs>li>a {
	-webkit-border-radius: 16px 16px 0 0;
	-moz-border-radius: 16px 16px 0 0;
	border-radius: 16px 16px 0 0;
	background-color: #323544;
	border-color: #323544;
	border-bottom: 0;
}
.nav-tabs>li>a:hover {
	background-color: #858d99;
	border-color: #858d99;
	color: #fff;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: #dadfe4;
	border-color: #90949d;
	border-bottom: 0;

	color: #323544;
	font-weight: 700;
}
.pxFieldRequiredSign {
	position: absolute;
	margin-left: 4px;
}
.tags {
/*	height: 40px;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: none;
}

.tags input{
	width:11em;
}

tags-input .tags .input,
tags-input .tags .tag-item,
.tag-item {
	height: 32px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 0.750em;
	color: #323544;
}

tags-input .tags .tag-item{
	line-height: 31px;
}

tags-input .tags.focused{
	box-shadow: none;
}

tags-input .tags .tag-item,
.tag-item {
	background: #a1c8b7;
	border: 0;
}
tags-input .tags.location .tag-item,
.tags-wrapper.location .tag-item {
	background: #81c2db;
}

.tags-wrapper {
	/*	-moz-appearance: textfield;
	-webkit-appearance: textfield;*/
	padding: 1px;
	overflow: hidden;
	word-wrap: break-word;
	cursor: text;
	background-color: initial;
	border: 0px;
}

.tag-item>span {
	font-size: 1em;
}
tags-input .tags .tag-item .remove-button {
	color: #323544;
	font-size: 1.167em; /* 14px */
	font-weight: normal;
}

/* Override app.css */
#signInLb,
.pxLink,
.pxLink:hover,
.pxButton,
.pxViewTitle,
.btn,
a,
a:hover,
.tag-list>input,
.tag-item,
.tag-item>span {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

a{
	cursor: pointer;
	text-decoration: none;	
}

/* FORM ELEMENTS */
.form-control::-webkit-input-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
.form-control::-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
.form-control:-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
.form-control:-ms-input-placeholder { /* IE10+ */
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
.input::-webkit-input-placeholder {
  	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	color: #323544;
	opacity: 1;
}
.input::-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	color: #323544;
	opacity: 1;
}
.input:-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	color: #323544;
	opacity: 1;
}
.input:-ms-input-placeholder { /* IE10+ */
  	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	color: #323544;
	opacity: 1;
}
.form-control {
   	padding: 10px;
   	height: 40px;
   	border: 1px solid #9ca0a6;
   	border-radius: 3px;
   	box-shadow: none;   	
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: 'Ubuntu', sans-serif;
   	font-size: 12px; /* 12px */
   	/*font-weight: 700;*/
   	color: #323544;
}
.form-control:focus {
	border: 1px solid #1590be;
}
.form-control.input-unit {
	max-width: 130px;
}
.input-search .form-control {
	max-width: 200px;
}
.input-search:before {
	content: "";
	width: 1px;
	height: 100%;
	display: block;
	background: #c4cad1;
	position: absolute;
	right: 32px;
	top: 0;
}
/*.input-search:after {
	content: "";
	width: 12px;
	height: 12px;
	display: block;
	background: url('../img/icon_search.png') 0 0 no-repeat;
	position: absolute;
	right: 11px;
	top: 14px;
}*/
.pxInputLabel {
	display: inline-block;
	margin-bottom: 5px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #323544;
}

.pxInputLabelTd{
	height: 4em;
}

.pxSelect {
/*	width: 150px;*/
	height: 40px;
	display: block;
	padding: 10px;
	border: 1px solid #c4cad1;
	border-radius: 3px;
	background: #fff;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	z-index: 900;

	font-family: 'Ubuntu', sans-serif;
	font-size: 12px; /* 12px */
	color: #323544;
}
.subheader-fields .wrapper-status .pxSelect {
	padding-left: 35px;
	width: auto;
	border: 0;
}
.subheader-fields.listing .pxSelect {
	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #858d99;
}
/* FOOTER */
#footer {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 1.5%;
	border: 0;
	background: #1590be;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.688em; /* 11px */
	color: #fff;
	line-height: 50px;
}
.footerLink,
.footerLink:hover {
	float: none;
	display: inline;
	padding: 0 0 0 10px;
	margin: 0;
	/*border-left: 1px solid #fff;*/

	font-family: 'Ubuntu', sans-serif;
	font-size: 1em; /* 11px */
	color: #fff;
	line-height: 50px;
}
.footerLink:hover {
	opacity: .6;
	text-decoration: none;
}
.footerLink:before {
	content:"|";
	margin: 0 12px -12px 0;
	opacity: .3;
}
.footerLink.conspector:before {
	content: "";
	width: 27px;
	height: 30px;
	margin-right: 8px;
	display: inline-block;
	background: transparent url('../img/logo_conspector_footer.png') 0 center no-repeat;
	opacity: 1;
}
.copyright {
	float: right;
	opacity: .6;
}

/* SPINNER */

#floatingBarsG{
	width: 30px;
	height: 37px;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:5px;
height:12px;
-moz-border-radius:4px 4px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.5599999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:4px 4px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.5599999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:4px 4px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.5599999999999999s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:4px 4px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.5599999999999999s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:4px 4px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.5599999999999999s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:13px;
-moz-animation-delay:0.20999999999999996s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.20999999999999996s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.20999999999999996s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.20999999999999996s;
-o-transform:rotate(-90deg);
animation-delay:0.20999999999999996s;
transform:rotate(-90deg);
}

#rotateG_02{
left:4px;
top:5px;
-moz-animation-delay:0.27999999999999997s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.27999999999999997s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.27999999999999997s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.27999999999999997s;
-o-transform:rotate(-45deg);
animation-delay:0.27999999999999997s;
transform:rotate(-45deg);
}

#rotateG_03{
left:13px;
top:1px;
-moz-animation-delay:0.35s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.35s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.35s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.35s;
-o-transform:rotate(0deg);
animation-delay:0.35s;
transform:rotate(0deg);
}

#rotateG_04{
right:4px;
top:5px;
-moz-animation-delay:0.41999999999999993s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.41999999999999993s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.41999999999999993s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.41999999999999993s;
-o-transform:rotate(45deg);
animation-delay:0.41999999999999993s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:13px;
-moz-animation-delay:0.48999999999999994s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.48999999999999994s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.48999999999999994s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.48999999999999994s;
-o-transform:rotate(90deg);
animation-delay:0.48999999999999994s;
transform:rotate(90deg);
}

#rotateG_06{
right:4px;
bottom:3px;
-moz-animation-delay:0.5599999999999999s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.5599999999999999s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.5599999999999999s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.5599999999999999s;
-o-transform:rotate(135deg);
animation-delay:0.5599999999999999s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:13px;
-moz-animation-delay:0.63s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.63s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.63s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.63s;
-o-transform:rotate(180deg);
animation-delay:0.63s;
transform:rotate(180deg);
}

#rotateG_08{
left:4px;
bottom:3px;
-moz-animation-delay:0.7s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:0.7s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:0.7s;
-ms-transform:rotate(-135deg);
-o-animation-delay:0.7s;
-o-transform:rotate(-135deg);
animation-delay:0.7s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

/* PHOTO GALLERY POPUP */

.galleryListItem{
    list-style:none;
    display:inline-block;
}

.galleryList{
    padding:0;
    margin:0;
    white-space:nowrap;
}

.thumbnail {
    height:50px;
    padding:2px;
    margin-bottom: 0px;
}

.large {
    width:400px;
}

.mainimageshell {
    background-color:#fff;
    width:400px;
/*     padding:10px; */
}

.viewwindow {
    width:400px;
    height:400px;
    overflow: hidden;
    position:relative;
}

.fullsizelist{
    position:absolute;
    top:0;
    left:0;

}

/* .fullSizeListTransition{ */
/*     transition:  left .6s ease; */
/*     -ms-transition:  left .6s ease; */
/*     -o-transition:  left .6s ease; */
/*     -webkit-transition:  left .6s ease; */
/*     -moz-transition:  left .6s ease;	 */
/* } */

.myfullsizelist{
    position:absolute;
    top:0;
    left:0;
}

.bg {
    background-color:white;
    padding: 1em;
/*     border-radius:8px; */
    float:left;
	border: 1px solid #ccc;	  
	
	z-index: 1000;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 434px;	
	height: 500px;		
	  
}
    

.thumbsshell {
    background-color:#fff;
	width: 416px;
    float:left;
	margin-top: 1em; 
  
}

.thumbswrapper {
	overflow-x: auto;
	width: 400px;
	height: 65px;
}

.thumbwrapper {
    float:left;
    height:60px;
}

.captionshell {
	background-color: black;
	width: 390px;
	margin-left: 5px;
	overflow-y: auto;
	height: 45px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	color: white;
	bottom: 106px;
	position: absolute;
	opacity: 0.3;
	padding-bottom: 0.2em;
}

.logoshell {
    margin:0 0 0 5px;
    text-align:center;
    background-color:#fff;
    width:175px;
    padding:9px 10px;
    border-radius:8px;
    float:left;
}

/* ROLE SELECTION POP UP */

.roleLabels{
	padding-left: 6px;
}

/* LOGIN PAGE */
div.login #generalWrapper {
	width: 336px;
	min-width: 336px;
	min-height: 407px;
	height: 406px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -203px 0 0 -168px;
	/*background: #fff url("../img/logo_watermark.png") right -30px no-repeat;
*/}
div.login #header {
	height: auto;
	background: none;
}
div.login #logo {
	width: 100%;
	height: auto;
	float: none;
	margin-top: 45px;
}
div.login #logo td {
	text-align: center;
}
div.login #logo_image {
	width: 231px;
	height: 82px;
}
div.login #headerLbs {
	margin-top: 0;
	position: absolute;
	top: 20px;
	right: 20px;
}
div.login #contentArea {
	background-color: transparent;
	border: 0;
	padding-top: 35px;
	min-height: 200px
}
div.login #contentArea .pxFormBox {
	width: 80%;
	border: 0;
	padding: 0;
	margin: 0 auto;
	float: none;
}
div.login #contentArea .pxInputLabel,
div.login #contentArea .pxFieldRequiredSign {
	display: none;
}
div.login .pxButton {
	width: 100%;
	height: 40px;
	border-radius: 3px;

	line-height: 30px;
}
div.login input {
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid #9ca0a6;
	-weblit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;

	line-height: 18px;
	font-size: 13px;
}

div.login input:focus{
	outline: none;
}

div.login .pxLink,
div.login .pxLink:hover {
	width: 100%;
	display: block;
	border-top: 1px solid #c4cad1;
	padding-top: 15px;
	font-size: 0.750em;
	color: #1c8ebe;
	text-decoration: underline;
}
div.login .pxLink:hover {
	text-decoration: none;
}
div.login .pxInputTextField::-webkit-input-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
div.login .pxInputTextField::-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
div.login .pxInputTextField:-moz-placeholder {
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 1.083em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
div.login .pxInputTextField:-ms-input-placeholder { /* IE10+ */
  	font-family: 'Ubuntu', sans-serif;
   	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #858d99;
	opacity: 1;
}
.pxVerticalAfterSpacing{
	display: block !important;
 	margin-bottom: 10px !important; 
}

/* DROPDOWN MENU */
.dropdown span {
	width: 150px;
	height: 40px;
	display: block;
	padding: 10px;
	border: 1px solid #c4cad1;
	border-radius: 3px;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 0.813em; /* 13px */
	font-weight: 700;
	color: #858d99;
}
.dropdown span.status {
	width: 200px;
}
.dropdown span:before {
	content: "";
	width: 1px;
	height: 100%;
	display: block;
	background: #c4cad1;
	position: absolute;
	right: 30px;
	top: 0;
}
.dropdown span:after {
	content: "";
	width: 0; 
	height: 0; 
	position: absolute;
	right: 10px;
	top: 18px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #323544;
}
.dropdown ul {
	width: 100%;
	margin-top: -1px;
	position: absolute;
	border: 1px solid #c4cad1;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 0.750em; /* 12px */

	display: none;
}
.dropdown ul li:not(.colorpicker-saturation):not(.colorpicker-hue):not(.colorpicker-alpha):not(.colorpicker-color) {
	float: none;
	display: block;
	padding: 6px;
}
.dropdown ul li:hover:not(.colorpicker-saturation):not(.colorpicker-hue):not(.colorpicker-alpha):not(.colorpicker-color) {
	background: #c3ced5;
}
.dropdown:hover ul {
	display: block;
}

/* Retina-specific stuff here */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    #signInLb {
		background-image: url("../img/icon_logout@2x.png");
		-webkit-background-size: 14px 16px;
		-moz-background-size: 14px 16px;
		background-size: 14px 16px;
	}
	.tab-deficiencies,
	.tab-deficiencies:hover {
		background-image: url('../img/icon_deficiency@2x.png');
		-webkit-background-size: 16px 24px;
		-moz-background-size: 16px 24px;
		background-size: 16px 24px;
	}
	.tab-deficiencies.active {
		background-image: url('../img/icon_deficiency_active@2x.png');
		-webkit-background-size: 16px 24px;
		-moz-background-size: 16px 24px;
		background-size: 16px 24px;
	}
	.tab-units,
	.tab-units:hover {
		background-image: url('../img/icon_units@2x.png');
		-webkit-background-size: 22px 24px;
		-moz-background-size: 22px 24px;
		background-size: 22px 24px;
	}
	.tab-units.active {
		background-image: url('../img/icon_units_active@2x.png');
		-webkit-background-size: 22px 24px;
		-moz-background-size: 22px 24px;
		background-size: 22px 24px;
	}
	.tab-contractors,
	.tab-contractors:hover {
		background-image: url('../img/icon_contractor@2x.png');
		-webkit-background-size: 15px 24px;
		-moz-background-size: 15px 24px;
		background-size: 15px 24px;
	}
	.tab-contractors.active {
		background-image: url('../img/icon_contractor_active@2x.png');
		-webkit-background-size: 15px 24px;
		-moz-background-size: 15px 24px;
		background-size: 15px 24px;
	}
	.tab-fournisseurs,
	.tab-fournisseurs:hover {
		background-image: url('../img/icon_fournisseurs@2x.png');
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		background-size: 24px 24px;
	}
	.tab-fournisseurs.active {
		background-image: url('../img/icon_fournisseurs_active@2x.png');
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		background-size: 24px 24px;
	}
	.tab-clients,
	.tab-clients:hover {
		background-image: url('../img/icon_clients@2x.png');
		-webkit-background-size: 18px 24px;
		-moz-background-size: 18px 24px;
		background-size: 18px 24px;
	}
	.tab-clients.active {
		background-image: url('../img/icon_clients_active@2x.png');
		-webkit-background-size: 18px 24px;
		-moz-background-size: 18px 24px;
		background-size: 18px 24px;
	}
	.tab-settings,
	.tab-settings:hover {
		background-image: url('../img/icon_settings@2x.png');
		-webkit-background-size: 16px 24px;
		-moz-background-size: 16px 24px;
		background-size: 16px 24px;
	}
	.tab-settings.active {
		background-image: url('../img/icon_settings_active@2x.png');
		-webkit-background-size: 16px 24px;
		-moz-background-size: 16px 24px;
		background-size: 16px 24px;
	}
	.tab-admin,
	.tab-admin:hover {
		background-image: url('../img/icon_admin@2x.png');
		-webkit-background-size: 13px 24px;
		-moz-background-size: 13px 24px;
		background-size: 13px 24px;
	}
	.tab-admin.active {
		background-image: url('../img/icon_admin_active@2x.png');
		-webkit-background-size: 13px 24px;
		-moz-background-size: 13px 24px;
		background-size: 13px 24px;
	}
	.add-new,
	.add-new:hover {
		background-image: url('../img/icon_new@2x.png');
		-webkit-background-size: 8px 8px;
		-moz-background-size: 8px 8px;
		background-size: 8px 8px;
	}
	.back,
	.back:hover {
		background-image: url('../img/icon_back@2x.png');
		-webkit-background-size: 10px 10px;
		-moz-background-size: 10px 10px;
		background-size: 10px 10px;
	}
	.save,
	.save:hover {
		background-image: url('../img/icon_save@2x.png');
		-webkit-background-size: 12px 12px;
		-moz-background-size: 12px 12px;
		background-size: 12px 12px;
	}
	.edit,
	.edit:hover {
		background-image: url('../img/icon_edit_btn@2x.png');
		-webkit-background-size: 16px 15px;
		-moz-background-size: 16px 15px;
		background-size: 16px 15px;
	}
	.subheader-fields .icon-status.conforme,
	.subheader-fields .icon-status.no-conforme,
	.subheader-fields .icon-status.in-progress {
		-webkit-background-size: 22px 22px;
		-moz-background-size: 22px 22px;
		background-size: 22px 22px;
	}
	.subheader-fields .icon-status.conforme {
		background-image: url('../img/icon_done@2x.png');
	}
	.subheader-fields .icon-status.no-conforme {
		background-image: url('../img/icon_noconforme@2x.png');
	}
	.subheader-fields .icon-status.in-progress {
		background-image: url('../img/icon_inprogress@2x.png');
	}
	.subheader-fields .icon-status.contractor-conforme {
		background-image: url('../img/icon_done_contractor@2x.png');
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		background-size: 24px 24px;
	}
	#subheader .fa.fa-filter {
		background-image: url('../img/icon_filter@2x.png');
		-webkit-background-size: 10px 10px;
		-moz-background-size: 10px 10px;
		background-size: 10px 10px;
	}
	#subheader .fa.fa-refresh {
		background-image: url('../img/icon_refresh@2x.png');
		-webkit-background-size: 16px 12px;
		-moz-background-size: 16px 12px;
		background-size: 16px 12px;
	}
	#subheader .fa.fa-info-circle {
		background-image: url('../img/icon_info@2x.png');
		-webkit-background-size: 6px 13px;
		-moz-background-size: 6px 13px;
		background-size: 6px 13px;
	}
	.fa-eye,
	.fa-pencil-square-o {
		background: url("../img/icon_view@2x.png") 0 0 no-repeat; 
		-webkit-background-size: 16px 15px;
		-moz-background-size: 16px 15px;
		background-size: 16px 15px;
	}
	.fa-pencil-square-o {
		background-image: url("../img/icon_edit@2x.png");
		-webkit-background-size: 16px 15px;
		-moz-background-size: 16px 15px;
		background-size: 16px 15px; 
	}
	.conforme span,
	.no-conforme span,
	.in-progress span {
		-webkit-background-size: 22px 22px;
		-moz-background-size: 22px 22px;
		background-size: 22px 22px;
	}
	.conforme span {
		background: url('../img/icon_done@2x.png') center no-repeat;
	}
	.no-conforme span {
		background: url('../img/icon_noconforme@2x.png') center no-repeat;
	}
	.in-progress span {
		background: url('../img/icon_inprogress@2x.png') center no-repeat;
	}
	.contractor-conforme span {
		background-image: url('../img/icon_done_contractor@2x.png');
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		background-size: 24px 24px;
	}
	.quickdate-button,
	.quickdate-button:hover {
		background-image: url("../img/icon_calendar@2x.png");
		-webkit-background-size: 13px 14px;
		-moz-background-size: 13px 14px;
		background-size: 13px 14px;
	}
	.input-search:after {
		background-image: url('../img/icon_search@2x.png');
		-webkit-background-size: 12px 12px;
		-moz-background-size: 12px 12px;
		background-size: 12px 12px;
	}
	.footerLink.conspector:before {
		background-image: url('../img/logo_conspector_footer@2x.png');
		-webkit-background-size: 27px 30px;
		-moz-background-size: 27px 30px;
		background-size: 27px 30px;
	}
}

.pxRadioButtonLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 9pt;
}

.locationTags li{
	background: #81c2db !important;;
}

:root {
  -webkit-print-color-adjust: exact;
}

.multiSelect .button{
	text-align: left;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc{
	background-color: initial;
}



@media print {
   thead {display: table-header-group;}
   tr {-webkit-print-color-adjust: exact;}
   
}