@spacingUnit: 0.5rem;
@fieldHeight: 3rem;
@clickableLabelColor: #1c8ebe;

.cnpUserManagementForm{
	border: 1px solid black;
	padding: 2rem;
}

.cnpInputField{
	height: @fieldHeight;
}

.cnpButton{
	height: @fieldHeight;	
}

.cnpVerticalAfterSpacing1x{
	margin-bottom: @spacingUnit;
}

.cnpVerticalAfterSpacing2x{
	margin-bottom: @spacingUnit * 2;
}

.cnpClickableLabel{
	color: @clickableLabelColor;
	&:hover{
		cursor: pointer;
	}
}