/*
VARIABLE AND SETTINGS
*/

@spacingUnit: 0.5rem;
@fieldHeight: 48px;

//Colors
@lightGreyBackgroundColor: #F8F8F8;
@mediumGreyBackgroundColor: #EDEFED;
@darkerGreyBackgroundColor: #565A5C;
@blueColor: #0088B8;
@whiteColor: #FFFFFF;
@greyBorderColor: #96A196;

//Fonts
@clickableTextColor: #0088B8;
@greyTitleTextColor: #576D77;
@textColor: #424347;
@placeholderTextColor: rgba(66, 67, 71, 0.5);
@textColorLight: rgba(66, 67, 71, 0.5);
@fontSize: 14pt;
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

//Placeholder styling
::-webkit-input-placeholder {
   color: @placeholderTextColor;
}
:-moz-placeholder { /* Firefox 18- */
   color: @placeholderTextColor;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: @placeholderTextColor;  
}
:-ms-input-placeholder {  
   color: @placeholderTextColor;  
}

//Class for making text unselectable
.notSelectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//Class for making text unselectable
.cnpCursorDefault{
	cursor: default;
}
//To accept breaklines in angular text
.angular-with-newlines {
  white-space: pre-line;
  line-height: 160%;
}

//Animation
.cnpWithAnimation{
	  	-webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -ms-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
  	}

//For pixel ratio
@pixelRatio2: 2;

//Borders and radius
@borderRadius: 3px;

//Sizes sd (small device), md (medium device)
@sd-width:320px;
@md-width:375px;
@sd-height:480px;
@md-height:568px;

//Padding
@userManagementFormPadding: 43px*0.7;

//Font smoothing trick
//already applied by Material

/*
END OF VARIABLE AND SETTINGS
*/

/*
GLOBAL
*/

body{

font-family: 'Ubuntu', sans-serif;
font-size: @fontSize;
font-style: normal;
font-weight: 400;
color: @textColor;
}

/*
END OF GLOBAL
*/

/*
USER MANAGEMENT
*/
.cnpUserManagementWrapper{
width: 100%;
	.cnpUserManagementForm{
		//For iPhone 3GS
		min-width: @sd-width;
		max-width: @sd-width;
		background-color: @lightGreyBackgroundColor;
		border-radius: @borderRadius;
		padding: 20px;
		padding-left: @userManagementFormPadding;
		padding-right: @userManagementFormPadding;

		@media
		only screen and (min-height: @sd-height) and (max-width: @sd-width) and (-webkit-min-device-pixel-ratio: 1){
		min-height: @sd-height;
		max-height: @sd-height;
			//For iPhone 4 (Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2){
			}
		}
				//For iPhone 5 (Retina Display)
		@media
		only screen and (min-height: @md-height) and (max-width: @sd-width){
		min-height: @md-height;
		max-height: @md-height;
		}
		//For iPhone 6 (Retina Display)
		@media
		only screen and (min-width: 375px){
		max-height: @md-height;
		min-width: @md-width;
		max-width: @md-width;
		margin-top: 25px;
			//For iPhone 6 Plus (1.5 Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 3){
			}
		}
		//For iPad 1/2
		@media
		only screen and (min-width: 600px) and (max-width: 1024px){
		margin-top: 75px;
		//For iPad 3/4 (Retina Display)
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2){
			}
		}
		//For Desktop PC
		@media
		only screen and (min-width: 1025px){
		margin-top: 125px;
		}
	}
}

.cnpConspectorLogo{
	width: 72%;
	margin-top: 20px;
	margin-bottom: 40px;
	//For iPhone 3 and 4
	@media
	only screen and (max-width: @sd-width){
	margin-top: 15px;
	margin-bottom: 15px;
	//For iPhone 5
	@media
	only screen and (min-height: @md-height){
	}
	}
	&.cnpConspectorLogoLessMargin{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&.cnpConspectorLogoSmaller{
		width: 50%;
	}
}

.cnpInputWrapper{
	float: left;
	min-width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	&.cnpInputWrapperLessMargin{
	margin-top: 6px;
	margin-bottom: 6px;
	}
	&.cnpInputWrapperNoMargin{
	margin-top: 0px;
	margin-bottom: 0px;
	}
	&.cnpInputWrapperExtraTopMargin{
	margin-top: 60px;
	margin-bottom: 12px;
	}
}
.cnpInstructionsWrapper{
	margin-top: 60px;
	margin-bottom: 12px;
	//For iPhone 3 and 4
	@media
	only screen and (max-width: @sd-width){
		margin-top: 30px;
	}

}

.cnpUserManagementBottomLabel{
	float: left;
	min-width: 100%;
	outline: 0;
	font-size: 13pt;
	font-weight: 500;
	margin-top: 16px;
	&.cnpUserManagementBottomLabelNoMargin{
		margin: 0px;
	}
}

.cnpTextInputField{
	height: @fieldHeight;
	width: 100%;
	padding-left: 45px;
	padding-top: 18px;
	padding-bottom: 14px;
	border-width: 0 0 0 0px;
	// margin-top: 6px;
	// margin-bottom: 6px;
	box-shadow: 0 2px 4px 0 rgba(91,91,91,.20);
	border-radius: @borderRadius;
	color: @textColor;
   
	//For iPhone 3 and 4 and 5
	@media
		only screen and (max-width: @sd-width){
		height: @fieldHeight*0.8;
	}
	&:focus{
  		box-shadow: 0 0 5px rgba(50, 159, 198, 1);
  	}
  	&.cnpLessLeftPadding{
  		padding-left: 16px;
  	}
}

.md-whiteframe-z1{
	min-width: 100%;
}

.cnpInputIcon{
    background-size: 19px;
    background-repeat:no-repeat;
   	background-position:13px;
   	&.cnpUsernameTextInputIcon{
		background-image:url('../../../apps/conspector/img/usernameIcon.svg');
	}
    &.cnpPasswordTextInputIcon{
    	background-position:14px;
    	background-size: 18px;
	    background-image:url('../../../apps/conspector/img/passwordIcon.svg');
	}
  
}

.cnpLink{
	color: @clickableTextColor;
	&:hover{
		cursor: pointer;
	}
}

.md-button{
	height: @fieldHeight;
	padding: 8px;
	text-transform: none;

	&.cnpLargeButton{
		min-width: 100%;
		height: @fieldHeight*1.2;

		//For iPhone 3 and 4 and 5
		@media
		only screen and (max-width: 320px){
		height: @fieldHeight*1;
		}
	}
}

.md-checkbox{
	float: left;
	min-width: 100%;
	color: @placeholderTextColor;
	outline: 0;
	font-size: 13pt;
	font-weight: 500;
}


//For labels in radio buttons and switches
md-switch .md-label{
	border-width: 0px;
}
.md-label{
	margin-top: 2px;
	color: @textColorLight;
}
.minus2pxMarginTop{
	margin-top: -2px;
}
md-radio-group{
	border-width: 0px;
}
md-radio-button.md-default-theme .md-off{
	border-color: @textColorLight;
}



/*
END OF USER MANAGEMENT
*/




.cnpVerticalAfterSpacing1x{
	margin-bottom: @spacingUnit;
}

.cnpVerticalAfterSpacing2x{
	margin-bottom: @spacingUnit * 2;
}

.cnpVerticalAfterSpacing4x{
	margin-bottom: @spacingUnit * 4;
}

