<div ui-view="unitDetails" style="width: 100%; height: 100%;"></div>
<div id="embeddedAttachmentsList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayAttachmentsList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayAttachmentsList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayAttachmentsList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayAttachmentsList">{{'global_showAttachmentsListUnit' | translate}}</span>
		<span ng-show="bDisplayAttachmentsList">{{'global_hideAttachmentsListUnit' | translate}}</span>
	</div>
	</button>
</div>
<div ng-show="bDisplayAttachmentsList" ui-view="attachmentsList"></div>
<div id="embeddedDeficienciesList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayDeficienciesList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayDeficienciesList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayDeficienciesList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayDeficienciesList">{{'global_showDeficienciesListUnit' | translate}}</span>
		<span ng-show="bDisplayDeficienciesList">{{'global_hideDeficienciesListUnit' | translate}}</span>
	</div>
	</button>
</div>
<div ng-show="bDisplayDeficienciesList" ui-view="unitDeficiencies" ></div>
<div id="embeddedActivitiesList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayActivitiesList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayActivitiesList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayActivitiesList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayActivitiesList">{{'global_showActivitiesListUnit' | translate}}</span>
		<span ng-show="bDisplayActivitiesList">{{'global_hideActivitiesListUnit' | translate}}</span>
	</div>
	</button>
</div>
<div ng-show="bDisplayActivitiesList" ui-view="unitActivities"></div>
<div style="height: 400px;"></div>