<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<form name="oForms.unitDetailsForm" novalidate>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div>
				<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
				<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
			</div>
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'unitDetails_title' | translate}}
				</label>
			</div>
		</div>
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode != 'create'">{{oUnit._ProjectAndPhaseName}}</div>
					<div ng-show="sMode == 'create'">
						<div
							multi-select
							input-model="aUserProjectsPhasesForMultiselect"
							button-label="fullName"
							default-label="{{'global_selectedProjectsAndPhases' | translate }}"
							item-label="name"
							tick-property="ticked"
							group-property="multiSelectGroup"
							is-disabled="sMode == 'display'"
							on-item-click="onSelectedPhasesModified()"
							selection-mode="single"
							helper-elements=""
							output-model="aSelectedPhases"
							on-close="onCloseCheckSelectedPhasesLength()"
							>
						</div>
					</div>
					<input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedPhases.$error" ng-if="(oForms.unitDetailsForm.selectedPhases.$dirty && !oForms.unitDetailsForm.selectedPhases.$valid) || submitted">
						<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_unitName' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oUnit.sName}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sName" placeholder="{{'unitDetails_unitNamePlaceholder' | translate}}" ng-if="sMode != 'display'"  ng-change="onDataModified()" name="unitName" required>
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.unitName.$error" ng-if="(oForms.unitDetailsForm.unitName.$dirty || submitted) && sMode != 'display'">
						<div class="cnpErrorMessageValidationMessage" ng-message="required">
							{{'global_emptyFieldError' | translate}}
						</div>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_clients' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aClients"
						default-label="{{'unitDetails_unitClientsDefaultLabel' | translate }}"
						button-label="name"
						item-label="name"
						is-disabled="sMode == 'display'"
						tick-property="ticked"
						on-item-click="onSelectedClientsModified()"
						output-model="aSelectedClients"
						helper-elements="filter"
						>
					</div>
					<!-- <input ng-model="aSelectedClients.length" type="number" ng-show="false" name="selectedClients" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedClients.$error" ng-if="(oForms.unitDetailsForm.selectedClients.$dirty && !oForms.unitDetailsForm.selectedClients.$valid) || submitted">
						<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div> -->
				</div>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_descriptionTags' | translate}}
						</label>
					</div>
					<tags-input
					ng-model="oUnit.aDescriptionTags"
					ng-hide="sMode == 'display'"
					replace-spaces-with-dashes="false"
					placeholder="{{'global_addTag' | translate}}"
					on-tag-added="onDataModified()"
					on-tag-removed="onDataModified()">
					</tags-input>
					<div class="tags-wrapper form-control"  ng-show="sMode == 'display'">
						<ul class="tags-list">
							<li class="tag-item" ng-repeat="tag in oUnit.aDescriptionTags">
								<span style="padding: 2px;">{{tag.text}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div style="width: 50%;" class="cnpSubSectionLabel cnpSubSectionLabelMarginBottomAndBigger">
						<label>
							{{'unitDetails_unitOptions' | translate}}
						</label>
					</div>
					<div style="width: 50%;" ng-show="sMode == 'create'" class="cnpWarningMessageForUnitOptionSets">
						<div class="cnpErrorMessageValidationMessage">
							{{'unitDetails_pleaseSaveFirstToSpecifyUnitOptions' | translate}}
						</div>
					</div>
						
				<!-- 	<div class="cnpSubSectionLabel cnpSubSectionLabelMarginBottomAndBigger">
						<label ng-show="sMode == 'create'">		(							{{'unitDetails_pleaseSaveFirstToSpecifyUnitOptions' | translate}})
						</label>
					</div> -->
					<div class="cnpSubSectionDataNgRepeat" ng-repeat="optionSet in aUnitOptionsArrays">
						
							<div class="cnpSubSectionLabel">
								<label>
									{{optionSet.sOptionSetName}}:
								</label>
							</div>
							<div
								multi-select
								input-model="optionSet.aOptions"
								default-label="{{'unitDetails_optionSet' | translate }}"
								button-label="name"
								item-label="name"
								selection-mode="single"
								is-disabled="sMode == 'display'"
								tick-property="ticked"
								on-item-click="onDataModified()"
								output-model="optionSet.aSelectedOption"
								helper-elements="filter">
							</div>
						
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				
			</div>
		</div>
	</form>
</div>