<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<form name="oForms.unitDetailsForm" novalidate>
		<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
			<div>
				<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
				<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
				<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
			</div>
			<div layout="row" layout-align="end start">
				<label class="cnpContentTitle notSelectable">
					{{'unitDetails_title' | translate}}
				</label>
			</div>
		</div>
		<div class="cnpSection" layout="column" layout-align="start center" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aUserProjectsPhasesForMultiselect"
						button-label="fullName"
						default-label="{{'global_selectedProjectsAndPhases' | translate }}"
						item-label="name"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display'"
						on-item-click="onSelectedPhasesModified()"
						selection-mode="single"
						helper-elements=""
						output-model="aSelectedPhases"
						on-close="onCloseCheckSelectedPhasesLength()"
						>
					</div>
					<input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedPhases.$error" ng-if="(oForms.unitDetailsForm.selectedPhases.$dirty && !oForms.unitDetailsForm.selectedPhases.$valid) || submitted">
						<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_unitName' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oUnit.sName}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sName" ng-if="sMode != 'display'"  ng-change="onDataModified()" name="unitName" required>
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.unitName.$error" ng-if="(oForms.unitDetailsForm.unitName.$dirty || submitted) && sMode != 'display'">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
					</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_clients' | translate}}
						</label>
					</div>
						<div
							multi-select
							input-model="aClients"
							default-label="{{'unitDetails_unitClientsDefaultLabel' | translate }}"
							button-label="name"
							item-label="name"
							is-disabled="sMode == 'display'"					
							tick-property="ticked"
							on-item-click="onSelectedClientsModified()"					
							output-model="aSelectedClients"
							on-close="onCloseCheckSelectedClientsLength()"										
							helper-elements="filter">
						</div>	
						<input ng-model="aSelectedClients.length" type="number" ng-show="false" name="selectedClients" min="1">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedClients.$error" ng-if="(oForms.unitDetailsForm.selectedClients.$dirty && !oForms.unitDetailsForm.selectedClients.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
						</div>
				</div>
			</div>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_descriptionTags' | translate}}
						</label>
					</div>
					<tags-input
					ng-model="oUnit.aDescriptionTags"
					ng-hide="sMode == 'display'"
					replace-spaces-with-dashes="false"
					placeholder="{{'global_addTag' | translate}}"
					on-tag-added="onDataModified()"
					on-tag-removed="onDataModified()">
					</tags-input>
					<div class="tags-wrapper form-control"  ng-show="sMode == 'display'">
						<ul class="tags-list">
							<li class="tag-item" ng-repeat="tag in oUnit.aDescriptionTags">
								<span style="padding: 2px;">{{tag.text}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
<!-- 			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex layout="column">
					<div flex class="cnpSubSectionTitleWrapper">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_name' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oUnit.sFirstName}}&nbsp;{{oUnit.sLastName}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sFirstName" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'unitDetails_namePlaceholder' | translate}}" name="firstName" required>
						<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.firstName.$error" ng-if="(oForms.unitDetailsForm.firstName.$dirty || submitted) && sMode != 'display'">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
						</div>
						<div  class="cnpSubSectionLabel" ng-if="sMode != 'display'">
							<label>
								{{'unitDetails_lastName' | translate}}
							</label>
						</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sLastName" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'unitDetails_lastNamePlaceholder' | translate}}" name="lastName" required>
						<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.lastName.$error" ng-if="(oForms.unitDetailsForm.lastName.$dirty || submitted) && sMode != 'display'">
							<div class="cnpErrorMessageValidationMessage" ng-message="required">
								{{'global_emptyFieldError' | translate}}
							</div>
						</div>
					</div>
					<div flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_personTitle' | translate}}
							</label>
						</div>
						<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sTitle}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sTitle" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'unitDetails_personTitlePlaceholder' | translate}}">
					</div>
					
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'unitDetails_associatedProjectsAndPhases' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aUserProjectsPhasesForMultiselect"
						button-label="fullName"
						default-label="{{'global_selectedProjectsAndPhases' | translate }}"
						item-label="name"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display' || bIsChangePhasesAssignmentAllowed == false"
						on-item-click="onSelectedPhasesModified()"
						output-model ="aSelectedPhases"
						on-close="onCloseCheckSelectedPhasesLength()"
						>
					</div>
					
					<input ng-model="aSelectedPhases.length" type="number" ng-show="false" name="selectedPhases" min="1">
					<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedPhases.$error" ng-if="(oForms.unitDetailsForm.selectedPhases.$dirty && !oForms.unitDetailsForm.selectedPhases.$valid) || submitted">
						<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
					</div>
				</div>
			</div>
			<div layout="row" ng-if="bShowParentAccountAndUnitType" style="width: 100%" flex>
				<div class="cnpSubSection" layout="row" flex>
					<div flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_associatedParentAccount' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'" >
							<a ng-click="onNavigateToAccountDetails()">{{oUnit._sAccountName}}</a>
						</div>
						<div ng-show="sMode != 'display'"
							multi-select
							input-model="aAccounts"
							button-label="name"
							default-label="{{'unitDetails_selectParentAccount' | translate }}"
							item-label="name"
							selection-mode="single"
							tick-property="ticked"
							group-property="multiSelectGroup"
							is-disabled="sMode == 'display'"
							on-item-click="onParentAccountModified()"
							helper-elements="filter"
							output-model = "aSelectedParentAccount"
							>
						</div>
						<input ng-model="aSelectedParentAccount.length" type="number" ng-show="false" name="selectedParentAccount" min="1">
						<div class="cnpErrorMessageValidation" ng-messages="oForms.unitDetailsForm.selectedParentAccount.$error" ng-if="(oForms.unitDetailsForm.selectedParentAccount.$dirty && !oForms.unitDetailsForm.selectedParentAccount.$valid) || submitted">
							<div class="cnpErrorMessageValidationMessage" ng-message="min">{{'global_emptyFieldError' | translate}}</div>
						</div>
					</div>
					<div flex style="margin-left: 36px;">
					</div>
				</div>
			</div>
			<div layout="column" layout-gt-md="row" style="width: 100%" flex>
				<div layout="row" style="width: 100%" flex>
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_mobilePhone' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oUnit.sMobilePhone | phoneFormatter}}">{{oUnit.sMobilePhone | phoneFormatter}}</a></div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sMobilePhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
						<div layout="row">
							<div flex="70">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'unitDetails_homePhone' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oUnit.sHomePhone | phoneFormatter}}">{{oUnit.sHomePhone | phoneFormatter}}</a></div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sHomePhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
							</div>
							<div flex="30">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'global_phoneExtension' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sHomePhoneExtension}}</div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sHomePhoneExtension" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phoneExtensionPlaceholder' | translate}}">
							</div>
						</div>
						<div layout="row">
							<div flex="70">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'unitDetails_workPhone' | translate}}
									</label>
								</div>
								<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oUnit.sWorkPhone | phoneFormatter}}">{{oUnit.sWorkPhone | phoneFormatter}}</a></div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sWorkPhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
							</div>
							<div flex="30">
								<div  class="cnpSubSectionLabel">
									<label>
										{{'global_phoneExtension' | translate}}
									</label>
								</div>
								<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sWorkPhoneExtension}}</div>
								<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sWorkPhoneExtension" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phoneExtensionPlaceholder' | translate}}">
							</div>
						</div>
						<div class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_email' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="mailto:{{oUnit.sEmail}}">{{oUnit.sEmail}}</a></div>
						<input type="email" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sEmail" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_emailPlaceholder' | translate}}">
					</div>
					<div class="cnpSubSection" flex ng-if="bShowDescriptionTags">
						<div class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_descriptionTags' | translate}}
							</label>
						</div>
						<tags-input
						ng-model="oUnit.aTags"
						ng-hide="sMode == 'display'"
						replace-spaces-with-dashes="false"
						placeholder="{{'global_addTag' | translate}}"
						on-tag-added="onDataModified()"
						on-tag-removed="onDataModified()">
						</tags-input>
						<div class="tags-wrapper form-control"  ng-show="sMode == 'display'">
							<ul class="tags-list">
								<li class="tag-item" ng-repeat="tag in oUnit.aTags">
									<span style="padding: 2px;">{{tag.text}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div layout="row" flex style="width: 100%">
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_billingStreet' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sBillingStreet}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sBillingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingStreetPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_billingCity' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sBillingCity}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sBillingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingCityPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_billingPostalCode' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sBillingPostalCode}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sBillingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingPostalCodePlaceholder' | translate}}">
						
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_billingCountry' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit._billingCountryCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aBillingCountries"
							button-label="name"
							default-label="{{'global_selectCountry' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onBillingCountryChanged()"
							helper-elements="filter"
							>
						</div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_billingProvince' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit._billingProvinceCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aBillingProvinces"
							button-label="name"
							default-label="{{'global_selectState' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onDataModified()"
							helper-elements="filter"
							>
						</div>
					</div>
					<div class="cnpSubSection" flex>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_shippingStreet' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sShippingStreet}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sShippingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingStreetPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_shippingCity' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sShippingCity}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sShippingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingCityPlaceholder' | translate}}">
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_shippingPostalCode' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit.sShippingPostalCode}}</div>
						<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oUnit.sShippingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingPostalCodePlaceholder' | translate}}">
						
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_shippingCountry' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit._shippingCountryCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aShippingCountries"
							button-label="name"
							default-label="{{'global_selectCountry' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onShippingCountryChanged()"
							helper-elements="filter"
							>
						</div>
						<div  class="cnpSubSectionLabel">
							<label>
								{{'unitDetails_shippingProvince' | translate}}
							</label>
						</div>
						<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oUnit._shippingProvinceCode}}</div>
						<div
							ng-if="sMode == 'edit' || sMode == 'create'"
							multi-select
							input-model="aShippingProvinces"
							button-label="name"
							default-label="{{'global_selectState' | translate }}"
							item-label="name"
							tick-property="ticked"
							selection-mode="single"
							is-disabled="sMode == 'display'"
							on-item-click="onDataModified()"
							helper-elements="filter"
							>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</form>
</div>