<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" ng-if="bShowBackButton">
		<div layout="row" layout-align="start start" >
			<!-- <div>
									<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()" hide-gt-md>
									Open Sidenav
									</md-button>
			</div> -->
			<div class="notSelectable cnpInputIcon cnpBackIcon" layout="column" layout-align="center start">
				<div ng-if="bShowBackButton" ng-click="onBack()" class="notSelectable cnpLink cnpLinkBackButton">
					{{'global_back' | translate}}
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			
		</div>
	</div>
	<!-- END OF CONTENT VIEW -->
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			
			<md-button ng-show="sMode == 'display' && bDisplayEditButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpEditDetailsIconWhite notSelectable" ng-click="onEdit()">{{'global_edit' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpSaveIconWhite cnpButtonMarginRight notSelectable" ng-click="onSave()">{{'global_save' | translate}}</md-button>
			<md-button ng-show="sMode == 'edit' && bDisplayDeleteButton" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpDeleteIconWhite notSelectable " ng-click="onDelete()">{{'global_delete' | translate}}</md-button>
			<md-button ng-show="sMode == 'create'" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onSaveAndNew()">{{'global_saveAndNew' | translate}}</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'contactDetails_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<div class="cnpSection" layout="column" layout-align="start center" flex>
		
		<div layout="row" style="width: 100%" flex>
			<div class="cnpSubSection" flex layout="column" layout-gt-md="row">
				<div flex class="cnpSubSectionTitleWrapper">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_name' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData cnpSubSectionDataBigger" ng-if="sMode == 'display'">{{oContact.sFirstName}}&nbsp;{{oContact.sLastName}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sFirstName" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'contactDetails_namePlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel" ng-if="sMode != 'display'">
						<label>
							{{'contactDetails_lastName' | translate}}
						</label>
					</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sLastName" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'contactDetails_lastNamePlaceholder' | translate}}">
				</div>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_personTitle' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sTitle}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sTitle" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'contactDetails_personTitlePlaceholder' | translate}}">
				</div>
				
			</div>
			<div class="cnpSubSection" flex>
				<div  class="cnpSubSectionLabel">
					<label>
						{{'contactDetails_associatedProjectsAndPhases' | translate}}
					</label>
				</div>
				<div ng-if="bIsChangePhasesAssignmentAllowed" 
					multi-select
					input-model="aUserProjectsPhasesForMultiselect"
					button-label="fullName"
					default-label="{{'global_selectedProjectsAndPhases' | translate }}"
					item-label="name"
					tick-property="ticked"
					group-property="multiSelectGroup"
					is-disabled="sMode == 'display'"
					on-item-click="onDataModified()"
					>
				</div>
			</div>
		</div>
		<div layout="row" ng-if="bShowParentAccountAndContactType" style="width: 100%" flex>
			<div class="cnpSubSection" layout="row" flex>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_associatedParentAccount' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'" ><a ng-click="onNavigateToAccountDetails()">{{oContact._sAccountName}}</a></div>				
					<div 
						multi-select
						input-model="aAccounts"
						button-label="name"
						default-label="{{'contactDetails_selectParentAccount' | translate }}"
						item-label="name"
						selection-mode="single"
						tick-property="ticked"
						group-property="multiSelectGroup"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						helper-elements="filter">
					</div>
				</div>
				<div flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_contactType' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact._sContactType}}</div>
					<div
						multi-select
						input-model="aContactTypes"
						button-label="name"
						default-label="{{'contactDetails_selectContactType' | translate }}"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						helper-elements=""
						>
					</div>
				</div>
			</div>
		</div>
		<div layout="column" layout-gt-md="row" style="width: 100%" flex>
			<div layout="row" style="width: 100%" flex>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_homePhone' | translate}}
						</label>
					</div>
					<div layout="row" layout-style="start center" class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oContact.sHomePhone | phoneFormatter}}">{{oContact.sHomePhone | phoneFormatter}}</a></div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sHomePhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_workPhone' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oContact.sWorkPhone | phoneFormatter}}">{{oContact.sWorkPhone | phoneFormatter}}</a></div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sWorkPhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_mobilePhone' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="tel:+{{oContact.sMobilePhone | phoneFormatter}}">{{oContact.sMobilePhone | phoneFormatter}}</a></div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sMobilePhone" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_phonePlaceholder' | translate}}">
					<div class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_email' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'"><a href="mailto:{{oContact.sEmail}}">{{oContact.sEmail}}</a></div>
					<input type="email" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sEmail" ng-if="sMode != 'display'" ng-change="onDataModified()" placeholder="{{'global_emailPlaceholder' | translate}}">
				</div>
				<div class="cnpSubSection" flex ng-if="bShowDescriptionTags">
					<div class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_descriptionTags' | translate}}
						</label>
					</div>
					<tags-input
					ng-model="oContact.aTags"
					ng-hide="sMode == 'display'"
					replace-spaces-with-dashes="false"
					placeholder="{{'global_addTag' | translate}}"
					on-tag-added="onDataModified()"
					on-tag-removed="onDataModified()">
					</tags-input>
					<div class="tags-wrapper form-control"  ng-show="sMode == 'display'">
						<ul class="tags-list">
							<li class="tag-item" ng-repeat="tag in oContact.aTags">
								<span style="padding: 2px;">{{tag.text}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div layout="row" flex style="width: 100%">
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_billingStreet' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sBillingStreet}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sBillingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingStreetPlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_billingCity' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sBillingCity}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sBillingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingCityPlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_billingPostalCode' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sBillingPostalCode}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sBillingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_billingPostalCodePlaceholder' | translate}}">
					
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_billingCountry' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aBillingCountries"
						button-label="name"
						default-label="{{'global_selectCountry' | translate }}"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						is-disabled="sMode == 'display'"
						on-item-click="onBillingCountryChanged()"
						helper-elements="filter"
						>
					</div>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_billingProvince' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aBillingProvinces"
						button-label="name"
						default-label="{{'global_selectState' | translate }}"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						helper-elements="filter"
						>
					</div>
				</div>
				<div class="cnpSubSection" flex>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_shippingStreet' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sShippingStreet}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sShippingStreet" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingStreetPlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_shippingCity' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sShippingCity}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sShippingCity" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingCityPlaceholder' | translate}}">
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_shippingPostalCode' | translate}}
						</label>
					</div>
					<div class="cnpSubSectionData" ng-if="sMode == 'display'">{{oContact.sShippingPostalCode}}</div>
					<input type="text" class="cnpTextInputField cnpTextInputFieldSubSection cnpWithAnimation" ng-model="oContact.sShippingPostalCode" ng-if="sMode != 'display'"  ng-change="onDataModified()" placeholder="{{'global_shippingPostalCodePlaceholder' | translate}}">
					
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_shippingCountry' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aShippingCountries"
						button-label="name"
						default-label="{{'global_selectCountry' | translate }}"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						is-disabled="sMode == 'display'"
						on-item-click="onShippingCountryChanged()"
						helper-elements="filter"
						>
					</div>
					<div  class="cnpSubSectionLabel">
						<label>
							{{'contactDetails_shippingProvince' | translate}}
						</label>
					</div>
					<div
						multi-select
						input-model="aShippingProvinces"
						button-label="name"
						default-label="{{'global_selectState' | translate }}"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						is-disabled="sMode == 'display'"
						on-item-click="onDataModified()"
						helper-elements="filter"
						>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
