<div layout="row" layout="center start" class="cnpContentWrapper">
<div ui-view="contactDetails" style="width: 100%;"></div>
<div id="embeddedActivitiesList" flex class="cnpCollapseControl" layout="row" layout-align="center center" ng-click="onDisplayActivitiesList()">
	<button ng-class="{'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbol notSelectable': !bDisplayActivitiesList, 'md-button md-primary cnpCollapseSectionButton cnpButtonWithIcon cnpButtonMorePadding cnpInputIcon cnpCollapseSymbolReversed notSelectable': bDisplayActivitiesList}" layout="row" layout-align="center center" >
	<div class="cnpCollapseControlButtonText">
		<span ng-show="!bDisplayActivitiesList">{{'global_showActivitiesListContact' | translate}}</span>
		<span ng-show="bDisplayActivitiesList">{{'global_hideActivitiesListContact' | translate}}</span>
	</div>
	</button>
</div>
<div ng-if="bDisplayActivitiesList" ui-view="contactActivities"></div>
<div style="height: 400px;"></div>
</div>