<div js-tree="oTreeConfig" should-apply="applyModelChanges()" ng-model="aTreeData" tree="oTreeInstance" tree-events="ready:readyCB;create_node:createCB"></div>
<div
	multi-select
	input-model="oNodesData.aData"
	button-label="name"
	item-label="name"
	tick-property="ticked"
	selection-mode="single"
	helper-elements=""
> </div>
<input class="cnpTextInputField cnpTextInputFieldInline" type="text" ng-model="oNewNode.sTextEN"/>
<input class="cnpTextInputField cnpTextInputFieldInline" type="text" ng-model="oNewNode.sTextFR"/>
<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNewNode()">
{{'global_addNew' | translate}}
</md-button>


<div
	multi-select
	input-model="oNodesData.aData"
	button-label="name"
	item-label="name"
	tick-property="ticked"
	selection-mode="single"
	helper-elements=""
> </div>
<input class="cnpTextInputField cnpTextInputFieldInline" type="text" ng-model="oUpdatedNode.sTextEN"/>
<input class="cnpTextInputField cnpTextInputFieldInline" type="text" ng-model="oUpdatedNode.sTextFR"/>
<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onUpdateNode()">
{{'global_change' | translate}}
</md-button>