<div layout="column" layout="start center" class="cnpContentWrapper">
    <div class="cnpContent" layout="column">
        <div layout="row" layout-align="end start" class="md-default-theme cnpContentHeader">
            <md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenRightSideNavIcon cnpDefaultColor" ng-click="toggleAdminPanelRightSideNav()">
            {{::'adminPanel_hideSidenav' | translate}}
            </md-button>
        </div>
        <div ui-view style="width: 100%; height: 100%;">
        </div>
    </div>
</div>
<md-sidenav class="md-sidenav-right cnpSideNav" md-component-id="adminPanelRightSideNav" >
    <md-list>
        <md-toolbar class="md-default-theme" layout="column" layout-align="center center">
            {{::'adminPanel_menuHeader' | translate}}
        </md-toolbar>
        <div ng-repeat="menuItem in aMenuItems | filter:{bShouldBeDisplayed:true}">
            <md-button  layout="row" layout-align="start center" ng-click="onMenuItemSelected(menuItem)" class="md-button cnpSidebarButton cnpSidebarButtonCenter">
                {{::menuItem.sMenuLabel | translate}}
            </md-button>
            <md-divider></md-divider>
        </div>
    </md-list>
</md-sidenav>