
<md-content layout="row" layout="center start" class="cnpContentWrapper">
    <md-sidenav class="md-sidenav-left cnpSidenavLeft" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-toolbar class="md-default-theme cnpSidebarHeader">
            <label class="md-toolbar-tools cnpSidebarTitle">
                {{'adminPanel_menuHeader' | translate}}
            </label>
        </md-toolbar>       
        <div>  <!-- ng-controller="LeftCtrl" -->    
            <md-button ng-if="sCurrentRole == sGlobalAdministratorRole" layout="row" layout-align="start center" ng-click="onCompanies()" class="md-button cnpSidebarButton">
                {{'adminPanel_companies' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onUserManagement()" class="md-button cnpSidebarButton">
                {{'adminPanel_userManagement' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onRoles()" class="md-button cnpSidebarButton">
                {{'adminPanel_roles' | translate}}</md-button>
            <md-button layout="row" layout-align="start center" ng-click="onProjects()" class="md-button cnpSidebarButton">
                {{'adminPanel_projects' | translate}}</md-button>
            <md-button layout="row" layout-align="start center" ng-click="onPhases()" class="md-button cnpSidebarButton">
                {{'adminPanel_phases' | translate}}</md-button>
            <md-button layout="row" layout-align="start center" ng-click="onDeficiencyStatuses()" class="md-button cnpSidebarButton">
                {{'adminPanel_deficiencyStatuses' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onDeficiencyPriorities()"  class="md-button cnpSidebarButton">
                {{'adminPanel_deficiencyPriorities' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onSystemFiles()"  class="md-button cnpSidebarButton">
                {{'adminPanel_systemFiles' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onOperationLogs()" class="md-button cnpSidebarButton">
                {{'adminPanel_operationLogs' | translate}}
            </md-button>
            <md-button layout="row" layout-align="start center" ng-click="onAccountTypes()" class="md-button cnpSidebarButton">
                {{'adminPanel_accountTypes' | translate}}
            </md-button>
        </div>
    </md-sidenav>
       <div ui-view style="width: 100%; height: 100%;">
    </div>
</md-content>
