<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<!-- <md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button> -->
				<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
				{{'global_addNew' | translate}}
				</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'companiesList_title' | translate}}
			</label>
		</div>
	</div>
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="companiesList">
			<tr ng-repeat="company in aDisplayedCompanies">
				<td data-title="'global_actions' | translate">
					<div layout="row" layout-align="center center">
						<div class="cnpInputIcon cnpEditDetailsIcon cnpEditDetailsIcon" ng-if="!company._editMode" ng-click="onEdit(company)">
						</div>
						<div class="cnpInputIcon cnpSaveIcon" ng-if="company._editMode" ng-click="onSave(company)">
						</div>
						<div class="cnpInputIcon cnpDeleteIcon" ng-if="company._editMode" ng-click="onDelete(company)">
						</div>
					</div>
				</td>
				<td data-title="'companiesList_companyName' | translate" sortable="'companyName'">
					<div layout="row" layout-align="start center">
						<span ng-if="!company._createMode">{{company.companyName}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="company._createMode" type="text" ng-model="company.companyName"/>
					</div>
				</td>
				<td data-title="'global_descriptionEN' | translate" sortable="'descriptionEN'">
					<div layout="row" layout-align="start center">
						<span ng-if="!company._editMode">{{company.descriptionEN}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="company._editMode" type="text" ng-model="company.descriptionEN"/>
					</div>
				</td>
				<td data-title="'global_descriptionFR' | translate" sortable="'descriptionFR'">
					<div layout="row" layout-align="start center">
						<span ng-if="!company._editMode">{{company.descriptionFR}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="company._editMode" type="text" ng-model="company.descriptionFR"/>
					</div>
				</td>
				<td data-title="'global_sortingSequence' | translate" sortable="'sortingSequence'">
					<div layout="row" layout-align="start center">
						<span ng-if="!company._editMode">{{company.sortingSequence}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="company._editMode" type="number" ng-model="company.sortingSequence"/>
					</div>
				</td>
			</tr>
			<tr ng-hide="aDisplayedCompanies.length > 0">
				<td td colspan="5">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- END OF NG TABLE -->
</div>
<!-- END OF CONTENT VIEW -->