<div>{{'companiesList_title' | translate}}</div>
<md-button type="submit" class="md-primary md-raised" ng-click="onAddNew()" md-theme="orange">{{'global_addNew' | translate}}</md-button>
<table ng-table="tableParams" style="width: 100%; border:1px solid black;" >

	<tr ng-repeat="company in aDisplayedCompanies">
		<td data-title="actionsTE" style="width: 10%;">
			<span ng-if="!company._editMode" ng-click="onEdit(company)">Edit</span><span ng-if="company._editMode" ng-click="onSave(company)">Save</span><span ng-if="company._editMode" ng-click="onDelete(company)">Delete</span>
		</td>
		<td data-title="companyNameTE" sortable="'companyName'" style="width: 15%;">
        	<span ng-if="!company._createMode">{{company.companyName}}</span>
         	<div ng-if="company._createMode"><input type="text" ng-model="company.companyName"/></div>
		</td>		
		<td data-title="descriptionENTE" sortable="'descriptionEN'" style="width: 30%;">
        	<span ng-if="!company._editMode">{{company.descriptionEN}}</span>
         	<div ng-if="company._editMode"><input type="text" ng-model="company.descriptionEN"/></div>
		</td>
		<td data-title="descriptionFRTE" sortable="'descriptionFR'" style="width: 30%;">
        	<span ng-if="!company._editMode">{{company.descriptionFR}}</span>
         	<div ng-if="company._editMode"><input type="text" ng-model="company.descriptionFR"/></div>
		</td>
		<td data-title="sortingSequenceTE" sortable="'sortingSequence'" style="width: 15%;">
        	<span ng-if="!company._editMode">{{company.sortingSequence}}</span>
         	<div ng-if="company._editMode"><input type="number" ng-model="company.sortingSequence"/></div>
		</td>
	</tr>
	<tr ng-hide="aDisplayedCompanies.length > 0"><td colspan="5" >{{'global_noTableData' | translate}}</td></tr>		
</table>