<div>{{'deficiencyStatuses_title' | translate}}</div>
<md-button type="submit" class="md-primary md-raised" ng-click="onAddNew()" md-theme="orange">{{'global_addNew' | translate}}</md-button>
<table ng-table="tableParams" style="width: 100%; border:1px solid black;" >

	<tr ng-repeat="deficiencyStatus in aDisplayedDeficiencyStatuses">
		<td data-title="actionsTE" style="width: 10%;">
			<span ng-if="!deficiencyStatus._editMode" ng-click="onEdit(deficiencyStatus)">Edit</span><span ng-if="deficiencyStatus._editMode" ng-click="onSave(deficiencyStatus)">Save</span><span ng-if="deficiencyStatus._editMode" ng-click="onDelete(deficiencyStatus)">Delete</span>
		</td>

		<td data-title="iconTE" style="width: 10%;">
			<img ng-if="!deficiencyStatus._editMode" ng-src="{{deficiencyStatus.sUrl}}" style="width:24px; height:24px;"/>
			<div ng-if="deficiencyStatus._editMode"
				multi-select
				input-model="deficiencyStatus.aIcons"
				button-label="icon"
				item-label="icon"
				tick-property="ticked"
				selection-mode="single"
				helper-elements=""
				>
			</div>
		</td>		

		<td data-title="nameENTE" sortable="'nameEN'" style="width: 25%;">
        	<span ng-if="!deficiencyStatus._editMode">{{deficiencyStatus.nameEN}}</span>
         	<div ng-if="deficiencyStatus._editMode"><input type="text" ng-model="deficiencyStatus.nameEN"/></div>
		</td>
		<td data-title="nameFRTE" sortable="'nameFR'" style="width: 25%;">
        	<span ng-if="!deficiencyStatus._editMode">{{deficiencyStatus.nameFR}}</span>
         	<div ng-if="deficiencyStatus._editMode"><input type="text" ng-model="deficiencyStatus.nameFR"/></div>
		</td>
		<td data-title="sortingSequenceTE" sortable="'sortingSequence'" style="width: 20%;">
        	<span ng-if="!deficiencyStatus._editMode">{{deficiencyStatus.sortingSequence}}</span>
         	<div ng-if="deficiencyStatus._editMode"><input type="number" ng-model="deficiencyStatus.sortingSequence"/></div>
		</td>
	</tr>
	<tr ng-hide="aDisplayedDeficiencyStatuses.length > 0"><td colspan="5" >{{'global_noTableData' | translate}}</td></tr>		
</table>