<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader">
		<div layout="row" layout-align="start start">
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()" hide-gt-md>
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'operationLogsList_title' | translate}}
			</label>
		</div>
	</div>
	<div layout="row" layout-
		align="space-between start" class="md-default-theme cnpActionBar">
		<div layout="row" layout-align="start start">
			<!-- <div>
						<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
						{{'global_addNew' | translate}}
						</md-button>
			</div> -->
		</div>
		<div layout="row" layout-align="end start">
		</div>
	</div>
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" nogroups show-filter="true" class="cnpNgTable" id="operationLog">
			<tr ng-repeat="operationLog in aDisplayedOperationLogs">
				<td data-title="operationNameTE" sortable="'operationName'" filter="{'operationName': 'text'}">
					<div layout="row" layout-align="start center">
						<div>
							<span>
							{{operationLog.operationName}}
							</span>
						</div>
					</div>
				</td>
				<td data-title="operationContentTE">
					<div layout="row" layout-align="start center">
						<div>
							<span>
							{{operationLog.operationContent}}
							</span>
						</div>
					</div>
				</td>
				<td data-title="createdByTE" sortable="'createdBy'" filter="{'createdBy': 'text'}">
					<div layout="row" layout-align="start center">
						<div>
							<span>
							{{operationLog.createdBy}}
							</span>
						</div>
					</div>
				</td>
				<td data-title="createdAtTE" sortable="'createdAt'">
					<div layout="row" layout-align="start center">
						<div>
							<span>
							{{operationLog.createdAt}}
							</span>
						</div>
					</div>
				</td>
			</tr>
			<tr ng-hide="aDisplayedOperationLogs.length > 0">
				<td td colspan="4">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- END OF NG TABLE -->
</div>
<!-- END OF CONTENT VIEW -->