<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
					{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<!-- <md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button> -->
			<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
				{{'global_addNew' | translate}}
				</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'phasesList_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="phasesList">
			<tr ng-repeat="phase in aDisplayedPhases">
				<td data-title="'global_actions' | translate">
					<div layout="row" layout-align="center center">
						<div class="cnpInputIcon cnpEditDetailsIcon cnpEditDetailsIcon" ng-if="!phase._editMode" ng-click="onEdit(phase)">
						</div>
						<div class="cnpInputIcon cnpSaveIcon" ng-if="phase._editMode" ng-click="onSave(phase)">
						</div>
						<div class="cnpInputIcon cnpDeleteIcon" ng-if="phase._editMode" ng-click="onDelete(phase)">
						</div>
					</div>
				</td>
				<td data-title="'global_project' | translate" style="width: 60px;">
					<span ng-if="!phase._editMode">{{phase.projectName}}</span>
					<div ng-if="phase._editMode"
						multi-select
						input-model="phase.aProjects"
						default-label="{{'adminPanel_projectDefaultLabel' | translate }}"
						button-label="name"
						item-label="name"
						tick-property="ticked"
						selection-mode="single"
						helper-elements=""
						>
					</div>
				</td>
				<td data-title="'global_descriptionEN' | translate" sortable="'nameEN'">
					<div layout="row" layout-align="start center">
						<span ng-if="!phase._editMode">{{phase.nameEN}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="phase._editMode" type="text" ng-model="phase.nameEN"/>
					</div>
				</td>
				<td data-title="'global_descriptionFR' | translate" sortable="'nameFR'">
					<div layout="row" layout-align="start center">
						<span ng-if="!phase._editMode">{{phase.nameFR}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="phase._editMode" type="text" ng-model="phase.nameFR"/>
					</div>
				</td>
				<td data-title="'global_sortingSequence' | translate" sortable="'sortingSequence'">
					<div layout="row" layout-align="start center">
						<span ng-if="!phase._editMode">{{phase.sortingSequence}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="phase._editMode" type="number" ng-model="phase.sortingSequence"/>
					</div>
				</td>
			</tr>
			<tr ng-hide="aDisplayedPhases.length > 0">
				<td td colspan="5">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- END OF NG TABLE -->
</div>
<!-- END OF CONTENT VIEW -->