<div>{{'projectsList_title' | translate}}</div>
<md-button type="submit" class="md-primary md-raised" ng-click="onAddNew()" md-theme="orange">{{'global_addNew' | translate}}</md-button>
<table ng-table="tableParams" style="width: 100%; border:1px solid black;" >
	<tr ng-repeat="project in aDisplayedProjects">
		<td data-title="actionsTE" style="width: 10%;">
			<span ng-if="!project._editMode" ng-click="onEdit(project)">Edit</span><span ng-if="project._editMode" ng-click="onSave(project)">Save</span><span ng-if="project._editMode" ng-click="onDelete(project)">Delete</span>
		</td>
		<td data-title="nameENTE" sortable="'nameEN'" style="width: 35%;">
        	<span ng-if="!project._editMode">{{project.nameEN}}</span>
         	<div ng-if="project._editMode"><input type="text" ng-model="project.nameEN"/></div>
		</td>
		<td data-title="nameFRTE" sortable="'nameFR'" style="width: 35%;">
        	<span ng-if="!project._editMode">{{project.nameFR}}</span>
         	<div ng-if="project._editMode"><input type="text" ng-model="project.nameFR"/></div>
		</td>
		<td data-title="sortingSequenceTE" sortable="'sortingSequence'" style="width: 20%;">
        	<span ng-if="!project._editMode">{{project.sortingSequence}}</span>
         	<div ng-if="project._editMode"><input type="number" ng-model="project.sortingSequence"/></div>
		</td>
	</tr>
</table>