<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
			<!-- 			<label class="cnpContentTitle notSelectable">
				{{'contractorDetails_title' | translate}}
			</label> -->
		</div>
	</div>
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<!-- <md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button> -->
			<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
			{{'global_addNew' | translate}}
			</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'projectsList_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="projectsList">
			<tr ng-repeat="project in aDisplayedProjects">
				<td data-title="actionsTE">
					<div layout="row" layout-align="center center">
						<div class="cnpInputIcon cnpEditDetailsIcon cnpEditDetailsIcon" ng-if="!project._editMode" ng-click="onEdit(project)">
						</div>
						<div class="cnpInputIcon cnpSaveIcon" ng-if="project._editMode" ng-click="onSave(project)">
						</div>
						<div class="cnpInputIcon cnpDeleteIcon" ng-if="project._editMode" ng-click="onDelete(project)">
						</div>
					</div>
				</td>
				<td data-title="nameENTE" sortable="'nameEN'">
					<div layout="row" layout-align="start center">
						<span ng-if="!project._editMode">{{project.nameEN}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="project._editMode" type="text" ng-model="project.nameEN"/>
					</div>
				</td>
				<td data-title="nameFRTE" sortable="'nameFR'">
					<div layout="row" layout-align="start center">
						<span ng-if="!project._editMode">{{project.nameFR}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="project._editMode" type="text" ng-model="project.nameFR"/>
					</div>
				</td>
				<td data-title="sortingSequenceTE" sortable="'sortingSequence'">
					<div layout="row" layout-align="start center">
						<span ng-if="!project._editMode">{{project.sortingSequence}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="project._editMode" type="number" ng-model="project.sortingSequence"/>
					</div>
				</td>
			</tr>
			<tr ng-hide="aDisplayedProjects.length > 0">
				<td td colspan="4">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- END OF NG TABLE -->
</div>
<!-- END OF CONTENT VIEW -->