<div class="cnpContent" layout="column">
	<div layout="row" layout-align="space-between start" class="md-default-theme cnpContentHeader" hide-gt-md>
		<div layout="row" layout-align="start start" >
			<div>
				<md-button class="md-button cnpButtonWithIcon cnpInputIcon cnpOpenSidenavIcon cnpDefaultColor" ng-click="toggleLeftSidenav()">
				{{'adminPanel_hideSidenav' | translate}}
				</md-button>
			</div>
		</div>
		<div layout="row" layout-align="end start">
		</div>
	</div>

	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
				{{'global_addNew' | translate}}
				</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'adminPanel_unitOptionValue' | translate}}
			</label>
		</div>
	</div>

	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="unitOptionValuesList">
			<tr ng-repeat="unitOptionValue in aDisplayedUnitOptionValues">
				<td data-title="'global_actions' | translate">
					<div layout="row" layout-align="center center">
						<div class="cnpInputIcon cnpEditDetailsIcon cnpEditDetailsIcon" ng-if="!unitOptionValue._editMode" ng-click="onEdit(unitOptionValue)">
						</div>
						<div class="cnpInputIcon cnpSaveIcon" ng-if="unitOptionValue._editMode" ng-click="onSave(unitOptionValue)">
						</div>
						<div class="cnpInputIcon cnpDeleteIcon" ng-if="unitOptionValue._editMode" ng-click="onDelete(unitOptionValue)">
						</div>
					</div>
				</td>
 				<td data-title="'global_unitOptionSet' | translate" style="width: 60px;">
					<div 
						multi-select
						input-model="unitOptionValue.aUnitOptionSets"
						default-label="{{'adminPanel_unitOptionSetDefaultLabel' | translate }}"
						button-label="name"
						item-label="name"
						is-disabled="!unitOptionValue._editMode"
						tick-property="ticked"
						selection-mode="single"
						helper-elements=""
						>
					</div>
				</td>
				<td data-title="'global_descriptionEN' | translate" sortable="'nameEN'">
					<div layout="row" layout-align="start center">
						<span ng-if="!unitOptionValue._editMode">{{unitOptionValue.nameEN}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="unitOptionValue._editMode" type="text" ng-model="unitOptionValue.nameEN"/>
					</div>
				</td>
				<td data-title="'global_descriptionFR' | translate" sortable="'nameFR'">
					<div layout="row" layout-align="start center">
						<span ng-if="!unitOptionValue._editMode">{{unitOptionValue.nameFR}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="unitOptionValue._editMode" type="text" ng-model="unitOptionValue.nameFR"/>
					</div>
				</td>
				<td data-title="'global_sortingSequence' | translate" sortable="'sortingSequence'">
					<div layout="row" layout-align="start center">
						<span ng-if="!unitOptionValue._editMode">{{unitOptionValue.sortingSequence}}</span>
						<input class="cnpTextInputField cnpTextInputFieldInline" ng-if="unitOptionValue._editMode" type="number" ng-model="unitOptionValue.sortingSequence"/>
					</div>
				</td>
			</tr>
			<tr ng-hide="aDisplayedUnitOptionValues.length > 0">
				<td td colspan="5">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>