<div>{{'userDetails_title' | translate}}</div>
<md-button class="md-primary md-raised" ng-click="onBack()" md-theme="orange">{{'global_back' | translate}}</md-button>
<md-button ng-show="sMode == 'display'" class="md-primary md-raised" ng-click="onEdit()" md-theme="orange">{{'global_edit' | translate}}</md-button>
<md-button ng-show="sMode == 'edit' || sMode == 'create'" type="submit" class="md-primary md-raised" ng-click="onSave()" md-theme="orange">{{'global_save' | translate}}</md-button>
<md-button ng-show="sMode == 'edit' && sCurrentRole == sGlobalAdministratorRole" class="md-primary md-raised" ng-click="onDelete()" md-theme="orange">{{'global_delete' | translate}}</md-button>
<md-button ng-show="sMode == 'create'" type="submit" class="md-primary md-raised" ng-click="onSaveAndNew()" md-theme="orange">{{'global_saveAndNew' | translate}}</md-button>
<form name="userDetailsForm">
	<input type="text" class="cnpTextInputField" ng-model="oUser.sUserName" ng-disabled="sMode == 'display' || sMode == 'edit'" placeholder="{{'global_userName' | translate}}" ng-change="onDataModified()" required>
	<input type="email" class="cnpTextInputField" ng-model="oUser.sEmail" ng-disabled="sMode == 'display' || sCurrentRole != sGlobalAdministratorRole" placeholder="{{'global_email' | translate}}" ng-change="onDataModified()" required>
	<input type="password" class="cnpTextInputField" ng-model="oUser.sPassword" ng-if="(sMode == 'edit' || sMode == 'create') && sCurrentRole == sGlobalAdministratorRole" placeholder="{{'global_password' | translate}}" ng-change="onDataModified()" required>
	<input type="password" class="cnpTextInputField" ng-model="oUser.sPasswordConfirmation" ng-if="(sMode == 'edit' || sMode == 'create') && sCurrentRole == sGlobalAdministratorRole" placeholder="{{'global_passwordConfirmation' | translate}}" ng-change="onDataModified()" required>
	<label ng-if="sCurrentRole == sGlobalAdministratorRole">{{'global_companies' | translate}}</label>
	<div ng-if="sCurrentRole == sGlobalAdministratorRole"
		multi-select
		input-model="aCompanies"
		button-label="name"
		item-label="name"
		tick-property="ticked"
		is-disabled="sMode == 'display'"
		helper-elements=""
		on-item-click="onDataModified()"
		>
	</div>
	<label>{{'global_authorizedPhases' | translate}}</label>
	<div
		multi-select
		input-model="aPhases"
		button-label="fullName"
		item-label="name"
		tick-property="ticked"
		group-property="multiSelectGroup"
		is-disabled="sMode == 'display'"
		on-item-click="onDataModified()"
		>
	</div>
	<label>{{'global_roles' | translate}}</label>
	<div
		multi-select
		input-model="aRoles"
		button-label="name"
		item-label="name"
		tick-property="ticked"
		is-disabled="sMode == 'display'"
		helper-elements=""
		on-item-click="onDataModified()"
		>
	</div>
	<label>{{'global_avatar' | translate}}</label>
	<img style="width: 200px; height: 200px;" ng-src="{{oUser.sAvatarUrl}}"></img>
	<button ng-if="(sMode == 'edit' || sMode == 'create') && sCurrentRole == sGlobalAdministratorRole" ng-file-select accept="image/*" ng-file-change="onAvatarSelected($files, $event, $index)">{{'global_upload' | translate}}</button>
	<md-text-float ng-if="sMode == 'display' || sMode == 'edit'" label="{{'global_creationDate' | translate}}" ng-model="oUser.sCreatedAt" ng-disabled="true"> </md-text-float>
	<md-text-float ng-if="sMode == 'display' || sMode == 'edit'" label="{{'global_lastModificationDate' | translate}}" ng-model="oUser.sLastModifiedAt" ng-disabled="true"> </md-text-float>
</form>