<!-- CONTENT SECTION WITH TITLE AND BUTTON FOR SIDE BAR -->
<div class="cnpContent" layout="column">
	<!-- ACTION BAR -->
	<div layout="row" layout-align="space-between center" class="md-default-theme cnpActionBar">
		<div>
			<!-- <md-button type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon notSelectable" ng-click="onAddNew()">{{'global_addNew' | translate}}</md-button> -->
			<md-button ng-if="bDisplayAddButton" type="submit" class="md-button md-primary md-raised cnpButtonWithIcon cnpInputIcon cnpPlusIcon" ng-click="onAddNew()">
				{{'global_addNew' | translate}}
				</md-button>
		</div>
		<div layout="row" layout-align="end start">
			<label class="cnpContentTitle notSelectable">
				{{'usersList_title' | translate}}
			</label>
		</div>
	</div>
	<!-- END OF ACTION BAR -->
	<!-- NG TABLE -->
	<div layout="row" layout-align="start start" class="cnpNgTableWrapper">
		<table ng-table="tableParams" class="cnpNgTable" id="usersList" show-filter="true">
			<tbody ng-repeat="group in $groups">	
				<tr class="ng-table-group notSelectable" >
					<td colspan="{{$columns.length}}" style="overflow: visible; padding-left: 0; padding-right: 0" >
						<div class="ng-table-group-cell notSelectable" ng-click="group.$hideRows = !group.$hideRows" ng-class="{ 'ng-table-group-cell-collapsed': group.$hideRows, 'ng-table-group-cell': !group.$hideRows }">
							{{ group.value }}
						</div>
						
					</td>
				</tr>				
				<tr ng-hide="group.$hideRows" ng-repeat="user in group.data">			
	<!-- 			<tr ng-repeat="user in aDisplayedUsers"> -->
					<td data-title="'global_actions' | translate">
						<div layout="row" layout-align="center center">
							<div class="cnpInputIcon cnpViewDetailsIcon" ng-click="onDisplay(user)">
							</div>
							<div ng-if="bDisplayEditButtons" class="cnpInputIcon cnpEditDetailsIcon"  ng-click="onEdit(user)">
							</div>
						</div>
					</td>
					<td data-title="'global_associatedContact' | translate" sortable="'sAssociatedContact'" filter="{'sAssociatedContact': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{user.sAssociatedContact}}</span>
							</div>
						</div>
					</td>
					
					<td data-title="'global_userName' | translate" sortable="'userName'" filter="{'userName': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{user.userName}}</span>
							</div>
						</div>
					</td>
					<td data-title="'global_email' | translate" sortable="'email'" filter="{'email': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{user.email}}</span>
							</div>
						</div>
						
					</td>
<!-- 					<td ng-show="bIsGlobalUserAdministrator" data-title="'global_companies' | translate">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{user.sCompanies}}</span>
							</div>
						</div>
						
					</td> -->
					<td data-title="'global_roles' | translate" sortable="'sRoles'" filter="{'sRoles': 'text'}">
						<div layout="row" layout-align="start center">
							<div>
								<span>{{user.sRoles}}</span>
							</div>
						</div>
						
					</td>
				</tr>
			</tbody>
			<tr ng-if="$groups.length == 0">
				<td colspan="{{$columns.length}}">
					<div layout="row" layout-align="start center">
						<div>
							{{'global_noTableData' | translate}}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- END OF NG TABLE -->
</div>
<!-- END OF CONTENT VIEW -->